<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">Pedido</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card class="shadow" [hidden]="!this.vars.isMobileBrowser">
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <img *ngIf="!pedido.aImagen"  style="border-radius: 15px !important;" src="/assets/icon/pedido.svg" alt="sin logo">
          <img *ngIf="pedido.aImagen"  style="border-radius: 15px !important;" src="{{this.vars.BASE_URL}}/public/img/lugares/{{pedido.aImagen}}" alt="sin logo">
        </ion-col>
        <ion-col size="9">
          <ion-row class="title">
            {{pedido.aNombreLugar}}
          </ion-row>
          <ion-row class="info" *ngIf="pedido.fFechaHoraEntrega != null">
            Llegó el {{pedido.fFechaHoraEntrega}}
          </ion-row>
          <ion-row class="info">
            {{ pedido.dTotal | currency }}
          </ion-row>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="pedido.aObservacionPedido != null"><strong>Descripción</strong></ion-row>
      <ion-row *ngIf="pedido.aObservacionPedido != null" class="info p">{{pedido.aObservacionPedido}}</ion-row>

      <ion-row *ngIf="pedido.idTipoPedido == 1"><strong>Dirección de envio</strong></ion-row>
      <ion-row *ngIf="pedido.idTipoPedido == 1" class="info p">{{pedido.aDireccionDestino}}</ion-row>

      <ion-row><strong>Fecha de generación</strong></ion-row>
      <ion-row class="info p">{{pedido.fFechaHoraAlta}}</ion-row>


      <ion-row *ngIf="pedido.lAdelantado" ><strong>Fecha estimada de entrega</strong></ion-row>
      <ion-row *ngIf="pedido.lAdelantado" class="info p">{{pedido.fFechaEntregaFormateada}}</ion-row>


      <ion-row *ngIf="(pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago == 1 && pedido.fFechaHoraEntrega != null) || (pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago != 1)"><strong>Fecha de pago</strong></ion-row>
      <ion-row class="info p" *ngIf="(pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago == 1 && pedido.fFechaHoraEntrega != null) || (pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago != 1)">{{pedido.fFechaHoraPago}}</ion-row>

      <ion-row *ngIf="pedido.fFechaHoraEntrega != null"><strong>Fecha de entrega</strong></ion-row>
      <ion-row class="info p" *ngIf="pedido.fFechaHoraEntrega != null">{{pedido.fFechaHoraEntrega}}</ion-row>

      <ion-row>
        <ion-col style="padding-top: 12px;">
          <strong>Forma de pago: </strong>
          <ion-row class="info p">
            <ion-label *ngIf="!pedido.isShowCambiarMetodoPago">{{pedido.aFormaPago}}</ion-label>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="pedido.idStatusPago != 1 && !pedido.isShowCambiarMetodoPago" size="3" style="text-align: right !important;">
          <ion-button style="color: #222 !important;" fill="clear" size="mall" (click)="cambiarMetodoPago(pedido)"><strong>CAMBIAR</strong></ion-button>
        </ion-col>
        <ion-col *ngIf="pedido.idStatusPago != 1 && pedido.isShowCambiarMetodoPago" size="3" style="text-align: right !important;">
          <ion-button style="color: #222 !important;"  fill="clear" size="mall" (click)="cambiarMetodoPago(pedido)"><strong>GUARDAR</strong></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="showFormasPago" *ngIf="pedido.isShowCambiarMetodoPago">
        <ion-col>
        <ion-list>
              <ion-radio-group [(ngModel)]="pedido.idFormaPagoAux" name="radiopago" >
                <ion-item lines="none" *ngFor="let pago of this.vars.formasPago">
                  <ion-label>{{pago.aFormaPago}}</ion-label>
                  <ion-radio color="naranja" name="radiopago" value="{{pago.idFormaPagoAux}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
              </ion-list>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="pedido.dCalificacion != null"><ion-col><strong>Calificación</strong></ion-col></ion-row>
      <ion-row *ngIf="pedido.dCalificacion != null">
        <ion-item lines="none">
          <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=1" name="star-outline"></ion-icon>
          <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=2" name="star-outline"></ion-icon>
          <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=3" name="star-outline"></ion-icon>
          <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=4" name="star-outline"></ion-icon>
          <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=5" name="star-outline"></ion-icon>
          <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion==0" name="star-outline"></ion-icon>
          <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=1" name="star-outline"></ion-icon>
          <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=2" name="star-outline"></ion-icon>
          <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=3" name="star-outline"></ion-icon>
          <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=4" name="star-outline"></ion-icon>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="pedido.aComentarioCalificacion != null && pedido.aComentarioCalificacion != '' ">
          <strong>Comentario: </strong>{{pedido.aComentarioCalificacion}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="pedido.idTipoPedido == 1">
          <strong>Tipo de Pedido: </strong>a domicilio
        </ion-col>
        <ion-col *ngIf="pedido.idTipoPedido == 2">
          <strong>Tipo de Pedido: </strong>recoger en iniciativa
        </ion-col>
        <ion-col *ngIf="pedido.idTipoPedido == 3">
          <strong>Tipo de Pedido: </strong>presencial
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pedido.lAdelantado" >
        <ion-col>
          <strong style="text-decoration: underline;text-decoration-style:solid; font: size 18px !important; color: #ff742d !important; font-weight: bold;">Pedido por adelantado</strong>
        </ion-col>
        <ion-col *ngIf="pedido.fFechaHoraAdelantado != null">
          <strong style="text-decoration: underline;text-decoration-style:solid; font: size 18px !important; color: #ff742d !important; font-weight: bold;">Listo</strong>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="text-align: right !important;">
          <strong>SubTotal: {{pedido.dCostoPedido|currency}}</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: right !important;">
          <strong>Costo de envío: {{pedido.dCostoEnvio|currency}}</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pedido.dDescuento != null">
        <ion-col style="text-align: right !important;">
          <strong>Descuento: {{pedido.dDescuento|currency}}</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: right !important;">
          <strong>Total: {{pedido.dTotal|currency}}</strong>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!pedido.isShowCambiarMetodoPago">
        <ion-col *ngIf="pedido.idFormaPago != 1 && pedido.fFechaHoraPago == null" style="text-align: right !important;">
          <ion-button color="color-base" shape="round" (click)="this.goToPagar(pedido)"  >Pagar</ion-button>
        </ion-col>
        <ion-col *ngIf="pedido.idTipoPedido == 1 && pedido.fFechaHoraCalificacion == null && pedido.fFechaHoraPago != null && pedido.fFechaHoraEntrega != null" style="text-align: right !important;">
          <ion-button  color="color-base" shape="round" (click)="goToCalificar(pedido)" >Confirmar y calificar</ion-button>
        </ion-col>
        <ion-col *ngIf="pedido.idTipoPedido != 1 && pedido.fFechaHoraCalificacion == null && pedido.fFechaHoraPago != null" style="text-align: right !important;">
          <ion-button color="color-base" shape="round" (click)="goToCalificar(pedido)" >Confirmar y calificar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
</ion-card>
<ion-card class="shadow" [hidden]="this.vars.isMobileBrowser">
  <ion-card-content>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <img *ngIf="!pedido.aImagen"  style="border-radius: 15px !important; height: 150px;" src="/assets/icon/pedido.svg" alt="sin logo">
        <img *ngIf="pedido.aImagen"  style="border-radius: 15px !important;" src="{{this.vars.BASE_URL}}/public/img/lugares/{{pedido.aImagen}}" alt="sin logo">
      </ion-col>
      <ion-col size="9">
        <ion-row class="title">
          {{pedido.aNombreLugar}}
        </ion-row>
        <ion-row class="info" *ngIf="pedido.fFechaHoraEntrega != null">
          Llegó el {{pedido.fFechaHoraEntrega}}
        </ion-row>
        <ion-row class="info">
          {{ pedido.dTotal | currency }}
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="pedido.aObservacionPedido != null"><strong>Descripción</strong></ion-row>
    <ion-row *ngIf="pedido.aObservacionPedido != null" class="info p">{{pedido.aObservacionPedido}}</ion-row>

    <ion-row *ngIf="pedido.idTipoPedido == 1"><strong>Dirección de envio</strong></ion-row>
    <ion-row *ngIf="pedido.idTipoPedido == 1" class="info p">{{pedido.aDireccionDestino}}</ion-row>

    <ion-row><strong>Fecha de generación</strong></ion-row>
    <ion-row class="info p">{{pedido.fFechaHoraAlta}}</ion-row>


    <ion-row *ngIf="pedido.lAdelantado" ><strong>Fecha estimada de entrega</strong></ion-row>
    <ion-row *ngIf="pedido.lAdelantado" class="info p">{{pedido.fFechaEntregaFormateada}}</ion-row>


    <ion-row *ngIf="(pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago == 1 && pedido.fFechaHoraEntrega != null) || (pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago != 1)"><strong>Fecha de pago</strong></ion-row>
    <ion-row class="info p" *ngIf="(pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago == 1 && pedido.fFechaHoraEntrega != null) || (pedido.fFechaHoraPago != null && pedido.idStatusPago == 1 && pedido.idFormaPago != 1)">{{pedido.fFechaHoraPago}}</ion-row>

    <ion-row *ngIf="pedido.fFechaHoraEntrega != null"><strong>Fecha de entrega</strong></ion-row>
    <ion-row class="info p" *ngIf="pedido.fFechaHoraEntrega != null">{{pedido.fFechaHoraEntrega}}</ion-row>

    <ion-row>
      <ion-col style="padding-top: 12px;">
        <strong>Forma de pago: </strong>
        <ion-row class="info p">
          <ion-label *ngIf="!pedido.isShowCambiarMetodoPago">{{pedido.aFormaPago}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="pedido.idStatusPago != 1 && !pedido.isShowCambiarMetodoPago" size="3" style="text-align: right !important;">
        <ion-button style="color: #222 !important;" fill="clear" size="mall" (click)="cambiarMetodoPago(pedido)"><strong>CAMBIAR</strong></ion-button>
      </ion-col>
      <ion-col *ngIf="pedido.idStatusPago != 1 && pedido.isShowCambiarMetodoPago" size="3" style="text-align: right !important;">
        <ion-button style="color: #222 !important;"  fill="clear" size="mall" (click)="cambiarMetodoPago(pedido)"><strong>GUARDAR</strong></ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="showFormasPago" *ngIf="pedido.isShowCambiarMetodoPago">
      <ion-col>
      <ion-list>
            <ion-radio-group [(ngModel)]="pedido.idFormaPagoAux" name="radiopago" >
              <ion-item lines="none" *ngFor="let pago of this.vars.formasPago">
                <ion-label>{{pago.aFormaPago}}</ion-label>
                <ion-radio color="naranja" name="radiopago" value="{{pago.idFormaPagoAux}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
            </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="pedido.dCalificacion != null"><ion-col><strong>Calificación</strong></ion-col></ion-row>
    <ion-row *ngIf="pedido.dCalificacion != null">
      <ion-item lines="none">
        <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=1" name="star-outline"></ion-icon>
        <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=2" name="star-outline"></ion-icon>
        <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=3" name="star-outline"></ion-icon>
        <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=4" name="star-outline"></ion-icon>
        <ion-icon color="amarillo" *ngIf="pedido.dCalificacion>=5" name="star-outline"></ion-icon>
        <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion==0" name="star-outline"></ion-icon>
        <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=1" name="star-outline"></ion-icon>
        <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=2" name="star-outline"></ion-icon>
        <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=3" name="star-outline"></ion-icon>
        <ion-icon style="color: #ececec !important;" *ngIf="pedido.dCalificacion<=4" name="star-outline"></ion-icon>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="pedido.aComentarioCalificacion != null && pedido.aComentarioCalificacion != '' ">
        <strong>Comentario: </strong>{{pedido.aComentarioCalificacion}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="pedido.idTipoPedido == 1">
        <strong>Tipo de Pedido: </strong>a domicilio
      </ion-col>
      <ion-col *ngIf="pedido.idTipoPedido == 2">
        <strong>Tipo de Pedido: </strong>recoger en iniciativa
      </ion-col>
      <ion-col *ngIf="pedido.idTipoPedido == 3">
        <strong>Tipo de Pedido: </strong>presencial
      </ion-col>
    </ion-row>
    <ion-row *ngIf="pedido.lAdelantado" >
      <ion-col>
        <strong style="text-decoration: underline;text-decoration-style:solid; font: size 18px !important; color: #ff742d !important; font-weight: bold;">Pedido por adelantado</strong>
      </ion-col>
      <ion-col *ngIf="pedido.fFechaHoraAdelantado != null">
        <strong style="text-decoration: underline;text-decoration-style:solid; font: size 18px !important; color: #ff742d !important; font-weight: bold;">Listo</strong>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: right !important;">
        <strong>SubTotal: {{pedido.dCostoPedido|currency}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right !important;">
        <strong>Costo de envío: {{pedido.dCostoEnvio|currency}}</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="pedido.dDescuento != null">
      <ion-col style="text-align: right !important;">
        <strong>Descuento: {{pedido.dDescuento|currency}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right !important;">
        <strong>Total: {{pedido.dTotal|currency}}</strong>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!pedido.isShowCambiarMetodoPago">
      <ion-col *ngIf="pedido.idFormaPago != 1 && pedido.fFechaHoraPago == null" style="text-align: right !important;">
        <ion-button color="color-base" shape="round" (click)="this.goToPagar(pedido)"  >Pagar</ion-button>
      </ion-col>
      <ion-col *ngIf="pedido.idTipoPedido == 1 && pedido.fFechaHoraCalificacion == null && pedido.fFechaHoraPago != null && pedido.fFechaHoraEntrega != null" style="text-align: right !important;">
        <ion-button  color="color-base" shape="round" (click)="goToCalificar(pedido)" >Confirmar y calificar</ion-button>
      </ion-col>
      <ion-col *ngIf="pedido.idTipoPedido != 1 && pedido.fFechaHoraCalificacion == null && pedido.fFechaHoraPago != null" style="text-align: right !important;">
        <ion-button color="color-base" shape="round" (click)="goToCalificar(pedido)" >Confirmar y calificar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-row class="title" style="padding-left: 15px; padding-top: 20px;">
    <strong>Ayuda con la compra</strong>
  </ion-row>
  <ion-card-content>
    <ion-row class="info" *ngFor="let item of mensajesAyuda" (click)="goToAyudaCompra(item)">
      <div class="divider-custom"></div>
      <p style="padding-left: 10px; padding-top: 15px; padding-bottom: 15px;">
        {{item.aMensaje}}
      </p>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-row (click)="goToDetalleCompra()">
      <ion-col size="10" style="padding-left: 15px; padding-top: 15px;">
        <strong>
          Detalle de la compra
        </strong>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small"  mode="ios">
          <ion-icon slot="icon-only" style="color: #222 !important;" name="chevron-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-card>
<ion-card *ngIf="pedido.fFechaHoraEntrega == null && pedido.idTipoPedido == 1 && pedido.lAdelantado && pedido.lAdelantadoBandera==1" (click)="goToSeguimientoPedido(pedido)">
    <ion-row>
      <ion-col size="10" style="padding-left: 15px; padding-top: 15px;">
        <strong>
          Seguimiento de pedido
        </strong>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small"  mode="ios">
          <ion-icon slot="icon-only" style="color: #222 !important;" name="chevron-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-card>

<ion-card *ngIf="pedido.fFechaHoraEntrega == null && pedido.idTipoPedido == 1 && !pedido.lAdelantado" (click)="goToSeguimientoPedido(pedido)">
  <ion-row>
    <ion-col size="10" style="padding-left: 15px; padding-top: 15px;">
      <strong>
        Seguimiento de pedido
      </strong>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" size="small" mode="ios">
        <ion-icon slot="icon-only" style="color: #222 !important;" name="chevron-forward" mode="ios"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>
<app-menu></app-menu>
