<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important; color: #222;">
        COMENTARIOS
      </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="shadow" *ngIf="this.vars.isComentarios" style="background: #ececec; padding-top:-10px; padding-left:20px; padding-right:20px;">
    <div class="box sb shadow" *ngFor="let item of this.vars.comentarios">
      <ion-row>
        <ion-label>
          {{item.aComentario}}
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right ion-no-padding">
          <span style="font-weight: 500;">{{item.fFechaHoraAlta}}</span>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <ion-card *ngIf="this.vars.comentarios.length == 0" style="height: 95% !important; background-image: url('assets/icon/backgroundCentrado.svg'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <ion-card-content>
      <ion-row>
        <ion-col style="text-align: center !important;">
          <strong>No hay comentarios disponibles.</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
