.box {
  margin: 50px auto;
  border-radius: 15px;
  background: var(--ion-color-color-base);
  color: #222;
  padding: 20px;
  text-align: left;
  font-weight: 900;
  position: relative;
}

.sb:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid var(--ion-color-color-base);
  border-right: 15px solid transparent;
  border-top: 15px solid var(--ion-color-color-base);
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}
