<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
</ion-header>

<ion-content color="blanco">

  <div class="myCard">
    <img src="assets/imgs/5.JPG" alt="" style="width: 100%; height: 400px; object-fit: cover;margin: 0px;padding: 0px;border: 0px;">
    <div class="myOverlay">
      <div class="center" style="text-align: center !important;">
        <p style=" color:#fff;font-size: 28px; font-weight: bold;">REDES ALIMENTARIAS ECOSOLIDARIAS</p>

        <p style=" color:#fff;font-size: 24px; font-weight: bold;"><a href=""  style="text-decoration: none;font-size: 24px; font-weight: bold;" class="ref"> Inicio</a> / Blog</p>
      </div>
    </div>
  </div>

  <div class="separador"></div>

  <ion-row *ngIf="isBlog">
    <ion-col [ngClass]="{'contenedor-general': !vars.isMobileBrowser}">
      <div class="contenedor-blog">
        <ion-row>
          <ion-col class="ion-no-padding" [size]="colSizeImg">
            <ion-img src="{{vars.BASE_URL}}/public/img/blog/{{blog.aImagen}}"></ion-img>
          </ion-col>
          <ion-col [size]="colSize">
             <ion-row>
               <ion-col>
                 <ion-label color="negro" style="text-transform: uppercase;">
                   <strong>{{blog.aTitulo}}</strong>
                 </ion-label>
               </ion-col>
             </ion-row>
             <ion-row>
               <ion-col>
                 <ion-text style="color: #666666;">
                   {{blog.fFechaHoraAlta}}
                 </ion-text>
               </ion-col>
             </ion-row>
             <ion-row>
               <ion-col>
                <ion-label color="negro" [innerHTML]="blog.aNota"></ion-label>
               </ion-col>
             </ion-row>
             <!-- <ion-row>
               <ion-col>
                 <ion-row>
                   <ion-label color="negro" style="padding-top: 15px;">
                     Herramientas disponibles:
                   </ion-label>
                 </ion-row>
                 <ion-row>
                   <ion-button class="ion-no-padding" href="https://www.youtube.com/watch?v=rILdbcLKCko&list=PLJc5YI6FsAYIHpKz2L0TDxA_UNkmYw_-g" fill="clear" color="primary">
                     <strong>Acceso Curso CANVA</strong>
                   </ion-button>
                 </ion-row>
                 <ion-row>
                   <ion-button class="ion-no-padding" href="https://www.youtube.com/watch?v=F_Hv2ltxliw&list=PLJc5YI6FsAYLdBLjB3LZ_bYndOXqQhYY4" fill="clear" color="primary">
                     <strong>Acceso Curso KOBOTOOLBOX</strong>
                   </ion-button>
                 </ion-row>
                 <ion-row>
                   <ion-button class="ion-no-padding" href="https://www.youtube.com/watch?v=BmOPA86ByBA&list=PLJc5YI6FsAYJ6r63EycBCpojjiKfWAGuC" fill="clear" color="primary">
                     <strong>Acceso Curso WIX</strong>
                   </ion-button>
                 </ion-row>
               </ion-col>
             </ion-row> -->
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isBlog">
    <ion-col [ngClass]="{'contenedor-general': !vars.isMobileBrowser}">
      <ion-row>
        <ion-col style="padding-bottom: 20px;">
          <ion-label color="negro" style="font-size: 1.2em;">
            <strong>
              COMENTARIOS
            </strong>
          </ion-label>
        </ion-col>
      </ion-row>

      <div *ngFor="let item of blog.comentarios" style="padding-top: 20px; border-bottom: solid 1px #ececec;">
        <ion-row>
          <ion-col>
            <ion-text color="negro"><strong>INVITADO</strong></ion-text><ion-text style="color:#666666;"> <small> {{item.fFechaHoraAlta | date:'medium'}} </small></ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="padding-bottom: 20px;">
          <ion-col>
            <ion-label class="subtitle">
              {{item.aComentario}}
            </ion-label>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col style="padding-top: 60px; padding-bottom: 20px;">
          <ion-label color="negro" style="font-size: 1.2em;">
            <strong>
              HAZ UN COMENTARIO:
            </strong>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
         <ion-textarea [(ngModel)]="this.comentario" color="negro" rows="8" placeholder="Mensaje"></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="goToPostComment(this.comentario)" color="verde">
            Enviar
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

 <app-redal-footer></app-redal-footer>
</ion-content>
<app-menu></app-menu>
