.contenedor-blog {
  border: solid 1px #ececec;
  background: #fff;
}

.contenedor-general {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
}

ion-textarea {
  border: solid 1px #ececec;
}

a {
  color:#fff
}

a:hover {
  color: rgb(129, 176, 63)
}
