<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="vars.isCategoriasHome" style="background: #fff; padding-left: 5px; padding-top:15px;">

    <ion-row style="padding-bottom: 50px;">
      <ion-col class="ion-text-center" style="padding-top: 20px; height: 70px; background-image: url('assets/imgs/symbol-02.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
        <ion-label color="verde" class="title">Elige una categoría</ion-label>
      </ion-col>
    </ion-row>

    <img *ngIf="!vars.isMobileBrowser" class="img-vermas" src="assets/icon/vermas.svg" alt="mas">

    <ion-slides [options]="slideCategoriasOpts">
      <ion-slide *ngFor="let item of vars.categoriasHome; let i = index;" style="padding-bottom: 15px;">
        <ion-card class="bordes sobre border-radius-card">
          <ion-card-content class="bordes">
            <img style="background: #ff742d; height: {{categoriaImgHeight}}; width: 100%; border-radius: 0px !important;" (click)="goToCategoria(item.subcategorias,item.idCategoria1,item.aNombreCategoria1)" src="{{imgs[i]}}" alt="">
          </ion-card-content>
          <ion-button fill="clear" color="blanco" style="font-size: {{tituloCategoriaSize}} !important;">{{item.aNombreCategoria1}}</ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="separador"></div>

  <app-redal-footer></app-redal-footer>
</ion-content>
<app-menu></app-menu>
