.img-vermas {
  z-index: 2;
  position:absolute;
  left: 90%;
  float: right;
  padding-top:230px;
}

.sobre {
  position: relative;
  display: inline-block;
}

.sobre ion-button {
  position: absolute;
  top: calc(75%);
  left: calc(0%);
}

.border-radius-card {
  border-radius: 10px;
}
