ion-card{
    border-radius: 0px !important;
    position: relative;
    box-shadow: none !important;
    border-style: none !important;
  }

  ion-title{
   padding-top: 0px !important;
  }

  ion-content{
    border: 0.7px solid rgba(0, 0, 0, 0.3) !important;
  }

  ion-content > .scroll-content{
    margin-bottom: 0px;
  }
