<ion-header>
  <ion-toolbar color="blanco">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
          <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important; color: #222;">BIENVENIDO</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding: 0px !important; background: #fff !important; border-radius: 8px !important;">

   <ion-card style="background-image: url('{{this.fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center 20px;">
       <div style="padding-top: {{this.padding}} !important;">

           <ion-card-content>
             <ion-row>
               <ion-col>
                 <input class="shadow" type="text" placeholder="Ingresa tu correo electronico" (keyup.enter)="goToLoginPropio()" [(ngModel)]="email" style="padding-left: 20px !important; background: #fff !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
               </ion-col>
             </ion-row>
             <ion-row>
               <ion-col>
                 <input class="shadow" type="password" placeholder="Ingresa tu contraseña" (keyup.enter)="goToLoginPropio()" [(ngModel)]="pass" style="padding-left: 20px !important; background: #fff !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
               </ion-col>
             </ion-row>

             <ion-row>
             <ion-col style="text-align: center !important;">
               <ion-button shape="round" color="color-base" ion-button (click)="goToLoginPropio()">
                   Iniciar sesión
               </ion-button>
             </ion-col>
             </ion-row>
             <ion-row>
               <ion-col style="text-align: center !important; padding-top: 10px !important;">
                 <p (click)="goToRecuperarContrasena()" style="color: #222 !important;">¿Olvidaste tu contraseña?</p>
               </ion-col>
             </ion-row>
           </ion-card-content>
       </div>
     </ion-card>

  </ion-content>
