<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear"  (click)="closeModal()">
        <ion-icon slot="icon-only" style="zoom:1.2; color: #222;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-card >
          <ion-card-header class="ion-padding">
            Relaiza el pago con:
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
          </ion-card-content>
          <div id="paypal-button" ></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

