ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ion-content {
    --background: url('/assets/img/background/stripe.svg') no-repeat 100% 100%;
}
