.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .has-card-footer {
    height: 80%;
    padding-bottom: 50px;
  }

  ion-content > .scroll-content{
    margin-bottom: 0px;
  }
