<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
        <strong style="font-size: 15px !important;">CONFIGURACIÓN</strong>
    </ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content style="background: #fff !important;">
  <ion-card *ngIf="isEstados" class="has-card-footer">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>Elige un estado y activa el GPS para tener una mejor experiencia de uso</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="this.vars.idEstado" (ionChange)="checkContenido()">
        <ion-select-option [value]="0">Ninguno</ion-select-option>
        <ion-select-option *ngFor="let item of estados" value="{{item.idEstado}}">{{item.aNombreEstado}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item *ngIf="!this.location.ok" (click)="goToAlert()" style="padding-right: 5px;">
      <ion-icon style="zoom: 1.2; color: #ba1614 !important;" name="navigate" slot="end"></ion-icon>
      <h3 style="color: #ba1614 !important;">GPS desactivado, activalo aquí</h3>
    </ion-item> -->
    <hr>
    <ion-row *ngIf="this.vars.idEstado != null">
      <ion-col class="ion-text-center" style="padding-bottom: 30px;">
        <ion-button fill="clear" style="border-radius: 20px !important;" color="color-base" (click)="goBack()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
