<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">PEDIDOS CANCELADOS</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="this.vars.isPedidosPendientes">
  <ion-card *ngFor="let item of this.vars.pedidosCancelados" class="card-space">
      <ion-card-header>
        {{item.aNombreLugar}}
      </ion-card-header>
      <ion-card-content>

        <ion-row>
          <ion-col *ngIf="item.aObservacionPedido != null">
            <strong>Descripción</strong>
          </ion-col>
          <ion-col style="text-align: right !important;" *ngIf="item.fFechaHoraCancelacion != null">
            <strong style="color: #f53d3d !important;">Pedido cancelado</strong>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.aObservacionPedido != null" class="p">{{item.aObservacionPedido}}</ion-row>

        <ion-row *ngIf="item.idTipoPedido == 1"><ion-col><strong>Dirección de envío</strong></ion-col></ion-row>
        <ion-row *ngIf="item.idTipoPedido == 1" class="p">{{item.aDireccionDestino}}</ion-row>

        <ion-row><ion-col><strong>Fecha de pedido</strong></ion-col></ion-row>
        <ion-row class="p">{{item.fFechaHoraAlta}}</ion-row>

        <ion-row *ngIf="item.fFechaHoraPago != null"><ion-col><strong>Fecha de pago</strong></ion-col></ion-row>
        <ion-row class="p" *ngIf="item.fFechaHoraPago != null">{{item.fFechaHoraPago}}</ion-row>

        <ion-row *ngIf="item.fFechaHoraCancelacion != null"><ion-col><strong>Fecha de cancelación</strong></ion-col></ion-row>
        <ion-row class="p" *ngIf="item.fFechaHoraCancelacion != null">{{item.fFechaHoraCancelacion}}</ion-row>

        <ion-row *ngIf="item.aFormaPago != null"><ion-col><strong>Forma de pago</strong></ion-col></ion-row>
        <ion-row class="p" *ngIf="item.aFormaPago != null">{{item.aFormaPago}}</ion-row>

        <ion-row>
          <ion-col style="text-align: right !important; padding-right: 5px !important;">
            <strong>Montó: ${{item.dTotal}}</strong>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
</div>

<ion-card *ngIf="!this.vars.isPedidosPendientes" style="height: 95% !important; background-image: url('{{fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <ion-card-content>
    <ion-row>
      <ion-col style="text-align: center !important;">
      <strong>No tienes ningún pedido cancelado.</strong>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

</ion-content>
<app-menu></app-menu>
