.estilo{
    border-bottom: 12px solid var(--ion-color-color-base);
  }

  .anima{
    animation: slide 2.0s;
  }

  @keyframes slide {
    0% { transform: translateX(-100%) rotate(0deg); }
    100% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(0%) rotate(0deg); }
  }
