<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">DETALLE DEL SERVICIO</strong>
    </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
       <ion-card class="anima" *ngIf="isServicio">
         <ion-card-header>
           <ion-row>
             <ion-col>
               {{servicio.aNombreServicio}}
             </ion-col>
           </ion-row>
         </ion-card-header>
         <ion-card-content class="estilo">
           <ion-row>
             <img style="width:100%; height:auto" src="{{this.vars.BASE_URL+'/public/img/servicios/'+servicio.aImagen}}" />
           </ion-row>
           <ion-card>
             <ion-card-content>
               <ion-row>
                 <ion-col>
                   <strong>INFORMACIÓN</strong>
                 </ion-col>
               </ion-row>
               <div style="padding-left: 20px;">
                 <ion-row>
                   <ion-col>
                     <strong>Descripción del servicio</strong>
                   </ion-col>
                 </ion-row>
                 <ion-row>
                   <ion-col>
                      <p [innerHTML]="servicio.aDescripcionServicio"></p>
                   </ion-col>
                 </ion-row>
                 <ion-row>
                   <ion-col>
                     <strong>Categoría del servicio</strong>
                   </ion-col>
                 </ion-row>
                 <ion-row>
                   <ion-col>
                     <p>{{servicio.aNombreCategoriaServicio}}</p>
                   </ion-col>
                 </ion-row>
                 <ion-row>
                   <ion-col>
                     <strong>Prestador del servicio</strong>
                   </ion-col>
                 </ion-row>
                 <ion-row>
                   <ion-col>
                     <p>{{servicio.aPrestador}}</p>
                   </ion-col>
                 </ion-row>
                 <ion-row>
                   <ion-col>
                     <strong>Dirección</strong>
                   </ion-col>
                 </ion-row>
                 <ion-row>
                   <ion-col>
                     <p>{{servicio.aDireccion}}</p>
                   </ion-col>
                 </ion-row>
               </div>
             </ion-card-content>
           </ion-card>
           <ion-card>
             <ion-card-content>
               <ion-row>
                 <ion-col>
                   <strong>CONTACTO</strong>
                 </ion-col>
               </ion-row>
               <ion-row *ngIf="servicio.aEmail != null">
                 <ion-col size="2">
                  <a href="mailto:{{servicio.aEmail}}">
                   <ion-button fill="clear">
                     <ion-icon slot="icon-only" color="negro" name="mail-outline"></ion-icon>
                   </ion-button>
                 </a>
               </ion-col>
                 <ion-col style="padding-top: 5px !important;">
                   <p>{{servicio.aEmail}}</p>
                 </ion-col>
               </ion-row>
               <ion-row *ngIf="servicio.aTelefono != null">
                 <ion-col size="2">
                   <a href="tel:{{servicio.aTelefono}}">
                     <ion-button fill="clear">
                       <ion-icon slot="icon-only" color="negro" name="call-outline"></ion-icon>
                     </ion-button>
                   </a>
                 </ion-col>
                 <ion-col>
                   <p>{{servicio.aTelefono}}</p>
                 </ion-col>
               </ion-row>
               <ion-row *ngIf="servicio.aWhatsapp != null">
                 <ion-col size="2">
                   <ion-button fill="clear" (click)="goToWhats('https://wa.me/521',servicio.aWhatsapp)">
                     <ion-icon slot="icon-only" color="negro" name="logo-whatsapp"></ion-icon>
                   </ion-button>
                 </ion-col>
                 <ion-col>
                   <p>{{servicio.aWhatsapp}}</p>
                 </ion-col>
               </ion-row>
               <ion-row *ngIf="servicio.aWebsite != null" (click)="goToWeb('',servicio.aWebsite)">
                 <ion-col size="2">
                   <ion-button fill="clear">
                     <ion-icon slot="icon-only" color="negro" name="cloud-circle"></ion-icon>
                   </ion-button>
                 </ion-col>
                 <ion-col>
                   <p>
                     <a href="javascript:void(0)">{{_getUrlSocialNetwork('',servicio.aWebsite)}}</a>
                   </p>
                 </ion-col>
               </ion-row>
               <ion-row *ngIf="servicio.aFacebook != null" (click)="goToWeb('https://www.facebook.com/',servicio.aFacebook)">
                 <ion-col size="2">
                   <ion-button fill="clear">
                     <ion-icon slot="icon-only" color="negro" name="logo-facebook"></ion-icon>
                   </ion-button>
                 </ion-col>
                 <ion-col>
                   <p>
                     <a href="javascript:void(0)">{{_getUrlSocialNetwork('https://www.facebook.com/',servicio.aFacebook)}}</a>
                   </p>
                 </ion-col>
               </ion-row>
               <ion-row *ngIf="servicio.aInstagram != null" (click)="goToWeb('https://www.instagram.com/',servicio.aInstagram)">
                 <ion-col size="2">
                   <ion-button fill="clear">
                     <ion-icon slot="icon-only" color="negro" name="logo-instagram"></ion-icon>
                   </ion-button>
                 </ion-col>
                 <ion-col>
                   <p>
                     <a href="javascript:void(0)">{{_getUrlSocialNetwork('https://www.instagram.com/',servicio.aInstagram)}}</a>
                   </p>
                 </ion-col>
               </ion-row>
             </ion-card-content>
           </ion-card>
         </ion-card-content>
       </ion-card>
 </ion-content>
 <app-menu></app-menu>
