<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">NOTIFICACIONES</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="compartir()">
        <ion-icon slot="icon-only" style="zoom:1.2 !important;" name="share-social-outline" color="color-base"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #f4f3ef !important;">
  <ion-refresher (ionRefresh)="doRefresh($event)" >
      <ion-refresher-content ></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="isNotificaciones">
    <ion-card-header>
      <ion-row>
       <ion-col class="titulo" style="margin:0px !important; padding:14px !important;">
         <strong style="color:#222 !important;">NO LEÍDAS</strong>
       </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let noLeida of noLeidas" style="padding: 0px !important;"
          (click)="seeNotification(noLeida['idNotificacion'],noLeida['aImagen'], noLeida['aDescripcion'], noLeida['lRecibida'], noLeida['fecha'], noLeida['hora'])"  class="card-space">
          <ion-thumbnail>
            <img  src="{{noLeida['aImagen']}}">
          </ion-thumbnail>
          <h2 [innerHTML]="noLeida['aDescripcion']"></h2>
          <p>{{noLeida['fecha']}}</p>
          <ion-note>{{noLeida['hora']}}</ion-note>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isNotificaciones"  class="card-space">
    <ion-card-header>
      <ion-row>
       <ion-col class="titulo" style="margin:0px !important; padding:14px !important;">
         <strong style="color:#222 !important;">LEÍDAS</strong>
       </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let leida of leidas" style="padding: 0px !important;"
          (click)="seeNotification(leida['idNotificacion'],leida['aImagen'], leida['aDescripcion'], leida['lRecibida'], leida['fecha'], leida['hora'])">
          <ion-thumbnail>
            <img src="{{leida['aImagen']}}">
          </ion-thumbnail>
            <h2 [innerHTML]="leida['aDescripcion']"></h2>
          <p>{{leida['fecha']}}</p>
          <ion-note>{{leida['hora']}}</ion-note>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isNotificaciones" style="height: 95% !important; background-image: url('{{fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <ion-card-content>
      <ion-row>
        <ion-col style="text-align: center !important;">
        <strong>No hay notificaciones para mostrar.</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
<app-menu></app-menu>
