<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
</ion-header>

<ion-content>

  <div class="myCard">
    <img src="assets/imgs/5.JPG" alt="" style="width: 100%; height: 400px; object-fit: cover;margin: 0px;padding: 0px;border: 0px;">
    <div class="myOverlay">
      <div class="center" style="text-align: center !important;">
        <p style=" color:#fff;font-size: 28px; font-weight: bold;">REDES ALIMENTARIAS ECOSOLIDARIAS</p>

        <p style=" color:#fff;font-size: 24px; font-weight: bold;"><a href=""  style="text-decoration: none;font-size: 24px; font-weight: bold;" class="ref"> Inicio</a> / Blog</p>
      </div>
    </div>
  </div>

  <div class="separador"></div>

  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col class="ion-padding" *ngFor="let item of blogs" [size]="colSize" (click)="goToBlogDetail(item.idPost)">
        <ion-row class="efecto-img">
          <ion-img src="{{vars.BASE_URL}}/public/img/blog/{{item.aImagen}}"></ion-img>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="title efecto">
              {{item.aTitulo}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subtitle" [innerHTML]="item.aNota"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="efecto ion-no-padding" style="color: #666666;" fill="clear">
              LEER POST
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

 <app-redal-footer></app-redal-footer>
</ion-content>
<app-menu></app-menu>
