<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear"  (click)="closeModal()">
        <ion-icon slot="icon-only" style="zoom:1.2; color: #222;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="border-radius: 8px !important;">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-card style="background-image: url('assets/icon/backgroundTarjeta.svg'); background-size: 50%,50%; background-repeat: no-repeat; background-position: center 40px;">
          <ion-card-header padding>
             Ingresa los datos de tu tarjeta
          </ion-card-header>
          <ion-card-content no-padding>
             <div style="padding-top: 35% !important;">
            <form action="/" method="post" id="payment-form">
              <div class="form-row">
                <div id="card-element"></div>
                <div id="card-errors" role="alert"></div>
              </div>
              <ion-row>
                <ion-col class="ion-text-right">
                  <ion-button shape="round" color="color-base" >Pagar</ion-button>
                </ion-col>
              </ion-row>
            </form>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 

</ion-content>

