ion-card{
    border-radius: 0px !important;
    position: relative;
    box-shadow: none !important;
    border-style: none !important;
  }

  ion-title{
   padding-top: 0px !important;
  }

  ion-header{
   border-radius: 8px !important;
  }

  ion-navbar{
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    border: 0.7px solid rgba(0, 0, 0, 0.3) !important;
    padding-top: 0px !important;
  }

  ion-content{
    border: 0.7px solid rgba(0, 0, 0, 0.3) !important;
  }

  ion-content > .scroll-content{
    margin-bottom: 10px;
  }

  .bordes{
    border-radius: 30px !important;
  }

  //stripe clases
  .form-row{
        padding: 10px;
      }

      .StripeElement {
        background-color: white;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }

      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }

      .StripeElement--invalid {
        border-color: #fa755a;
      }

      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }
      ion-grid{
        height: 100%;
    }
    ion-row{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }