<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar class="text-center" color="gris" style="margin: 0px !important; padding: 0px !important;">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
      <ion-title>
        <strong style="font-size: 15px !important; color: #222;">DONACIONES</strong>
      </ion-title>
   </ion-toolbar>
   <ion-toolbar  color="gris" style="margin: 0px !important; padding: 0px !important;">
    <ion-item color="gris" lines="none">
      <ion-searchbar style="--background: var(--ion-color-negro); color:white;" animated="true" [(ngModel)]="modelBuscar" placeholder="Buscar" (search)="buscar()" (ionClear)="cancelarBusqueda()" (keypress)="buscarEnter($event)"></ion-searchbar>
      <ion-icon name="search-outline" (click)="buscar()" style="color: black;" slot="end"></ion-icon>
     </ion-item>
     <ion-buttons slot="end">
       <ion-button *ngIf="vars.idEstado == 0" (click)="goToFiltro()" fill="clear">
         <ion-icon slot="icon-only" color="negro" name="options"></ion-icon>
       </ion-button>
     </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row *ngIf="tamanoinicio != 0" class="estilo-row">
      <ion-col class="ion-text-right ion-no-padding">
        <ion-button fill="outline" shape="round" size="small" color="negro">
          {{tamanoinicio}} Resultados
          <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  <div *ngIf="isAllDonaciones">
    <ion-card *ngFor="let item of donacionesToShow" class="shadow card-space">
      <div style="background: #ffffff !important; padding-left: 10px !important;">
          <p style="font-size: 14px !important; color:#222 !important;"><strong>{{item.aNombreProducto}}</strong></p>
      </div>
        <ion-toolbar color="blanco">
          <ion-buttons slot="start">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" color="color-base" name="caret-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <p [innerHTML]="item.aDescripcionProducto"></p>
        </ion-toolbar>
      <ion-card-content class="bordes ion-text-center" style="background: #ffffff !important; padding: 5px !important;">
        <ion-row>
          <ion-col class="ion-text-left">
            <div style="font-size: 14px !important; color:#222 !important;" *ngIf="item.fFechaHoraFin != null">
              <strong>
                Esta donación termina el:
              </strong>
              <p>
              {{item.fFechaHoraFin}}
              </p>
            </div>
          </ion-col>
        </ion-row>
        <img class="redondeo" *ngIf="item.aImagen == null" style="height:280px !important; background: #ececec !important;"  src="{{this.vars.BASE_URL}}/public/img/productos/{{item.aImagen}}" alt="" (click)="goToDetalleProducto(item.idProducto)">
        <img class="redondeo" *ngIf="item.aImagen != null"  src="{{this.vars.BASE_URL}}/public/img/productos/{{item.aImagen}}" alt="imagen" (click)="goToDetalleProducto(item.idProducto)">
          <ion-row>
            <ion-col size="6" >
              <ion-button size="small" fill="outline" shape="round" color="color-base" (click)="goToFRestaurant(item.idLugar)">
                <ion-text color="negro">Ver contacto</ion-text>
                <ion-icon slot="end" color="negro" name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" fill="outline" shape="round" color="color-base" (click)="goToDetalleProducto(item.idProducto)">
                <ion-text color="negro">Ver detalle</ion-text>
                <ion-icon slot="end" color="negro" name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
            </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-row *ngIf="tamanoinicio != 0" class="estilo-row">
    <ion-col class="ion-text-right ion-no-padding">
      <ion-button fill="outline" shape="round" size="small" color="negro">
        vistos {{tamanofinal}} de {{tamanoinicio}}
      </ion-button>
    </ion-col>
  </ion-row>

  <div *ngIf="scroll">
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando elementos">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
  </ion-content>
  <app-menu></app-menu>
