.card-space{
        margin-bottom: 15px !important;
         }

         .estilo-row{
           padding: 5px !important;
           padding-bottom: 5px !important;
           padding-left: 5px !important;
           background: var(--ion-color-gris);
         }
