<ion-toolbar *ngIf="!vars.isMobileBrowser">
  <ion-buttons class="ion-no-padding ion-no-border" slot="start">
    <img [class.logo-pc-style]="!vars.isMobileBrowser" src="assets/imgs/logo.svg" alt="">
  </ion-buttons>
  <ion-button slot="start" fill="clear" (click)="openMenu()">
    <ion-icon slot="icon-only" name="menu-outline" color="negro"></ion-icon>
  </ion-button>
  <ion-segment style="padding-left: 50px;" mode="md" (ionChange)="segmentChanged($event)" color="verde" [value]="vars.menuSelection">
    <ion-segment-button (click)="goToInicio()" value="inicio">
      <ion-label><strong>INICIO</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToNosotros()" value="nosotros">
      <ion-label><strong>NOSOTROS</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToMapa()" value="mapa">
      <ion-label><strong>MAPA</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToIniciativas()" value="iniciativas">
      <ion-label><strong>INICIATIVAS</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToServicios()" value="servicios">
      <ion-label><strong>SERVICIOS</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToBlog()" value="blog">
      <ion-label><strong>BLOG</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToGaleria()" value="galeria">
      <ion-label><strong>GALERIA</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToContacto()" value="contacto">
      <ion-label><strong>CONTACTO</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="goToMiCuenta()" value="cuenta">
      <ion-label><strong>MI CUENTA</strong></ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<!-- <ion-toolbar *ngIf="vars.isMobileBrowser && !router.url.includes('home')"> -->
<ion-toolbar *ngIf="vars.isMobileBrowser">
  <ion-button slot="start" fill="clear" (click)="openMenu()">
    <ion-icon slot="icon-only" name="menu-outline" color="negro"></ion-icon>
  </ion-button>
</ion-toolbar>
