<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear" (click)="goBack()">
    <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>
  <ion-title>
    <strong style="font-size: 15px !important;">CREAR CUENTA</strong>
  </ion-title>
  <ion-buttons slot="end">
    <ion-button fill="clear" (click)="compartir()">
    <ion-icon slot="icon-only" color="negro" name="share-social-outline"></ion-icon>
  </ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

     <ion-card style="background-image: url('{{this.fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center 10px;">

<div style="padding-top: {{this.padding}} !important;">

       <ion-card-header>
         <ion-row>
           <ion-col style="text-align: center !important;">
             Ingresa tus datos
           </ion-col>
         </ion-row>
       </ion-card-header>
       <ion-card-content>
         <ion-row>
           <ion-col>
               <input type="text" class="shadow" placeholder="Ingresa tu correo electronico" [(ngModel)]="email" style="padding-left: 20px; background: #fff !important; box-shadow: 0px 0px 0px 0px; !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col>
               <input class="shadow" type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="pass" style="padding-left: 20px; background: #fff !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col>
               <input class="shadow" type="password" placeholder="Ingresa nuevamente tu contraseña" [(ngModel)]="pass2" style="padding-left: 20px; background: #fff !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
           </ion-col>
         </ion-row>

         <ion-row>
         <ion-col style="text-align: center !important;">
           <ion-button shape="round" color="color-base" (click)="crerCuenta()">
              Crear cuenta
           </ion-button>
         </ion-col>
         </ion-row>
       </ion-card-content>

       </div>

     </ion-card>

</ion-content>
<app-menu></app-menu>
