<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
</ion-header>

<ion-content>
  <div class="myCard">
    <img src="assets/imgs/9.JPG" alt="" style="width: 100%; height: 400px; object-fit: cover;margin: 0px;padding: 0px;border: 0px;">
    <div class="myOverlay">
      <div class="center" style="text-align: center !important;">
        <p style=" color:#fff;font-size: 28px; font-weight: bold;">REDES ALIMENTARIAS ECOSOLIDARIAS</p>
        <p style=" color:#fff;font-size: 24px; font-weight: bold;"><a href=""  style="text-decoration: none;font-size: 24px; font-weight: bold;" class="ref"> Inicio</a> / Nosotros</p>
      </div>
    </div>
  </div>

  <div class="separador"></div>

  <ion-row>
    <ion-col [size]="colSize">
      <ion-img src="assets/imgs/1 (2).JPG"></ion-img>
    </ion-col>
    <ion-col [size]="colSize">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="strong">
              REDAL - Redes Alimentarias Ecosolidarias
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <p class="parrafo">
            Este sitio tiene como propósito facilitar el encuentro y los intercambios entre personas, iniciativas y redes que trabajan por una alimentación sana, accesible y cercana, vinculada con el patrimonio biocultural de las diferentes regiones de México.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-img class="logo-size" src="assets/imgs/logo.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <app-redal-footer></app-redal-footer>
</ion-content>
<app-menu></app-menu>
