<ion-header>
  <ion-toolbar color="blanco">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
    <strong style="font-size: 15px !important; color: #222;">{{obj.aNombreLugar}}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="padding: 0px !important; background: #fff !important; border-radius: 8px !important;">
<ion-card>
  <ion-card-content>
    <ion-row *ngIf="!vars.isMobileBrowser">
      <ion-col size="8" class="ion-text-center">
        <img style="height: 70%; width:auto; border-radius: 15px;" src="{{this.vars.BASE_URL+'/public/img/lugares/'+obj.aImagen}}"  alt="imagen">
      </ion-col>
      <ion-col size="4" class="ion-text-left">
        <ion-row>
          <ion-list lines="none">
            <ion-item *ngIf="this.obj.idLugar != null" (click)="IrFicha()">
              <ion-text>
                Ver ficha
              </ion-text>
                <ion-icon slot="end" name="add-outline" color="color-base"></ion-icon>
            </ion-item>
            <ion-item (click)="IrMapa()">
              <ion-text>
                Como llegar
              </ion-text>
              <ion-icon slot="end" name="navigate-outline" color="color-base"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="vars.isMobileBrowser">
      <ion-row>
        <ion-col class="ion-text-center">
          <img style="border-radius: 15px;" src="{{this.vars.BASE_URL+'/public/img/lugares/'+obj.aImagen}}"  alt="imagen">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left">
          <ion-row>
            <ion-list lines="none">
              <ion-item (click)="IrFicha()">
                <ion-text>
                  Ver ficha
                </ion-text>
                  <ion-icon slot="end" name="add-outline" color="color-base"></ion-icon>
              </ion-item>
              <ion-item (click)="IrMapa()">
                <ion-text>
                  Como llegar
                </ion-text>
                <ion-icon slot="end" name="navigate-outline" color="color-base"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-card-content>
</ion-card>

</ion-content>
