<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-title>
      <strong style="font-size: 15px !important;">AJUSTES</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="this.vars.isUserLoggedIn" (click)="goToDirecciones()">
          <ion-icon name="compass-outline" slot="end"></ion-icon>
          <h3>Mis direcciones</h3>
        </ion-item>
        <hr>
        <ion-item (click)="goSetEstado()" style="padding-right: 5px;">
          <ion-icon name="checkmark-outline" slot="end"></ion-icon>
          <h3 *ngIf="vars.idEstado == 0">Elegir estado</h3>
          <h3 *ngIf="vars.idEstado > 0 && vars.estadoElegido != null">Estado: {{vars.estadoElegido.aNombreEstado}}</h3>
        </ion-item>
        <hr>
        <ion-item *ngIf="!this.location.ok" (click)="goToAlert()" style="padding-right: 5px;">
          <ion-icon style="zoom: 1.2; color: #ba1614 !important;" name="navigate-outline" slot="end"></ion-icon>
          <h3 style="color: #ba1614 !important;">GPS desactivado, activalo aquí</h3>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-menu></app-menu>
