.swiper-pagination-bullet {
      background: var(--ion-color-menu-icon);
      opacity: 0.6;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: var(--ion-color-header);
    }
