<ion-header>
  <ion-toolbar color="blanco">
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="compartir()">
        <ion-icon slot="icon-only" name="share-social-outline" color="color-base"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content style="background: #fff !important;">
    <ion-slides #slides [options]="optionsTutorial" style="height: 85% !important;">
      <ion-slide *ngFor="let item of vars.tutorial; let i = index;"  >
             <ion-card>
               <ion-row style="padding-bottom: 50px !important;">
                 <ion-col style="font-size: 15px !important; text-align: center !important;">
                   {{item.aEncabezado}}
                 </ion-col>
               </ion-row>
               <ion-row>
                 <ion-col style="padding-left: 50px !important; padding-right: 50px !important; text-align: center !important;">
                   <!-- <div class="shadow" style="width: 100% !important; height: 350px; border-radius: 10px !important; background: #ececec;"></div> -->
                  <img style="width: 100% !important; height: 280px; border-radius: 10px !important; background: #ececec;" src="{{vars.BASE_URL}}/public/img/hazbarrio.svg" alt="">
                 </ion-col>
               </ion-row>
               <ion-row style="padding-top: 50px !important;">
                 <ion-col style="text-align: center !important;">
                   {{item.aTexto}}
                 </ion-col>
               </ion-row>
             </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-row>
     <ion-col style="text-align: left !important;">
        <ion-button fill="clear" style="width: 100px !important; " (click)="this.navCtrl.navigateRoot('home')" color="color-base">
          Cerrar
        </ion-button>
     </ion-col>
     <ion-col style="text-align: right !important;">
       <ion-button fill="clear" style="width: 100px !important; " (click)="next()" color="color-base">
          Siguiente
       </ion-button>
     </ion-col>
    </ion-row>
  </ion-content>
