.info{
    color: #606060;
  }
  
  .title{
    color: #222;
  }
  ion-col{
    color: #222 !important;
  }
  

  
    ion-label {
      color: #222 !important;
    }
  
    ion-card-header{
      margin:0px !important;
      padding:15px !important;
      --background:#ffffff !important;
      font-size: 15px !important;
      color:#222 !important;
      text-transform: uppercase;
    }
  
    .p{
      padding: 12px !important;
    }
  
    .bordes{
      border-radius: 30px !important;
    }
  
    .divider-custom{
      background-color: #ececec;
      height: 2px;
      width: 100%;
    }
  
    .showFormasPago{
      animation: showfp 1.0s;
    }
    strong{
      color: #222;
    }
  
    @keyframes showfp {
      0% { transform: translate(0px, -10px) rotate(0deg); }
      100% { transform: translate(0px, 0px) rotate(0deg); }
    }