<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    <strong style="font-size: 15px !important;">Detalle compra</strong>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="shadow">
    <ion-card-content>
     <div *ngFor="let producto of pedido.articulos">
       <ion-row>
         <ion-col size="3">
           <img style="border-radius: 5px !important;" src="{{this.vars.BASE_URL}}/public/img/productos/{{producto.aImagen}}" alt="">
         </ion-col>
         <ion-col size="9">
           <ion-row>
             {{producto.aNombreProducto}}
           </ion-row>
           <ion-row class="info">
             {{producto.nCantidad}} x {{producto.dPrecioUnitario | currency}}
           </ion-row>
           <ion-row class="info" *ngIf="producto.dDescuento != null">
             - {{producto.dDescuento}} %
           </ion-row>
           <ion-row class="info">
             {{producto.dTotal | currency}}
           </ion-row>
           <ion-row class="info" *ngIf="producto.aObservacionesPartida != null">
            Observaciones: {{producto.aObservacionesPartida}}
           </ion-row>
           <ion-row>
             <ion-row *ngIf="producto.caracterisiticas.length > 0">
               Caracteristicas
             </ion-row>
             <div *ngIf="producto.caracterisiticas.length > 0">
               <ion-row *ngFor="let caracteristica of producto.caracterisiticas">
                 <ion-col>
                   {{caracteristica.aCaracteristica}}
                 </ion-col>
               </ion-row>
             </div>
           </ion-row>
         </ion-col>
       </ion-row>
     </div>

     <ion-row *ngIf="pedido.aObservacionPedido != null"><strong>Descripción</strong></ion-row>
     <ion-row *ngIf="pedido.aObservacionPedido != null" class="info p">{{pedido.aObservacionPedido}}</ion-row>

     <ion-row>
       <ion-col style="text-align: right !important;">
         <strong>Pedido: {{pedido.dCostoPedido|currency}}</strong>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col style="text-align: right !important;">
         <strong>Envio: {{pedido.dCostoEnvio|currency}}</strong>
       </ion-col>
     </ion-row>
     <ion-row *ngIf="pedido.dDescuento != null">
       <ion-col style="text-align: right !important;">
         <strong>Descuento: {{pedido.dDescuento|currency}}</strong>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col style="text-align: right !important;">
         <strong>Total: {{pedido.dTotal|currency}}</strong>
       </ion-col>
     </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
<app-menu></app-menu>
