<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="padding: 0px !important; background: #f4f3ef !important; border-radius: 8px !important;">
<ion-card class="shadow-card">
  <ion-card-content>
    <ion-row style="background:#ececec !important; padding-left: 15px !important;">
      <ion-label class="titulo" style="font-size: 15px !important; color: #222 !important;"><strong>Comparte una calificación para conocer tu experiencia</strong></ion-label>
    </ion-row>
<ion-item>
  <ion-icon color="amarillo" (click)="calificar(1)" *ngIf="this.vars.myRating>=1" name="star"></ion-icon>
  <ion-icon color="amarillo" (click)="calificar(2)" *ngIf="this.vars.myRating>=2" name="star"></ion-icon>
  <ion-icon color="amarillo" (click)="calificar(3)" *ngIf="this.vars.myRating>=3" name="star"></ion-icon>
  <ion-icon color="amarillo" (click)="calificar(4)" *ngIf="this.vars.myRating>=4" name="star"></ion-icon>
  <ion-icon color="amarillo" (click)="calificar(5)" *ngIf="this.vars.myRating>=5" name="star"></ion-icon>
  <ion-icon color="negro" (click)="calificar(1)" *ngIf="this.vars.myRating==0" name="star-outline"></ion-icon>
  <ion-icon color="negro" (click)="calificar(2)" *ngIf="this.vars.myRating<=1" name="star-outline"></ion-icon>
  <ion-icon color="negro" (click)="calificar(3)" *ngIf="this.vars.myRating<=2" name="star-outline"></ion-icon>
  <ion-icon color="negro" (click)="calificar(4)" *ngIf="this.vars.myRating<=3" name="star-outline"></ion-icon>
  <ion-icon color="negro" (click)="calificar(5)" *ngIf="this.vars.myRating<=4" name="star-outline"></ion-icon>
</ion-item>
<!--
<ion-row style="background:#ececec !important; padding-left: 15px !important;">
  <ion-label class="titulo" style="font-size: 15px !important; color: #222 !important;"><strong>Adjuntar imagen</strong> (opcional)</ion-label>
</ion-row>
<ion-row>
  <ion-col class="ion-text-center" *ngIf="!ok">
  <ion-button fill="clear" size="large" (click)="camera()">
  <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
  </ion-button>
  </ion-col>

<ion-col class="ion-text-center" *ngIf="!ok">
  <ion-button fill="clear" size="large" (click)="camera()">
  <ion-icon slot="icon-only" name="images-outline"></ion-icon>
  </ion-button>
</ion-col>

<ion-col *ngIf="ok" class="ion-text-center">
  <ion-button fill="clear" size="large" (click)="delete()">
  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-button>
  </ion-col>
</ion-row>

<ion-row *ngIf="ok" >
    <ion-col class="ion-text-center" style="width: 10%; height: 10%;">
        <img style="width: 50%; height: 50%; border-radius: 15px;" [src]="domSanitizer.bypassSecurityTrustUrl(image)" alt="Select Image" />
      </ion-col>
</ion-row>
-->
<ion-row style="background:#ececec !important; padding-left: 15px !important;">
  <ion-label class="titulo" style="font-size: 15px !important; color: #222 !important;"><strong>comentarios</strong></ion-label>
</ion-row>

<ion-row style="background: #ececec !important; padding:20px !important;">
    <ion-textarea style="background: #fff !important;" [(ngModel)]="comentario" placeholder="Dejanos tu comentario"></ion-textarea>
</ion-row>

    <ion-row style="background: #ececec !important;">
      <ion-col class="ion-text-right">
        <ion-button class="bordes-local" color="naranja" (click)="calificacion()">Calificar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

</ion-content>
