
  .bordes-local{
    border-left: 10px !important;
    border-right: 10px !important;
    border-radius: 30px !important;
  }

  p {
      font-size: 18px !important;
      color: white;
      text-transform: uppercase;
      margin: 0;
      border: 0;
     }

     ion-label{
         font-size: 18px !important;
         color: #222;
         text-transform: uppercase;
        }

     ion-card-content{
       margin: 0px !important;
       padding: 0px !important;
     }

     ion-textarea{
       height: 15vh !important;
     }
