<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">SERVICIOS</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFiltro()" fill="clear">
        <ion-icon slot="icon-only" color="negro" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-row *ngIf="tamanoinicio != 0" style="padding: 5px !important; background: #f4f3ef !important; padding-bottom: 5px !important; padding-left: 5px !important;">
      <ion-col class="ion-text-right ion-no-padding">
        <ion-button fill="outline" shape="round" size="small" color="negro">
          {{tamanoinicio}} resultados
          <ion-icon slot="end" name="checkmark-outline" color="color-base"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center ion-padding efecto" [size]="colSize" *ngFor='let item of serviciosToShow'>
          <ion-card class="anima" (click)="goToDetalleServicio(item)">
            <ion-card-header>
              <ion-row>
                <ion-col>
                  {{item.aNombreServicio}}
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content class="estilo">
              <ion-row>
                <img style="width:100%; height:auto" src="{{this.vars.BASE_URL+'/public/img/servicios/'+item.aImagen}}" />
              </ion-row>
              <ion-row>
             <ion-col class="ion-text-center">
             <ion-button fill="outline" shape="round" size="small" color="negro">
               Ver detalle
               <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
             </ion-button>
             </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

       <ion-row *ngIf="tamanoinicio != 0" style="padding: 5px !important; background: #f4f3ef !important; padding-bottom: 5px !important; padding-left: 5px !important;">
         <ion-col class="ion-text-right ion-no-padding">
           <ion-button fill="outline" shape="round" size="small" color="negro">
             vistos {{tamanofinal}} de {{tamanoinicio}}
           </ion-button>
         </ion-col>
       </ion-row>

       <div *ngIf="scroll">
         <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
           <ion-infinite-scroll-content
             loadingSpinner="bubbles"
             loadingText="Cargando elementos">
           </ion-infinite-scroll-content>
         </ion-infinite-scroll>
       </div>

 </ion-content>
 <app-menu></app-menu>
