<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">Mapa</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="compartir()">
        <ion-icon slot="icon-only" name="share-social-outline" color="color-base"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <alerta *ngIf="!this.location.ok"></alerta>
  <alerta2 *ngIf="!this.location.ok2 && this.location.ok"></alerta2> -->
<div padding id="map2" style="width:100%; height:100%;"></div>
</ion-content>
<app-menu></app-menu>
