<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar class="ion-text-left ion-text-center bordes" style="padding-right: 40px;">
  <ion-buttons slot="start">
    <ion-button fill="clear" size="small"  (click)="goBack()">
      <ion-icon slot="icon-only" style=" zoom:1.2 !important;" name="arrow-back" color="negro"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-searchbar #input2 showCancelButton="never" style="--background: var(--ion-color-negro);color:white;"
      [(ngModel)]="aDireccionDestino" type="search" placeholder="Buscar una dirección" (keypress)="reverseGeocodeDestination($event)" (search)="reverseGeocodeDestination($event)"
      (ionCancel)="onCancel()" (ionClear)="onCancel()" (ionChange)="check()" animated>
    </ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngIf="this.tipo ==1 " class="shadow">
    <ion-card-header class="ion-text-wrap">
      <strong class="ion-text-wrap">RESULTADOS</strong>
    </ion-card-header>
    <ion-card-content>
         <!-- Primer item para dar esta opcion es necesario revisar que gps este activo y haya cordenada -->
         <ion-item class="ion-text-wrap"  lines="none" style="padding-bottom:10px!important;" (click)="getCurrentCoordinate()">
          <ion-label>Usar tu ubicación actual</ion-label>
          <ion-icon  slot="end" name="locate" color="color-base"></ion-icon>
        </ion-item>
        <ion-item class="ion-text-wrap" *ngIf="this.respuestaGeocoderDestino.length == 0"    lines="none" >
          <ion-label>No hay resultados</ion-label>
        </ion-item>
      <ion-list *ngIf="this.respuestaGeocoderDestino.length > 0">
        <ion-item   class="ion-text-wrap" *ngFor="let item of this.respuestaGeocoderDestino;  let i = index" lines="none"
        (click)="setDestination(item.geometry.location.lat,item.geometry.location.lng,item.formatted_address)">
        <ion-label>{{item.formatted_address}}</ion-label>
      </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.tipo ==2"  class="shadow">
    <ion-card-header class="ion-text-wrap">
      <strong class="ion-text-wrap">DIRECCIONES GUARDADAS</strong>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="ion-text-wrap"  lines="none" style="padding-bottom:10px!important;" (click)="getCurrentCoordinate()">
          <ion-label>Usar tu ubicación actual</ion-label>
          <ion-icon  slot="end" name="locate" color="color-base"></ion-icon>
        </ion-item>
        <div *ngIf="this.vars.direcciones.length > 0">
          <ion-item class="ion-text-wrap" *ngFor="let item of this.vars.direcciones" lines="none" style="padding-right: 5px !important;">
            <ion-label (click)="addmarker(item.dLatitud,item.dLongitud)">{{item.aDireccion}}</ion-label>
            <ion-icon slot="end" name="trash" (click)="borrarDireccion(item.idDireccion)" color="color-base"></ion-icon>
          </ion-item>
        </div>
        <ion-item *ngIf="this.vars.direcciones.length == 0" class="ion-text-wrap" lines="none">
          <p>Aún no cuentas con direcciones guardadas</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.showGuardar" class="shadow" >
    <ion-card-header class="ion-text-wrap">
      <strong class="ion-text-wrap">GUARDAR DIRECCIÓN</strong>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <p>Recuerda que puedes arrastrar el marcador en el mapa para ajustar tu dirección</p>
      </ion-row>
      <ion-row class="ion-no-padding">
      <ion-col style="text-align: center !important;">
        <ion-button style="border-radius: 30px !important;" color="color-base"  (click)="guadarDireccion()">
            Guardar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="border-radius: 30px !important;" color="color-base"  (click)="volverListado()">
            Volver a resultados
        </ion-button>
      </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div id="map" style="width:100%; height:70%;"></div>
</ion-content>
<app-menu></app-menu>
