
    @media screen and (min-width: 601px)  {
 
        ion-card{
          width: 80% !important;
          display: block;
          margin-left: auto;
          margin-right: auto;
      
        }
      }
        @media screen and (min-width: 1300px)  {
       
          ion-card{
            width: 80% !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
        
          }
 }