<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear" (click)="goBack()">
    <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>
<ion-title>
  <strong style="color: #222; font-size: 15px !important;" >INICIATIVA</strong>
</ion-title>
<ion-buttons slot="end" *ngIf="this.vars.isUserLoggedIn && this.isFRestaurants">
  <ion-button fill="clear" (click)="goToFavoritos()">
    <ion-icon slot="icon-only" *ngIf="!fRestaurant.favoritos" color="negro" style="zoom:1.2 !important;" name="thumbs-up-outline"></ion-icon>
    <ion-icon slot="icon-only" *ngIf="fRestaurant.favoritos" color="color-base" style="zoom:1.2 !important;" name="thumbs-up-outline"></ion-icon>
  </ion-button>
</ion-buttons>
<ion-buttons slot="end" *ngIf="this.vars.isUserLoggedIn && this.vars.productos.length > 0 && this.vars.carrito.idLugar == fRestaurant.idLugar">
  <ion-button fill="clear" (click)="goToCarrito()">
    <ion-icon slot="icon-only" color="negro" style="zoom:1.2 !important;" name="cart-outline"></ion-icon>
  </ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isFRestaurants">
    <ion-card class="anima">
      <div class="estilo">
        <ion-row>
          <ion-col>
            <ion-row class="ion-padding-left" style="padding-bottom:20px;">
              <ion-col class="ion-text-left">
                <p style="text-transform: uppercase !important; font-size: 15px !important; color:#222 !important;"><strong>{{fRestaurant.aNombreLugar}}</strong></p>
              </ion-col>
            </ion-row>
            <div *ngIf="(this.vars.idPerfilUser != 2 && this.fRestaurant.idCategoria1 != 5) || this.vars.idPerfilUser == 2">
              <ion-row *ngIf="fRestaurant.lPedidos && fRestaurant.productos.length > 0" (click)="goToProductos()">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="basket-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="8" class="padding-col">
                  <ion-button size="small" fill="outline" shape="round" color="color-base" (click)="goToProductos()">
                    <ion-text style="font-size: 13px !important;">Ver productos</ion-text>
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
            <ion-row>
              <ion-col size="4">
                <ion-button fill="clear" (click)="goToCompartir(fRestaurant.idLugar)">
                  <ion-icon slot="icon-only" color="negro" name="share-social-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col style="padding-top: 8px !important;">
                <ion-button  size="small" fill="outline" shape="round" color="color-base" (click)="goToCompartir(fRestaurant.idLugar)">
                  <ion-text style="font-size: 13px !important;">Compartir</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-button fill="clear" (click)="goToComentarios()">
                  <ion-icon slot="icon-only" color="negro" name="chatbox-ellipses-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col style="padding-top: 8px !important;">
                <ion-button  size="small" fill="outline" shape="round" color="color-base" (click)="goToComentarios()">
                  <ion-text style="font-size: 13px !important;">Ver comentarios</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
            <div *ngIf="horario; let item">
              <ion-row *ngIf="item.lSiempreAbiertoLunes && item.lSiempreAbiertoMartes && item.lSiempreAbiertoMiercoles && item.lSiempreAbiertoJueves && item.lSiempreAbiertoViernes && item.lSiempreAbiertoSabado && item.lSiempreAbiertoDomingo; else salto">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="8" style="padding-top: 6px !important;">
                  <!--caso 6 -->  <p style="font-size: 13px !important;">Siempre abierto</p>
                </ion-col>
              </ion-row>

              <ng-template #salto>
                <ion-row *ngIf="item.aHorarioLibreDomingo == null && dia == 0">
                  <ion-col size="4">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="!item.lCerradoDomingo && !item.lSiempreAbiertoDomingo && (item.hAperturaDomingo < fFechaActual) && (item.hCierreDomingo > fFechaActual); else cerrado0">
                    <!--caso 1 -->  <p style="font-size: 13px !important;">Abierto - Cierra {{item.hCierreDomingo}}</p>
                  </ion-col>
                  <ng-template #cerrado0>
                    <ion-col *ngIf="!item.lCerradoDomingo" class="padding-col">
                      <p style="font-size: 13px !important;">Cerrado</p>  <!--este caso es cuando si se abri ese dia pero en realidad ya supero el horario y por ende esta cerrado, aqui van todas las validaciones para a que hora abre el dia siguiente :'( disponible' -->
                    </ion-col>
                  </ng-template>

                  <ion-col class="padding-col" *ngIf="item.lCerradoDomingo">
                    <!--caso 4 -->  <p style="font-size: 13px !important;">Cerrado</p>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="item.lSiempreAbiertoDomingo && !item.lCerradoDomingo">
                    <!--caso 5 -->  <p style="font-size: 13px !important;">Abierto 24 hrs</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.aHorarioLibreLunes == null && dia == 1">
                  <ion-col size="4">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="!item.lCerradoLunes && !item.lSiempreAbiertoLunes && (item.hAperturaLunes < fFechaActual) && (item.hCierreLunes > fFechaActual); else cerrado1">
                    <!--caso 1 -->  <p style="font-size: 13px !important;">Abierto - Cierra {{item.hCierreLunes}}</p>
                  </ion-col>
                  <ng-template #cerrado1>
                    <ion-col *ngIf="!item.lCerradoLunes" class="padding-col">
                      <p style="font-size: 13px !important;">Cerrado</p>  <!--este caso es cuando si se abri ese dia pero en realidad ya supero el horario y por ende esta cerrado, aqui van todas las validaciones para a que hora abre el dia siguiente :'( disponible' -->
                    </ion-col>
                  </ng-template>
                  <ion-col class="padding-col" *ngIf="item.lCerradoLunes">
                    <!--caso 4 -->  <p style="font-size: 13px !important;">Cerrado</p>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="item.lSiempreAbiertoLunes && !item.lCerradoLunes">
                    <!--caso 5 -->  <p style="font-size: 13px !important;">Abierto 24 hrs</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.aHorarioLibreMartes == null && dia == 2">
                  <ion-col size="4">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="!item.lCerradoMartes && !item.lSiempreAbiertoMartes && (item.hAperturaMartes < fFechaActual) && (item.hCierreMartes > fFechaActual); else cerrado2">
                    <!--caso 1 -->  <p style="font-size: 13px !important;">Abierto - Cierra {{item.hCierreMartes}}</p>
                  </ion-col>
                  <ng-template #cerrado2>
                    <ion-col *ngIf="!item.lCerradoMartes" class="padding-col">
                      <p style="font-size: 13px !important;">Cerrado</p>  <!--este caso es cuando si se abri ese dia pero en realidad ya supero el horario y por ende esta cerrado, aqui van todas las validaciones para a que hora abre el dia siguiente :'( disponible' -->
                    </ion-col>
                  </ng-template>
                  <ion-col class="padding-col" *ngIf="item.lCerradoMartes">
                    <!--caso 4 -->  <p style="font-size: 13px !important;">Cerrado</p>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="item.lSiempreAbiertoMartes && !item.lCerradoMartes">
                    <!--caso 5 -->  <p style="font-size: 13px !important;">Abierto 24 hrs</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.aHorarioLibreMiercoles == null && dia == 3">
                  <ion-col size="4">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="!item.lCerradoMiercoles && !item.lSiempreAbiertoMiercoles && (item.hAperturaMiercoles < fFechaActual) && (item.hCierreMiercoles > fFechaActual); else cerrado3">
                    <!--caso 1 -->  <p style="font-size: 13px !important;">Abierto - Cierra {{item.hCierreMiercoles}}</p>
                  </ion-col>
                  <ng-template #cerrado3>
                    <ion-col *ngIf="!item.lCerradoMiercoles" class="padding-col">
                      <p style="font-size: 13px !important;">Cerrado</p>  <!--este caso es cuando si se abri ese dia pero en realidad ya supero el horario y por ende esta cerrado, aqui van todas las validaciones para a que hora abre el dia siguiente :'( disponible' -->
                    </ion-col>
                  </ng-template>
                  <ion-col class="padding-col" *ngIf="item.lCerradoMiercoles">
                    <!--caso 4 -->  <p style="font-size: 13px !important;">Cerrado</p>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="item.lSiempreAbiertoMiercoles && !item.lCerradoMiercoles">
                    <!--caso 5 -->  <p style="font-size: 13px !important;">Abierto 24 hrs</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.aHorarioLibreJueves == null && dia == 4">
                  <ion-col size="4">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="!item.lCerradoJueves && !item.lSiempreAbiertoJueves && (item.hAperturaJueves < fFechaActual) && (item.hCierreJueves > fFechaActual); else cerrado4">
                    <!--caso 1 -->  <p style="font-size: 13px !important;">Abierto - Cierra {{item.hCierreJueves}}</p>
                  </ion-col>
                  <ng-template #cerrado4>
                    <ion-col *ngIf="!item.lCerradoJueves" class="padding-col">
                      <p style="font-size: 13px !important;">Cerrado</p>  <!--este caso es cuando si se abri ese dia pero en realidad ya supero el horario y por ende esta cerrado, aqui van todas las validaciones para a que hora abre el dia siguiente :'( disponible' -->
                    </ion-col>
                  </ng-template>
                  <ion-col class="padding-col" *ngIf="item.lCerradoJueves">
                    <!--caso 4 -->  <p style="font-size: 13px !important;">Cerrado</p>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="item.lSiempreAbiertoJueves && !item.lCerradoJueves">
                    <!--caso 5 -->  <p style="font-size: 13px !important;">Abierto 24 hrs</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.aHorarioLibreViernes == null && dia == 5">
                  <ion-col size="4">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="!item.lCerradoViernes && !item.lSiempreAbiertoViernes && (item.hAperturaViernes < fFechaActual) && (item.hCierreViernes > fFechaActual); else cerrado5">
                    <!--caso 1 -->  <p style="font-size: 13px !important;">Abierto - Cierra {{item.hCierreViernes}}</p> <!--aqui van todas las validaciones para cuantas horas falta por cerrar' -->
                  </ion-col>
                  <ng-template #cerrado5>
                    <ion-col *ngIf="!item.lCerradoViernes" class="padding-col">
                      <p style="font-size: 13px !important;">Cerrado</p>  <!--este caso es cuando si se abri ese dia pero en realidad ya supero el horario y por ende esta cerrado, aqui van todas las validaciones para a que hora abre el dia siguiente :'( disponible' -->
                    </ion-col>
                  </ng-template>
                  <ion-col class="padding-col" *ngIf="item.lCerradoViernes">
                    <!--caso 4 -->  <p style="font-size: 13px !important;">Cerrado</p> <!-- este caso es cuando si esta cerrado todo el dia -->
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="item.lSiempreAbiertoViernes && !item.lCerradoViernes">
                    <!--caso 5 -->  <p style="font-size: 13px !important;">Abierto 24 hrs</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.aHorarioLibreSabado == null && dia == 6">
                  <ion-col size="4">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" color="negro" name="time-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="!item.lCerradoSabado && !item.lSiempreAbiertoSabado && (item.hAperturaSabado < fFechaActual) && (item.hCierreSabado > fFechaActual); else cerrado6">
                    <!--caso 1 -->  <p style="font-size: 13px !important;">Abierto - Cierra {{item.hCierreSabado}}</p>
                  </ion-col>
                  <ng-template #cerrado6>
                    <ion-col *ngIf="!item.lCerradoSabado" class="padding-col">
                      <p style="font-size: 13px !important;">Cerrado</p>  <!--este caso es cuando si se abri ese dia pero en realidad ya supero el horario y por ende esta cerrado, aqui van todas las validaciones para a que hora abre el dia siguiente :'( disponible' -->
                    </ion-col>
                  </ng-template>
                  <ion-col class="padding-col" *ngIf="item.lCerradoSabado">
                    <!--caso 4 -->  <p style="font-size: 13px !important;">Cerrado</p>
                  </ion-col>
                  <ion-col class="padding-col" *ngIf="item.lSiempreAbiertoSabado && !item.lCerradoSabado">
                    <!--caso 5 -->  <p style="font-size: 13px !important;">Abierto 24 hrs</p>
                  </ion-col>
                </ion-row>

              </ng-template>
            </div>

            <ion-row *ngIf="fRestaurant.lEnviosDomicilio">
              <ion-col size="4">
                <ion-button fill="clear">
                  <ion-icon slot="icon-only" color="negro" name="bicycle-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col style="padding-top: 8px !important;"><p style="font-size: 13px !important;">Envíos a domicilio</p></ion-col>
            </ion-row>
            <ion-row *ngIf="!fRestaurant.lLunes && !fRestaurant.lMartes && !fRestaurant.lMiercoles && !fRestaurant.lJueves && !fRestaurant.lViernes && !fRestaurant.lSabado && !fRestaurant.lDomingo">
              <ion-col size="4">
                <ion-button fill="clear">
                  <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Por el momento no recibe pedidos por adelantado</p></ion-col>
            </ion-row>
            <div *ngIf="fRestaurant.lLunes || fRestaurant.lMartes || fRestaurant.lMiercoles || fRestaurant.lJueves || fRestaurant.lViernes || fRestaurant.lSabado || fRestaurant.lDomingo">
              <!-- inicia seccion de dias que recibe adelantado -->
              <ion-row *ngIf="fRestaurant.lLunes && this.dia == 1 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="clipboard-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="!fRestaurant.lLunes && this.dia == 1 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy no puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="fRestaurant.lMartes && this.dia == 2 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="clipboard-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="!fRestaurant.lMartes && this.dia == 2 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy no puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="fRestaurant.lMiercoles && this.dia == 3 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="clipboard-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="!fRestaurant.lMiercoles && this.dia == 3 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy no puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="fRestaurant.lJueves && this.dia == 4 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="clipboard-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="!fRestaurant.lJueves && this.dia == 4 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy no puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="fRestaurant.lViernes && this.dia == 5 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="clipboard-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="!fRestaurant.lViernes && this.dia == 5 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy no puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="fRestaurant.lSabado && this.dia == 6 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="clipboard-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="!fRestaurant.lSabado && this.dia == 6 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy no puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="fRestaurant.lDomingo && this.dia == 0 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="clipboard-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <ion-row *ngIf="!fRestaurant.lDomingo && this.dia == 0 ">
                <ion-col size="4">
                  <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="negro" name="alert-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col style="padding-top: 5px !important;"><p style="font-size: 13px !important;">Hoy no puedes realizar pedidos por adelantado</p></ion-col>
              </ion-row>
              <!-- termina seccion de dias que recibe adelantado -->

              <ion-row *ngIf="fRestaurant.calificacionPromedio != null && fRestaurant.calificacionPromedio != 0">
                  <ion-item lines="none">
                    <ion-icon color="amarillo" *ngIf="fRestaurant.calificacionPromedio>=1" name="star"></ion-icon>
                    <ion-icon color="amarillo" *ngIf="fRestaurant.calificacionPromedio>=2" name="star"></ion-icon>
                    <ion-icon color="amarillo" *ngIf="fRestaurant.calificacionPromedio>=3" name="star"></ion-icon>
                    <ion-icon color="amarillo" *ngIf="fRestaurant.calificacionPromedio>=4" name="star"></ion-icon>
                    <ion-icon color="amarillo" *ngIf="fRestaurant.calificacionPromedio>=5" name="star"></ion-icon>
                    <ion-icon style="color: #ececec !important;" *ngIf="fRestaurant.calificacionPromedio==0" name="star"></ion-icon>
                    <ion-icon style="color: #ececec !important;" *ngIf="fRestaurant.calificacionPromedio<=1" name="star"></ion-icon>
                    <ion-icon style="color: #ececec !important;" *ngIf="fRestaurant.calificacionPromedio<=2" name="star"></ion-icon>
                    <ion-icon style="color: #ececec !important;" *ngIf="fRestaurant.calificacionPromedio<=3" name="star"></ion-icon>
                    <ion-icon style="color: #ececec !important;" *ngIf="fRestaurant.calificacionPromedio<=4" name="star"></ion-icon>
                  </ion-item>
                  <p style="font-size: 13px !important;">{{fRestaurant.cantidadCalificaciones}}</p>
              </ion-row>

              <ion-row class="ion-text-left">
                <ion-button fill="clear" color="color-base" (click)="verListaDiasPedidosAdelantados()">
                  Ver días que recibe pedidos por adelantado
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-button>
              </ion-row>
              <div class="horarios" *ngIf="isListaDiasPedidosAdelantados">
                <ion-row>
                  <p style="font-size: 13px !important;">Dias que recibe pedidos por adelantado</p>
                </ion-row>
                <ion-row>
                  <ion-list lines="none">
                    <ion-row class="item-dia" *ngIf="fRestaurant.lLunes">
                      <p style="font-size: 13px !important;">- Lunes</p>
                    </ion-row>
                    <ion-row class="item-dia" *ngIf="fRestaurant.lMartes">
                      <p style="font-size: 13px !important;">- Martes</p>
                    </ion-row>
                    <ion-row class="item-dia" *ngIf="fRestaurant.lMiercoles">
                      <p style="font-size: 13px !important;">- Miercoles</p>
                    </ion-row>
                    <ion-row class="item-dia" *ngIf="fRestaurant.lJueves">
                      <p style="font-size: 13px !important;">- Jueves</p>
                    </ion-row>
                    <ion-row class="item-dia" *ngIf="fRestaurant.lViernes">
                      <p style="font-size: 13px !important;">- Viernes</p>
                    </ion-row>
                    <ion-row class="item-dia" *ngIf="fRestaurant.lSabado">
                      <p style="font-size: 13px !important;">- Sabado</p>
                    </ion-row>
                    <ion-row class="item-dia" *ngIf="fRestaurant.lDomingo">
                      <p style="font-size: 13px !important;">- Domingo</p>
                    </ion-row>
                  </ion-list>
                </ion-row>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col class="ion-text-end">
                <img style="border: 7px solid #fff; border-radius: 15px !important;" src="{{this.vars.BASE_URL}}/public/img/lugares/{{fRestaurant.aImagen}}" alt="sin logo"  [class.iosImg]="this.vars.isIos" [class.adroidImg]="!this.vars.isIos">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>

    <div class="tab">

      <ion-card [id]="2">
        <ion-card-header>
          <strong>Descripción</strong>
        </ion-card-header>
        <ion-card-content style="text-align: justify !important; text-justify: inter-word !important;">
          <p [innerHTML]="descripcion"></p>
        </ion-card-content>
        <hr>
        <ion-card-header>
          <strong>Contacto</strong>
        </ion-card-header>
        <div style="padding: 15px !important;">
          <ion-row>
            <ion-col size="2"><a href="mailto:{{fRestaurant.aEmail}}">
              <ion-button fill="clear">
                <ion-icon slot="icon-only" color="negro" name="mail-outline"></ion-icon>
              </ion-button>
            </a></ion-col>
            <ion-col style="padding-top: 5px !important;"><p *ngIf="fRestaurant.aEmail != null">{{fRestaurant.aEmail}}</p> <p *ngIf="fRestaurant.aEmail == null">Sin correo</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <a href="tel:{{numero}}">
                <ion-button fill="clear" (click)="goToLlamar()">
                  <ion-icon slot="icon-only" color="negro" name="call-outline"></ion-icon>
                </ion-button>
              </a>
            </ion-col>
            <ion-col><p>{{numero}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="numero != null">
            <ion-col size="2">
              <ion-button fill="clear" (click)="goToWhats('https://wa.me/521',numero)">
                <ion-icon slot="icon-only" color="negro" name="logo-whatsapp"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <p>{{numero}}</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="fRestaurant.aFacebook != null" (click)="goToWeb('https://www.facebook.com/',fRestaurant.aFacebook,8)">
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon slot="icon-only" color="negro" name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <p>
                <a href="javascript:void(0)">{{_getUrlSocialNetwork('https://www.facebook.com/',fRestaurant.aFacebook)}}</a>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="fRestaurant.aTwitter != null" (click)="goToWeb('https://www.twitter.com/',fRestaurant.aTwitter,9)">
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon slot="icon-only" color="negro" name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <p>
                <a href="javascript:void(0)">{{_getUrlSocialNetwork('https://www.twitter.com/',fRestaurant.aTwitter)}}</a>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="fRestaurant.aInstagram != null" (click)="goToWeb('https://www.instagram.com/',fRestaurant.aInstagram,10)">
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon slot="icon-only" color="negro" name="logo-instagram"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <p>
                <a href="javascript:void(0)">{{_getUrlSocialNetwork('https://www.instagram.com/',fRestaurant.aInstagram)}}</a>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="fRestaurant.aWebsite != null" (click)="goToWeb('',fRestaurant.aWebsite,11)">
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon slot="icon-only" color="negro" name="cloud-circle"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <p>
                <a href="javascript:void(0)">{{_getUrlSocialNetwork('',fRestaurant.aWebsite)}}</a>
              </p>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="fRestaurant.galeria.length != 0 ">
          <hr>
          <ion-card-header>
            <strong>Galeria</strong>
          </ion-card-header>
          <ion-card-content class="bordes">
            <div style="padding-bottom: 10px !important; padding-top: 5px !important;">
              <ion-slides [options]="slideOpts">
                <ion-slide *ngFor="let item of fRestaurant.galeria; let i = index;">
                  <ion-card class="bordes" style="
                  border-radius: 25px !important;
                  position: relative;
                  box-shadow: none !important;
                  border-style: none !important;">
                  <ion-card-content class="bordes"style="padding-left: 5px !important; padding-bottom: 5px !important; padding-top: 10px !important;">
                    <img (click)="openImg(i,fRestaurant.galeria)" style="border-radius: 15px !important;" src="{{this.vars.BASE_URL}}/public/img/lugares/galeria/{{item.aNombreImagen}}" alt="galeria">
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-card-content>
      </div>
      <hr>
      <ion-card-header class="padding-col">
        <strong>Horarios</strong>
      </ion-card-header>
      <ion-card-content class="bordes" style="padding-top: 10px !important; padding-left: 35px !important;" *ngIf="horario; let item">
        <ion-row *ngIf="!text2">
          <ion-col *ngIf="item.lSiempreAbiertoLunes && item.lSiempreAbiertoMartes && item.lSiempreAbiertoMiercoles && item.lSiempreAbiertoJueves && item.lSiempreAbiertoViernes && item.lSiempreAbiertoSabado && item.lSiempreAbiertoDomingo">
            Todos los dias abierto
          </ion-col>
          <ion-col *ngIf="!item.lSiempreAbiertoLunes || !item.lSiempreAbiertoMartes || !item.lSiempreAbiertoMiercoles || !item.lSiempreAbiertoJueves || !item.lSiempreAbiertoViernes || !item.lSiempreAbiertoSabado || !item.lSiempreAbiertoDomingo">
            Hoy: {{fRestaurant.horarioHoy}}
          </ion-col>
          <ion-col size="4" class="ion-no-padding ion-text-end">
            <ion-button *ngIf="!text2" fill="clear" (click)="show()">
              <ion-icon slot="icon-only" color="negro" name="caret-down-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <div *ngIf="text2" class="horarios">
          <ion-row>
            <ion-col size="8">
              Horario
            </ion-col>
            <ion-col size="4" class="ion-no-padding ion-text-end">
              <ion-button fill="clear" (click)="show()">
                <ion-icon slot="icon-only" color="negro" name="caret-up-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!item.lCerradoLunes && !item.lSiempreAbiertoLunes && !item.aHorarioLibreLunes">
            <ion-col><p>Lunes</p></ion-col>
            <ion-col><p>{{item.hAperturaLunes}}</p></ion-col>
            <ion-col><p>{{item.hCierreLunes}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="item.aHorarioLibreLunes != null || item.lSiempreAbiertoLunes || item.lCerradoLunes">
            <ion-col size="4"><p>Lunes</p></ion-col>
            <ion-col *ngIf="item.aHorarioLibreLunes != null && !item.lCerradoLunes && !item.lSiempreAbiertoLunes"><p>{{item.aHorarioLibreLunes}}</p></ion-col>
            <ion-col *ngIf="item.lSiempreAbiertoLunes && !item.lCerradoLunes"><p><strong>Abierto 24 hrs</strong></p></ion-col>
            <ion-col *ngIf="item.lCerradoLunes"><strong>Cerrado</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="!item.lCerradoMartes && !item.lSiempreAbiertoMartes && !item.aHorarioLibreMartes">
            <ion-col><p>Martes</p></ion-col>
            <ion-col><p>{{item.hAperturaMartes}}</p></ion-col>
            <ion-col><p>{{item.hCierreMartes}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="item.aHorarioLibreMartes != null || item.lSiempreAbiertoMartes || item.lCerradoMartes">
            <ion-col size="4"><p>Martes</p></ion-col>
            <ion-col *ngIf="item.aHorarioLibreMartes != null && !item.lCerradoMartes && !item.lSiempreAbiertoMartes"><p>{{item.aHorarioLibreMartes}}</p></ion-col>
            <ion-col *ngIf="item.lSiempreAbiertoMartes && !item.lCerradoMartes"><p><strong>Abierto 24 hrs</strong></p></ion-col>
            <ion-col *ngIf="item.lCerradoMartes"><strong>Cerrado</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="!item.lCerradoMiercoles && !item.lSiempreAbiertoMiercoles && !item.aHorarioLibreMiercoles">
            <ion-col><p>Miercoles</p></ion-col>
            <ion-col><p>{{item.hAperturaMiercoles}}</p></ion-col>
            <ion-col><p>{{item.hCierreMiercoles}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="item.aHorarioLibreMiercoles != null || item.lSiempreAbiertoMiercoles || item.lCerradoMiercoles">
            <ion-col size="4"><p>Miercoles</p></ion-col>
            <ion-col *ngIf="item.aHorarioLibreMiercoles != null && !item.lCerradoMiercoles && !item.lSiempreAbiertoMiercoles"><p>{{item.aHorarioLibreMiercoles}}</p></ion-col>
            <ion-col *ngIf="item.lSiempreAbiertoMiercoles && !item.lCerradoMiercoles"><p><strong>Abierto 24 hrs</strong></p></ion-col>
            <ion-col *ngIf="item.lCerradoMiercoles"><strong>Cerrado</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="!item.lCerradoJueves && !item.lSiempreAbiertoJueves && !item.aHorarioLibreJueves">
            <ion-col><p>Jueves</p></ion-col>
            <ion-col><p>{{item.hAperturaJueves}}</p></ion-col>
            <ion-col><p>{{item.hCierreJueves}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="item.aHorarioLibreJueves != null || item.lSiempreAbiertoJueves || item.lCerradoJueves">
            <ion-col size="4"><p>Jueves</p></ion-col>
            <ion-col *ngIf="item.aHorarioLibreJueves != null && !item.lCerradoJueves && !item.lSiempreAbiertoJueves"><p>{{item.aHorarioLibreJueves}}</p></ion-col>
            <ion-col *ngIf="item.lSiempreAbiertoJueves && !item.lCerradoJueves"><p><strong>Abierto 24 hrs</strong></p></ion-col>
            <ion-col *ngIf="item.lCerradoJueves"><strong>Cerrado</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="!item.lCerradoViernes && !item.lSiempreAbiertoViernes && !item.aHorarioLibreViernes">
            <ion-col><p>Viernes</p></ion-col>
            <ion-col><p>{{item.hAperturaViernes}}</p></ion-col>
            <ion-col><p>{{item.hCierreViernes}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="item.aHorarioLibreViernes != null || item.lSiempreAbiertoViernes || item.lCerradoViernes">
            <ion-col size="4"><p>Viernes</p></ion-col>
            <ion-col *ngIf="item.aHorarioLibreViernes != null && !item.lCerradoViernes && !item.lSiempreAbiertoViernes"><p>{{item.aHorarioLibreViernes}}</p></ion-col>
            <ion-col *ngIf="item.lSiempreAbiertoViernes && !item.lCerradoViernes"><p><strong>Abierto 24 hrs</strong></p></ion-col>
            <ion-col *ngIf="item.lCerradoViernes"><strong>Cerrado</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="!item.lCerradoSabado && !item.lSiempreAbiertoSabado && !item.aHorarioLibreSabado">
            <ion-col><p>Sabado</p></ion-col>
            <ion-col><p>{{item.hAperturaSabado}}</p></ion-col>
            <ion-col><p>{{item.hCierreSabado}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="item.aHorarioLibreSabado != null || item.lSiempreAbiertoSabado || item.lCerradoSabado">
            <ion-col size="4"><p>Sabado</p></ion-col>
            <ion-col *ngIf="item.aHorarioLibreSabado != null && !item.lCerradoSabado && !item.lSiempreAbiertoSabado"><p>{{item.aHorarioLibreSabado}}</p></ion-col>
            <ion-col *ngIf="item.lSiempreAbiertoSabado && !item.lCerradoSabado"><p><strong>Abierto 24 hrs</strong></p></ion-col>
            <ion-col *ngIf="item.lCerradoSabado"><strong>Cerrado</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="!item.lCerradoDomingo && !item.lSiempreAbiertoDomingo && !item.aHorarioLibreDomingo">
            <ion-col><p>Domingo</p></ion-col>
            <ion-col><p>{{item.hAperturaDomingo}}</p></ion-col>
            <ion-col><p>{{item.hCierreDomingo}}</p></ion-col>
          </ion-row>
          <ion-row *ngIf="item.aHorarioLibreDomingo != null || item.lSiempreAbiertoDomingo || item.lCerradoDomingo">
            <ion-col size="4"><p>Domingo</p></ion-col>
            <ion-col *ngIf="item.aHorarioLibreDomingo != null && !item.lCerradoDomingo && !item.lSiempreAbiertoDomingo"><p>{{item.aHorarioLibreDomingo}}</p></ion-col>
            <ion-col *ngIf="item.lSiempreAbiertoDomingo && !item.lCerradoDomingo"><p><strong>Abierto 24 hrs</strong></p></ion-col>
            <ion-col *ngIf="item.lCerradoDomingo"><strong>Cerrado</strong></ion-col>
          </ion-row>
        </div>
      </ion-card-content>
      <hr>
      <ion-card-header>
        <strong>Ubicación</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-row style="background: #ffffff !important; height: 60px !important;">
          <ion-col size="2">
            <ion-row>
              <ion-button fill="clear">
                <ion-icon slot="icon-only" color="negro" name="pin" style="padding-left: 5px !important;"></ion-icon>
              </ion-button>
            </ion-row>
            <ion-row *ngIf="this.dist != null && this.dist != '0 m' && this.dist != 'NaN m' ">{{this.dist}}</ion-row>
          </ion-col>
          <ion-col style="padding-top: 8px !important;">
            <ion-row>{{fRestaurant.aDireccion}}</ion-row>
          </ion-col>
        </ion-row>
        <ion-row (click)="goToGoogle()" style="background: #ffffff !important; height: 60px !important;">
          <ion-col size="2" style="padding-left: 14px !important;">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" color="negro" name="navigate-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="10" style="padding-top: 8px !important;">
            <ion-row>¿Cómo llegar?</ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </div>
</div>
<div id="map" style="width:100%; height:60%;"></div>

</ion-content>
<app-menu></app-menu>
