<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="closeModal()">
        <ion-icon slot="icon-only" style=" zoom:1.2 !important;" name="arrow-back" color="negro"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important; color: #222;">APLICAR</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="padding-bottom: 0px !important;">
       Filtrar por:
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
       <ion-card *ngFor="let filtro of filtros" class="ion-no-padding">
         <ion-card-header style="text-transform: lowercase !important;">
           {{filtro.aTipoFiltro}}
         </ion-card-header>
         <ion-card-content class="ion-no-padding">
           <ion-list>
             <ion-item lines="none" *ngFor="let item of filtro.elementos; index as i">
               <ion-label>{{item.aNombreCategoria}}</ion-label>
               <ion-checkbox [(ngModel)]="item.isChecked" (ionChange)="updateFiltros(item,filtro)"></ion-checkbox>
             </ion-item>
           </ion-list>
         </ion-card-content>
       </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
