<ion-footer>
  <ion-toolbar class="ion-no-border ion-no-padding">

<div style="background: #333333;">
  <ion-row>
    <ion-col class="ion-text-center">
      <img class="logo-footer" src="assets/imgs/logo.svg" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding-footer">
       <ion-row>
         <ion-label class="title-footer" color="blanco">
           <strong>
             Contáctanos
           </strong>
         </ion-label>
       </ion-row>
       <ion-row class="padding-top-20">
          <ion-col>
            <ion-label color="blanco">
              Si necesitas ayuda o difusión para alguna iniciativa contáctanos
            </ion-label>
          </ion-col>
       </ion-row>
       <ion-row *ngIf="!vars.isMobileBrowser">
         <ion-button mode="ios" color="blanco" class="ion-no-padding" fill="clear">
           <ion-icon style="padding-left:5px;" color="blanco" slot="start" name="mail-outline"></ion-icon>
            contacto@redesalimentariasecosolidarias.org.mx
         </ion-button>
       </ion-row>
       <ion-row *ngIf="vars.isMobileBrowser">
         <ion-col size="2" class="ion-no-padding">
           <ion-button fill="clear" class="ion-no-padding">
             <ion-icon slot="icon-only" color="blanco" name="mail-outline"></ion-icon>
           </ion-button>
         </ion-col>
         <ion-col size="10">
           <ion-label color="blanco">
             contacto@redesalimentariasecosolidarias.org.mx
           </ion-label>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-button mode="ios" color="blanco" class="ion-no-padding" fill="clear">
           <ion-icon style="padding-left:5px;" color="blanco" slot="start" name="location-outline"></ion-icon>
         </ion-button>
       </ion-row>
       <ion-row>
         <ion-button mode="ios" color="blanco" class="ion-no-padding" fill="clear">
           <ion-icon style="padding-left:5px;" color="blanco" slot="start" name="call-outline"></ion-icon>
         </ion-button>
       </ion-row>
    </ion-col>
    <ion-col class="padding-footer">
        <ion-row>
          <ion-label class="title-footer" color="blanco">
            <strong>
              Información
            </strong>
          </ion-label>
        </ion-row>
        <!-- <ion-row class="padding-top-20">
        <ion-button (click)="goToAdmin()" mode="ios" color="blanco" class="ion-no-padding" fill="clear">
          Investigadores e iniciativas
        </ion-button>
        </ion-row> -->
        <ion-row>
        <ion-button (click)="goToFooterOption('nosotros')" mode="ios" color="blanco" class="ion-no-padding" fill="clear">
          Nosotros
        </ion-button>
        </ion-row>
        <ion-row>
          <ion-button (click)="goToFooterOption('iniciativas')" mode="ios" color="blanco" class="ion-no-padding" fill="clear">
            Iniciativas
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button (click)="goToFooterOption('listado-blogs')" mode="ios" color="blanco" class="ion-no-padding" fill="clear">
            Blog
          </ion-button>
        </ion-row>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding-footer">
      <div class="divider"></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="padding-left:50px;" [size]="footerColSize">
        <ion-label color="blanco">
          Copyright © 2021 REDAL. Todos los derechos reservados.
        </ion-label>
    </ion-col>
    <ion-col style="padding-left:50px;" [size]="footerColSize">
      <ion-row>
        <ion-col size="2">
          <img src="assets/imgs/icon-pay-01.png" alt="">
        </ion-col>
        <ion-col size="2">
          <img src="assets/imgs/icon-pay-02.png" alt="">
        </ion-col>
        <ion-col size="2">
          <img src="assets/imgs/icon-pay-03.png" alt="">
        </ion-col>
        <ion-col size="2">
          <img src="assets/imgs/icon-pay-04.png" alt="">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>

</ion-toolbar>
</ion-footer>
