.title {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  padding-top: 5px;
}

.sub-title {
  font-size: 1em;
  font-weight: normal;
  color: #666666;
}

.strong {
  font-size: 2.5em;
  font-weight: bold;
}

.strong-2 {
  font-size: 1.5em;
  font-weight: bold;
}

.parrafo {
  color: #666666;
  font-weight: bold;
  padding: 15px;
  text-align: justify;
}

.parrafo-2 {
  color: #666666;
  font-weight: bold;
}

.parrafo-3 {
  color: #A5A5A5;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 60px;
}

.estilo{
  border-bottom: 5px solid var(--ion-color-verde);
}

.separador {
  height: 150px;
}

.swiper-pagination-bullet {
  background: var(--ion-color-menu-icon);
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background:var(--ion-color-header);
}

.card-iniciativa {
  border: #ececec 1px solid;
}

.center-iniciativa-title {
  padding-left: 20px;
  padding-top: 15%;
}

.item {
  background: #ececec;
  height: 3px;
  width: 35px;
}

.item-2 {
  background: var(--ion-color-verde);
  height: 3px;
  width: 35px;
}

.padding {
  padding: 30px !important;
}

ion-slides {
  --bullet-background: red;
  --bullet-background-active: rebeccapurple;
}

p {
  color: #222;
  margin: 0;
  border: 0;
}

div {
  background: var(--ion-color-blanco);
}

.sobre {
  position: relative;
  display: inline-block;
}

.sobre ion-button {
  position: absolute;
  top: calc(75%);
  left: calc(0%);
}

.gradiente{
  height: 180px;
  width: 100%;
  background: linear-gradient(to bottom, #0aaad6, #0bc194) !important;
}

.bordes-venta{
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 0px;
}

.bordes-venta-descripcion{
  padding-top: 0px;
  padding-bottom: 0px;
}

.card{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 2px var(--ion-menu-color) solid;
  border-right: 2px var(--ion-menu-color) solid;
  border-bottom: 7px var(--ion-menu-color) solid;
}

.borde-bottom{
  padding-bottom: 7%;
}

.iosImg{height: 300px !important; width: 100% !important;}

.androidImg{height: auto !important; width: 100% !important;}

.browserPcImg{height: 420px !important; width: auto !important;}

.border-radius-card {
  border-radius: 10px;
}

.img-vermas {
  z-index: 2;
  position:absolute;
  left: 90%;
  float: right;
  padding-top:230px;
}

.hojas {
  z-index: 2;
  position:absolute;
  left: 80%;
  float: right;
  top:-120px;
}

.tomates {
  z-index: 2;
  position:absolute;
  float: left;
  top:-280px;
}

.logo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: var(--ion-color-verde) 3px solid;
}

.logo-footer {
  width: 110px;
  height: 110px;
}

.logo-padding {
  padding: 50px;
}

.escala {
  filter: grayscale(100%);
}

.efecto:hover {
    filter: grayscale(0%);
}

.contenedor-texto {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 40px;
  font-style: oblique;
}

.padding-footer {
  padding-left: 50px;
  padding-top: 20px;
}

.title-footer {
  font-size: 1.2em;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.divider {
  height: 1px;
  width: 95%;
  background: #484848;
}
