p {
  color: white;
  margin: 0;
  border: 0;
}

h3{
  color: black;
  margin: 2px;
}

ion-icon {
  color: white;
}

.bordes{
  margin: 0px !important;
  padding: 0px !important;
}

.redondeo{
  border-radius: 5px !important;
  position: relative;
  box-shadow: none !important;
  border-style: none !important;
}

.anima{
  animation: slide 1.0s;
}

.anima2{
  animation: slide 1.0s;
  animation-delay: 0.5s;
}

.grid-borders{
  --ion-grid-column-padding: 0px;
}

@keyframes slide {
  0% { transform: translate(-200px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

.subrayado{
  text-decoration: underline;text-decoration-color:#00969A;
 }
