<ion-header *ngIf="!this.vars.isUserLoggedIn">
    <app-redal-toolbar menuSelection="cuenta"></app-redal-toolbar>
  <ion-toolbar class="text-left">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="compartir()">
        <ion-icon slot="icon-only" name="share-social-outline" color="color-base"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="this.vars.isUserLoggedIn">
    <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar class="text-left">
    <ion-title>
      <strong style="font-size: 15px !important;">MI CUENTA</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="compartir()">
        <ion-icon slot="icon-only" name="share-social-outline" color="color-base"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="this.vars.isUserLoggedIn">
    <ion-card class="anima ion-padding">
      <ion-card-content>
        <ion-row>
          <ion-col size="4" class="ion-align-self-center ion-text-center">
              <img style="height: auto; width:{{iconSize}};" *ngIf="this.vars.userPerfil.aGenero == null " src="assets/imgs/logo.png" alt="logo">
              <img style="height: auto; width:{{iconSize}};" *ngIf="this.vars.userPerfil.aGenero == 'H' " src="assets/imgs/usuario.svg" alt="imagen">
              <img style="height: auto; width:{{iconSize}};" *ngIf="this.vars.userPerfil.aGenero == 'M' " src="assets/imgs/usuario2.svg" alt="imagen">
          </ion-col>
          <ion-col size="8" style="padding-left:0px;">
            <ion-row>
              <ion-col>
                <h3 *ngIf="this.vars.userPerfil.aUsuario == null">Usuario: incompleto</h3>
                <h3 *ngIf="this.vars.userPerfil.aUsuario != null">Usuario: {{this.vars.userPerfil.aUsuario}}</h3>
                <h3>{{this.vars.userPerfil.email}}</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button fill="clear" color="negro" size="small" (click)="logout()" class="subrayado">Cerrar sesión</ion-button>
              </ion-col>
            </ion-row>
            <hr style="background: #ececec;">
            <ion-row>
              <ion-col>
                <h3 *ngIf="this.vars.userPerfil.fFechaNacimiento != null">Fecha Nacimiento: {{this.vars.userPerfil.fFechaNacimiento}}</h3>
                <h3 *ngIf="this.vars.userPerfil.fFechaNacimiento == null">Fecha Nacimiento: incompleta</h3>
                <h3 *ngIf="this.vars.userPerfil.aGenero == 'M' ">Sexo: Mujer</h3>
                <h3 *ngIf="this.vars.userPerfil.aGenero == 'H' ">Sexo: Hombre</h3>
                <h3 *ngIf="this.vars.userPerfil.aGenero == null">Sexo: incompleto</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button fill="clear" color="negro" size="small" (click)="goToCompletePerfil()" class="subrayado">Editar perfil</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="this.vars.isPedidos" class="anima">
      <ion-card-header>
        <strong style="color: var(--ion-color-negro);">Mis pedidos</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col style="padding-top: 15px !important;">
            <h3 *ngIf="(this.vars.pedidosPorCalificar + this.vars.pedidosPendientes) == 1">Tienes pendientes en {{this.vars.pedidosPorCalificar + this.vars.pedidosPendientes}} pedido</h3>
            <h3 *ngIf="(this.vars.pedidosPorCalificar + this.vars.pedidosPendientes) > 1">Tienes pendientes en {{this.vars.pedidosPorCalificar + this.vars.pedidosPendientes}} pedidos</h3>
            <h3 *ngIf="(this.vars.pedidosPorCalificar + this.vars.pedidosPendientes) == 0">No tienes pedidos pendientes</h3>
          </ion-col>
          <ion-col style="text-align: right !important;">
            <ion-button fill="clear" color="negro" size="small" (click)="goToHistorialPedidos()" class="subrayado">ver pedidos</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-top: 15px !important;"><h3>Cancelados: {{this.vars.pedidosCancelados.length}}</h3></ion-col>
          <ion-col style="text-align: right !important;">
            <ion-button fill="clear" color="negro" size="small" (click)="goToPedidosCancelados()" class="subrayado">ver detalle</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="!this.vars.isUserLoggedIn" style="background-image: url('{{this.fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center 20px;">

    <div style="padding-top: {{this.padding}} !important;">

      <ion-card-content>

        <ion-row class="grid-borders">
          <ion-col>
            <ion-button *ngIf="this.vars.showSingApple" shape="round" expand="block" color="negro" (click)="goToAppleLogin()">
              <ion-icon slot="start" color="blanco" name="logo-apple"></ion-icon>
              INICIAR SESIÓN CON APPLE
            </ion-button>
          </ion-col>
        </ion-row>
        <br *ngIf="this.vars.showSingApple">
        <ion-row class="grid-borders">
          <ion-col>
            <ion-button shape="round" expand="block" color="rojo" (click)="goToGooglePlusLogin()">
              <ion-icon slot="start" name="logo-google"></ion-icon>
              INICIAR SESIÓN CON GOOGLE
            </ion-button>
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="grid-borders">
          <ion-col>
            <ion-button shape="round" expand="block" color="color-base" (click)="goToLoginPropio()">
              INICIAR SESIÓN CON NOSOTROS
            </ion-button>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col style="text-align: center !important; padding-top: 0px !important;">
            <p (click)="goCrearCuenta()" style="color: #222 !important;">¿Aún no tienes cuenta? Crear una cuenta</p>
          </ion-col>
        </ion-row>

      </ion-card-content>

    </div>
  </ion-card>
</ion-content>
<app-menu></app-menu>
