<ion-header>
    <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="goBack()">
        <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
    <strong style="font-size: 15px !important;">{{aNombreCategoria2}}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToMap()">
        <ion-icon slot="icon-only" name="navigate-outline" color="color-base"></ion-icon>
      </ion-button>
      <!-- <ion-button fill="clear" (click)="goToFiltro()">
        <ion-icon slot="icon-only" name="options-outline" color="color-base"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <ion-row style="padding: 0px !important; border: 0px !important; margin: 0px !important; background: #ffffff !important;">
      <ion-col style="background: #ffffff !important; padding: 0px !important; border: 0px !important; margin: 0px !important;">
          <ion-searchbar class="searchbar-input-ios" [(ngModel)]="searchTerm"  placeholder="Buscar" (search)="buscar()" (ionClear)="cancel()"></ion-searchbar>
  </ion-col>
  </ion-row>
</ion-header>

<ion-content>

  <ion-row *ngIf="tamanoinicio != 0" class="estilo-row">
    <ion-col class="ion-text-right ion-no-padding">
        <ion-button fill="outline" shape="round" size="small" color="negro">
          {{tamanoinicio}}
          <ion-icon slot="end" name="checkmark-outline" color="negro"></ion-icon>
        </ion-button>
      </ion-col>
  </ion-row>

<div *ngIf="isAllRestaurants">
    <ion-card *ngFor="let item of arrScroll" class="shadow card-space">
      <div style=" background: #ffffff !important; padding: 15px !important;">
          <p class="titulo" style=" font-size: 14px !important; color:#222 !important;"><strong>{{item.aNombreLugar}}</strong></p>
      </div>

      <ion-card-content class="bordes" style="background: #ffffff !important; padding: 5px !important;">
        <img class="redondeo" *ngIf="item.aImagen == null" style="height:280px !important; width: 100%; background: #ececec !important;" (click)="goToFRestaurant(item.idLugar,aNombreCategoria2)" src="{{this.vars.BASE_URL+'/public/img/lugares/'+item.aImagen}}" alt="">
        <img class="redondeo" *ngIf="item.aImagen != null" style="height: {{subcategoriaImgHeight}}; width: auto;" (click)="goToFRestaurant(item.idLugar,aNombreCategoria2)" src="{{this.vars.BASE_URL+'/public/img/lugares/'+item.aImagen}}" alt="imagen">
        <ion-row style="padding: 5px !important;">
        <ion-col size="2" class="ion-text-right">
          <ion-row>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="navigate-outline" color="color-base"></ion-icon>
            </ion-button>
          </ion-row>
        <ion-row *ngIf="item.distancia1 != null && item.distancia1 != '0 m' && item.distancia1 != 'NaN m' " style="padding-right: 25px !important;">
          <h3>{{item.distancia1}}</h3>
        </ion-row>
        </ion-col>
        <ion-col size="10" class="ion-text-left">
          <ion-row>
            {{item.aDireccion}}
          </ion-row>
        </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
</div>

<ion-row *ngIf="tamanoinicio != 0" class="estilo-row">
  <ion-col class="ion-text-right ion-no-padding">
      <ion-button fill="outline" shape="round" size="small" color="negro">
        {{tamanofinal}} de {{tamanoinicio}}
      </ion-button>
    </ion-col>
</ion-row>

<div *ngIf="scroll">
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando elementos">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</div>

</ion-content>

<app-menu></app-menu>
