<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back" size="large"  >
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px; color:#222">Aplicar</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="padding-bottom: 0px !important;">
       Filtrar por:
    </ion-card-header>
    <ion-card-content no-padding>
       <ion-card *ngFor="let filtro of filtros" no-padding>
         <ion-card-header style="text-transform: lowercase !important;">
           {{filtro.aTipoFiltro}}
         </ion-card-header>
         <ion-card-content no-padding>
           <ion-list lines="none">
             <ion-item lines="none" *ngFor="let item of filtro.elementos">
               <ion-label>{{item.aNombre}}</ion-label>
               <ion-checkbox [(ngModel)]="item.isChecked" (ionChange)="updateFiltros(item,filtro)"></ion-checkbox>
             </ion-item>
           </ion-list>
         </ion-card-content>
       </ion-card>
    </ion-card-content>
  </ion-card>
 
  <ion-card>
    <ion-card-header>
       Ordenar por:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let ordenamiento of ordenamientos">
          <ion-label>{{ordenamiento.aNombre}}</ion-label>
          <ion-checkbox [(ngModel)]="ordenamiento.isChecked" (ionChange)="updateOrdenamiento(ordenamiento)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 </ion-content>
