ion-title{
    --padding-top: 0px !important;
   }

   ion-header{
    --border-radius: 8px !important;
   }

   ion-toolbar{
     --border-top-right-radius: 8px !important;
     --border-top-left-radius: 8px !important;
     --border: 0.7px solid rgba(0, 0, 0, 0.3) !important;
     --padding-top: 0px !important;
   }

   ion-content{
     --border: 0.7px solid rgba(0, 0, 0, 0.3) !important;
   }

   ion-content > .scroll-content{
     --margin-bottom: 10px;
   }