<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small"  (click)="goBack()">
        <ion-icon slot="icon-only" style=" zoom:1.2 !important;" name="arrow-back" color="negro"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">EVENTO</strong>
    </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content class="cards-bg">
<div *ngIf="show" >
  <ion-row  class="margen background-color-base" >
  <h1 style=" margin-top:0px;" class="texto">{{evento.aNombre}}</h1>
  </ion-row>
  <div class="ion-text-center" style="margin: 0px; padding: 0px; width:100%;">
      <img style="width:100%; height:100%;" src="{{this.vars.BASE_URL+'/public/img/eventos/'+evento.aImagen}}" />
  </div>

  <div>
  <h5 class="margen " style="background: black;"  [innerHTML]="evento.aDireccion"></h5>
</div>
  <ion-row *ngIf="evento.aTelefono != null" style="background:#06aca2; margin:0px;padding:0px; font-size: 18px;  color:#fff; height:50px;">
   <ion-col class="ion-text-center ion-no-padding">
  <div class="ion-text-center">
    <a href="tel:{{this.evento.aTelefono}}"></a>
    <ion-icon name="call-outline" style="zoom: 2.0;"> </ion-icon>
  </div>
  </ion-col>
  </ion-row>
  <ion-row  *ngIf="evento.aWebsite != null" (click)="goWeb()" style="background:#ff742d; margin:0px;padding:0px; font-size: 18px; color:#fff; height:50px;">
  <ion-col size="10" class="ion-text-center">
    <div class="ion-text-wrap">
      <h5 style="color:white; margin-top:2px; margin-top:0px;" [innerHTML]="evento.aWebsite"></h5>
    </div>
  </ion-col>
  <ion-col size="2" class="ion-text-center">
    <ion-icon name="at-outline" style="zoom: 2.0;color: white;"></ion-icon>
  </ion-col>
</ion-row>
  <div class="adv-map" style="background:white;width:100%; padding:0px; margin:0px; border:none;">
  <div class="ion-text-wrap" style="width:100%; padding:10px; margin:0px; border:none; ;">
   <p [innerHTML]="evento.aDescripcion"></p>
  </div>
  </div>
    <ion-row *ngIf="evento.aRangoPrecio" style="background:#fbb901; margin:0px;padding:0px; font-size: 18px;  color:#fff; height:50px;">
    <ion-col class="ion-text-center">
        <p style="color:white; margin-top:2px;" [innerHTML]="evento.aRangoPrecio"></p>
    </ion-col>
  </ion-row>
  <ion-row (click)="agendarEvento()" style="background:#06aca2; margin:0px;padding:0px; font-size: 18px;  color:#fff; height:50px;">
    <ion-col size="10" class="ion-text-center">
      <div class="ion-text-wrap ion-text-center">
        <p style="color:white; margin-top:2px;" >Agendar Evento</p>
      </div>
    </ion-col >
    <ion-col size="2" class="ion-text-center">
      <ion-icon ios="calendar-outline" md="calendar-outline" style="zoom: 2.0;color: white;"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row (click)="maps()" style="background:#264653; margin:0px;padding:0px; font-size: 18px; color:#fff; height:50px;">
    <ion-col size="10" class="ion-text-center">
      <div class="ion-text-wrap ion-text-center">
        <p style="color:white; margin-top:2px;">¿Cómo llegar?</p>
      </div>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-icon name="navigate" style="zoom: 2.0; color: white;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="evento.caracteristicas != null && evento.caracteristicas.lenght>0" style="background:#E76F51; margin:0px;padding:0px; font-size: 18px; color:#fff;">
    <div style="width:100%; height: 50px;" text-center>
      <h1 style="color:white; margin-top:-0%; margin-left: 2%;">Características</h1>
    </div>
  </ion-row>
  <div *ngIf="evento.caracteristicas != null  && evento.caracteristicas.lenght>0"  style=" margin:0px;padding:0px; font-size: 18px;  ">
      <div class="ion-text-wrap">
        <p  *ngFor='let caracteristica of evento.caracteristicas'>- {{caracteristica.aNombreCaracteristica}}</p>
      </div>
  </div>
  <ion-row *ngIf="evento.horario != null" style="background:#06aca2; margin:0px;padding:0px; font-size: 18px;  color:#fff; ">
    <div style="width:100%; height: 50px; text-align: center;">
      <p style="color:white; margin-top:-0%; margin-left: 2%;">Horarios</p>
    </div>
  </ion-row>
  <div *ngIf="evento.horario != null"  style="background:#06aca2; margin:0px;padding:0px; font-size: 18px;  color:#fff; ">
    <div>
      <ion-col size="6">Lunes: </ion-col> <ion-col size="6">{{evento.horario.hAperturaLunes}} - {{evento.horario.hCierreLunes}}</ion-col><br>
      <ion-col size="6">Martes: </ion-col> <ion-col size="6">{{evento.horario.hAperturaMartes}} - {{evento.horario.hCierreMartes}}</ion-col><br>
      <ion-col size="6">Miércoles: </ion-col> <ion-col size="6">{{evento.horario.hAperturaMiercoles}} - {{evento.horario.hCierreMiercoles}}</ion-col><br>
      <ion-col size="6">Jueves: </ion-col> <ion-col size="6">{{evento.horario.hAperturaJueves}} - {{evento.horario.hCierreJueves}}</ion-col><br>
      <ion-col size="6">Viernes: </ion-col> <ion-col size="6">{{evento.horario.hAperturaViernes}} - {{evento.horario.hCierreViernes}}</ion-col><br>
      <ion-col size="6">Sábado: </ion-col> <ion-col size="6">{{evento.horario.hAperturaSabado}} - {{evento.horario.hCierreSabado}}</ion-col><br>
      <ion-col size="6">Domingo: </ion-col> <ion-col size="6">{{evento.horario.hAperturaDomingo}} - {{evento.horario.hCierreDomingo}}</ion-col><br>
    </div>
  </div>

</div>
</ion-content>
<app-menu></app-menu>
