.margen{
    margin:0px;
    padding:10px 10px;
    color: var(--ion-color-blanco) !important;
 }
  .background-color-base{
      background: var(--ion-color-color-base) !important; ;
  }
  .texto{
    color: var(--ion-color-blanco) !important;
}
