<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small"  (click)="goBack()">
        <ion-icon slot="icon-only" size="large" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
        <strong style="font-size: 15px !important;" >Seguimiento de pedido</strong>
    </ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card>
      <ion-card-header class="ion-text-wrap">
        <ion-row>
          <ion-col size="10">
              <strong class="ion-text-wrap">DATOS DEL PEDIDO</strong>
          </ion-col>
          <ion-col size="2" *ngIf="pedido.fFechaHoraEnviado != null && pedido.fFechaHoraPreparado != null">
              <div class="alerta alerta-style"></div>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row *ngIf="pedido.fFechaHoraPreparado == null"><p style="padding-left: 5px;" color="danger">Tu pedido esta en preparación</p></ion-row>
        <ion-row *ngIf="pedido.fFechaHoraEnviado != null && pedido.fFechaHoraPreparado != null"><p style="padding-left: 5px;">Tu pedido esta en curso</p></ion-row>
        <!-- se puede condicionar con fFechaHoraEnviado evaluar mas delante -->
        <ion-row class="ion-no-padding">
          <ion-col>
            <strong>Fecha pedido: </strong>{{pedido.fFechaHoraPedido}}
          </ion-col>
          <ion-col>
            <strong>Dirección: </strong>{{pedido.aDireccionDestino}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding" *ngIf="pedido.aObservacionPedido != null">
          <ion-col>
            <strong>Observaciones: </strong>{{pedido.aObservacionPedido}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding" *ngIf="pedido.fFechaHoraEntrega != null && pedido.fFechaHoraPago != null && pedido.fFechaHoraPago != 'Pagado'">
          <ion-col>
            <strong>Fecha de pago: </strong>{{pedido.fFechaHoraPago}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col *ngIf="pedido.idTipoPedido == 1">
            <strong>Tipo de Pedido: </strong>a domicilio
          </ion-col>
          <ion-col *ngIf="pedido.idTipoPedido == 2">
            <strong>Tipo de Pedido: </strong>recoger en iniciativa
          </ion-col>
          <ion-col *ngIf="pedido.idTipoPedido == 3">
            <strong>Tipo de Pedido: </strong>presencial
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col *ngIf="isRepartidor">
            <ion-item>
              <ion-avatar item-start>
                <img style="height: 60px !important; width: 60px !important;" src="{{this.vars.BASE_URL}}/public/img/repartidores/{{repartidor.aFotoRepartidor}}" alt="repartidor">
              </ion-avatar>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col *ngIf="isRepartidor">
            <strong>Repartidor: </strong>{{repartidor.aNombreRepartidor}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right" class="ion-no-padding">
            Pedido: ${{pedido.dCostoPedido}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right" class="ion-no-padding">
            Envío: ${{pedido.dCostoEnvio}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right" class="ion-no-padding">
            <strong>Total: ${{pedido.dTotal}}</strong>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="pedido.idFormaPago != 1 && pedido.fFechaHoraPago == null">

          <ion-col class="ion-text-right" class="ion-no-padding">
            <ion-button shape="round" color="color-base" (click)="this.goToPagar(pedido)"  >Pagar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div id="mapSeguimiento" style="margin:10px !important; width:95%; height:80%;"></div>

  </ion-content>
  <app-menu></app-menu>
