<div class="splash-content" *ngIf="showSplash">
  <ion-row>
    <ion-col *ngIf="showSplash" style="text-align: center !important;">
      <img class="anm" src="assets/icon/dibujo.svg" alt="logo">
    </ion-col>
  </ion-row>
</div>

<ion-app>
  <ion-menu (ionClose)="navegacion()" side="start" menuId="first" contentId="main" type="overlay"  >
      <ion-header>
        <ion-toolbar color="verde" class="menu ion-text-left" color="header" >
          <ion-title>
            <img style="height: 40px !important;" src="assets/icon/headerApp.svg" alt="logo">
          </ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeMenu()">
              <ion-icon slot="icon-only" name="menu" color="negro"></ion-icon>
          </ion-button>
          </ion-buttons>
          </ion-toolbar>
      </ion-header>

      <ion-content color="verde" class="menu" style="border-bottom-right-radius: 15px !important">
        <ion-list style="background: var(--ion-color-verde);" lines="none">
          <div *ngIf="vars.isMobileBrowser">
            <ion-item color="verde" (click)="goToInicio()">
              <ion-icon color="blanco" class="menu-icon" name="home-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">INICIO</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToNosotros()">
              <ion-icon color="blanco" class="menu-icon" name="people-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">NOSOTROS</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToMapa()">
              <ion-icon color="blanco" class="menu-icon" name="navigate-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">MAPA</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToIniciativas()">
              <ion-icon color="blanco" class="menu-icon" name="apps-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">INICIATIVAS</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToServicios()">
              <ion-icon color="blanco" class="menu-icon" name="hand-left-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">SERVICIOS</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToBlog()">
              <ion-icon color="blanco" class="menu-icon" name="reader-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">BLOG</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToGaleria()">
              <ion-icon color="blanco" class="menu-icon" name="images-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">GALERIA</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToContacto()">
              <ion-icon color="blanco" class="menu-icon" name="call-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">CONTACTO</h4>
              </ion-text>
            </ion-item>
            <ion-item color="verde" (click)="goToMiCuenta()">
              <ion-icon color="blanco" class="menu-icon" name="person-outline" slot="end"></ion-icon>
              <ion-text>
                <h4 class="menu color">MI CUENTA</h4>
              </ion-text>
            </ion-item>
          </div>
          <ion-item color="verde" (click)="goToNotificaciones()">
            <ion-icon color="blanco" class="menu-icon" name="notifications-outline" slot="end"></ion-icon>
            <ion-text>
              <h4 class="menu color">NOTIFICACIONES</h4>
            </ion-text>
          </ion-item>
          <ion-item color="verde" (click)="goToInfografias()">
            <ion-icon color="blanco" class="menu-icon" name="book-outline" slot="end"></ion-icon>
            <ion-text>
              <h4 class="menu color">INFOGRAFIAS</h4>
            </ion-text>
          </ion-item>
          <ion-item color="verde" (click)="goToVideos()">
            <ion-icon color="blanco" class="menu-icon" name="play-outline" slot="end"></ion-icon>
            <ion-text>
              <h4 class="menu color">VIDEOS</h4>
            </ion-text>
          </ion-item>
          <ion-item color="verde" (click)="goToTrueques()">
            <ion-icon color="blanco" class="menu-icon" name="repeat-outline" slot="end"></ion-icon>
            <ion-text>
              <h4 class="menu color">TRUEQUES</h4>
            </ion-text>
          </ion-item>
          <ion-item color="verde" (click)="goToDonaciones()">
            <ion-icon color="blanco" class="menu-icon" name="hand-right-outline" slot="end"></ion-icon>
            <ion-text>
              <h4 class="menu color">DONACIONES</h4>
            </ion-text>
          </ion-item>
          <ion-item color="verde" (click)="goToTutorial()">
            <ion-icon color="blanco" class="menu-icon" name="help-circle-outline" slot="end"></ion-icon>
            <ion-text>
              <h4 class="menu color">AYUDA</h4>
            </ion-text>
          </ion-item>
          <ion-item color="verde" (click)="goToTerminos()">
            <ion-icon color="blanco" class="menu-icon" name="alert-outline" slot="end"></ion-icon>
            <ion-text>
              <h4 class="menu color">TÉRMINOS Y POLÍTICA DE PRIVACIDAD</h4>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
