.vertical-center {
   
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  ion-slides { 
    --bullet-background: radial-gradient(circle, transparent 30%, #fdfbfb 40%); 
    --bullet-background-active: #00cc76; 
  }