<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small"  (click)="goBack()">
        <ion-icon slot="icon-only" style="zoom:1.3 !important;" color="negro"  name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
     <strong style="font-size: 15px !important;"></strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #222 !important;">
  <ion-slides #sliderRef id="sliderRef" name="sliderRef" loop="true" pager="true" zoom="true" style="height: 100%;" [options]="sliderOpts">
    <ion-slide *ngFor="let item of this.galeria; let i = index;">
          <div class="swiper-zoom-container">
            <img style="width: 100% !important; " src="{{url}}/{{item.aNombreImagen}}" alt="galeria">
          </div >
    </ion-slide>
  </ion-slides>
</ion-content>
