<ion-header>
    <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title style="color:#222 !important;">
      <strong style="text-transform: uppercase; font-size: 15px !important; ">{{categoria}}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="compartir()">
        <ion-icon slot="icon-only" name="share-social-outline" color="color-base"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content>
  <div *ngIf="ban">
  <ion-card *ngFor="let item of arrToShow" class="shadow-card card-space" >
    <ion-card-header class="ion-no-border" style="padding-top: 4px; padding-bottom: 0px;" *ngIf="item.cantidadLugares !=0">
          <ion-row>
            <ion-col size="7">
              <strong class="titulo" style="color:#222 !important;">{{item.aNombreCategoria2}}</strong><small style="color: #fff !important;"> ({{item.cantidadLugares}})</small>
            </ion-col>
            <ion-col size="5" class="ion-text-right ion-no-padding">
              <ion-button (click)="goToAllRestaurants(item.idCategoria2, item.aNombreCategoria2)" fill="outline" shape="round" size="small" color="negro">
                Ver más
                <ion-icon slot="end" color="negro" name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <hr>
      </ion-card-header>

    <ion-card-content class="bordes bottom-border" *ngIf="item.cantidadLugares !=0">
        <ion-slides [options]="slideSubcategoriasOpts">
          <ion-slide *ngFor="let lugar of item.lugares" style="padding-top:10px !important;">
                <ion-card>
                    <ion-card-content class="bordes">
                      <img *ngIf="item.aImagen == null" style="height:{{subcategoriaImgHeight}} !important; width: 100%; background: #ececec !important;" (click)="goToFRestaurant(lugar.idLugar,item.aNombreCategoria2,item.idCategoria2)" src="{{this.vars.BASE_URL+'/public/img/lugares/'+lugar.aImagen}}" alt="">
                      <img *ngIf="item.aImagen != null" style="height:{{subcategoriaImgHeight}} !important; width: 100%;" (click)="goToFRestaurant(lugar.idLugar,item.aNombreCategoria2, item.idCategoria2)" src="{{this.vars.BASE_URL+'/public/img/lugares/'+lugar.aImagen}}" alt="imagen">
                    </ion-card-content>
                        <ion-text>{{lugar.aNombreLugar}}</ion-text>
                </ion-card>
          </ion-slide>
          <ion-slide *ngIf="item.lugares.length >= 5" style="padding-top:10px !important;">
            <ion-card style="padding: 2px !important;">
                <ion-card-content class="bordes">
                  <img (click)="goToAllRestaurants(item.idCategoria2, item.aNombreCategoria2)" style="height:90px; width:100%;" src="{{this.vars.BASE_URL+'/public/img/subcategorias/mas.svg'}}" alt="imagen">
                </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
    </ion-card-content>
  </ion-card>
  </div>

  <div *ngIf="scroll">
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando elementos">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </div>

  </ion-content>
  <app-menu></app-menu>
