<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
</ion-header>

<ion-content>

  <div class="myCard">
    <img src="assets/imgs/11.JPG" alt="" style="width: 100%; height: 400px; object-fit: cover;margin: 0px;padding: 0px;border: 0px;">
    <div class="myOverlay">
      <div class="center" style="text-align: center !important;">
        <p style=" color:#fff;font-size: 28px; font-weight: bold;">REDES ALIMENTARIAS ECOSOLIDARIAS</p>
        <p style=" color:#fff;font-size: 24px; font-weight: bold;"><a href=""  style="text-decoration: none;font-size: 24px; font-weight: bold;" class="ref"> Inicio</a> / Galeria</p>
      </div>
    </div>
  </div>

  <div class="separador"></div>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-padding efecto" [size]="colSize" *ngFor="let item of galeria; let i = index;">
        <ion-img (click)="openImg(i)" src="{{vars.BASE_URL}}/public/frontend/template/images/galeria/{{item.aNombreImagen}}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="separador"></div>

<app-redal-footer></app-redal-footer>
</ion-content>
<app-menu></app-menu>
