.divider-custom{
        background-color: #ececec;
        height: 2px;
        width: 100%;
      }

      .info{
        color: #606060;
      }

      .title{
        color: #222;
      }

      ion-col{
        color: #222 !important;
      }
