<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>Ayuda compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="shadow">
    <ion-row class="title" style="padding-left: 15px; padding-top: 20px;">
      <strong>Ayuda con la compra</strong>
    </ion-row>
    <ion-card-content>
      <div class="divider-custom"></div>
      <ion-row class="info" style="padding-top:20px;">
        {{this.aMensaje}}
      </ion-row>
      <ion-row class="info" style="padding-top:20px;">
        Descripción:
      </ion-row>
      <ion-row style="border: solid #ececec 2px;">
          <ion-textarea rows="8" cols="20" style="background: #fff !important;" [(ngModel)]="descripcion"></ion-textarea>
      </ion-row>

      <ion-row class="title" style="padding-top: 20px;">
        <ion-col class="ion-text-center">
          <strong>
            Adjuntar... (opcional)
          </strong>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!ok">
        <ion-col class="ion-text-center">
          <ion-button color="negro" fill="clear" mode="ios" (click)="adjuntarFoto()">
            <strong>Tomar fotografía</strong>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="negro" fill="clear" mode="ios" (click)="adjuntarImage()">
            <strong>Elegir imagen de galería</strong>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="ok"  text-center>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" size="large" (click)="delete()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="ok" >
          <ion-col class="ion-text-center" style="width: 10%; height: 10%;">
              <img style="width: 50%; height: 50%; border-radius: 15px;" [src]="domSanitizer.bypassSecurityTrustUrl(image)" alt="Select Image" />
            </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card (click)="enviarAyuda()">
      <ion-row>
        <ion-col size="10" style="padding-left: 15px; padding-top: 15px;">
          <strong>
            Enviar petición de ayuda
          </strong>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" size="small">
            <ion-icon slot="icon-only" style="color: #222 !important;" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
<app-menu></app-menu>
