<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear" (click)="goBack()">
    <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>
  <ion-title>
    <strong style="font-size: 15px !important;">RECUPERAR CONTRASEÑA</strong>
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content style="padding: 0px !important; background: #fff !important; border-radius: 8px !important;">

     <ion-card style="background-image: url('{{fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center 10px;">

<div class="anima" *ngIf="!isCodigo && !isRecuperar" style="padding-top: {{padding}} !important;">

       <ion-card-header>
         <ion-row>
           <ion-col style="text-align: center !important;">
             Ingresa tu correo
           </ion-col>
         </ion-row>
       </ion-card-header>
       <ion-card-content>
         <ion-row>
           <ion-col>
               <input type="text" class="shadow" placeholder="Ingresa el correo con el que creaste tu cuenta" [(ngModel)]="email" style="padding-left: 20px; background: #fff !important; box-shadow: 0px 0px 0px 0px; !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
           </ion-col>
         </ion-row>

         <ion-row>
         <ion-col style="text-align: center !important;">
           <ion-button shape="round" color="color-base" (click)="recuperarContrasena()">
              Recuperar contraseña
           </ion-button>
         </ion-col>
         </ion-row>
       </ion-card-content>
       </div>

       <div class="anima" *ngIf="isCodigo && !isRecuperar" style="padding-top: {{padding}} !important;">

              <ion-card-header style="padding-left:0px !important;">
                <ion-row>
                  <ion-col style="text-align: center !important;">
                    Ingresa el codigo que envíamos a tu correo
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col style="text-align: center !important;">
                      <ion-input #0 type="phone" [(ngModel)]="numeros[0]" (ionChange)="control(0)" style="padding-left: 4px !important; --background: #ececec; border: 2px solid #222 !important; border-radius: 5px !important; width: {{sizeInputOtp}} !important; height: {{sizeInputOtp}} !important;"></ion-input>
                  </ion-col>
                  <ion-col style="text-align: center !important;">
                      <ion-input #1 type="phone" [(ngModel)]="numeros[1]" (ionChange)="control(1)" style="padding-left: 4px !important; --background: #ececec; border: 2px solid #222 !important; border-radius: 5px !important; width: {{sizeInputOtp}} !important; height: {{sizeInputOtp}} !important;"></ion-input>
                  </ion-col>
                  <ion-col style="text-align: center !important;">
                      <ion-input #2 type="phone" [(ngModel)]="numeros[2]" (ionChange)="control(2)" style="padding-left: 4px !important; --background: #ececec; border: 2px solid #222 !important; border-radius: 5px !important; width: {{sizeInputOtp}} !important; height: {{sizeInputOtp}} !important;"></ion-input>
                  </ion-col>
                  <ion-col style="text-align: center !important;">
                      <ion-input #3 type="phone" [(ngModel)]="numeros[3]" (ionChange)="control(3)" style="padding-left: 4px !important; --background: #ececec; border: 2px solid #222 !important; border-radius: 5px !important; width: {{sizeInputOtp}} !important; height: {{sizeInputOtp}} !important;"></ion-input>
                  </ion-col>
                  <ion-col style="text-align: center !important;">
                      <ion-input #4 type="phone" [(ngModel)]="numeros[4]" (ionChange)="control(4)" style="padding-left: 4px !important; --background: #ececec; border: 2px solid #222 !important; border-radius: 5px !important; width: {{sizeInputOtp}} !important; height: {{sizeInputOtp}} !important;"></ion-input>
                  </ion-col>
                  <ion-col style="text-align: center !important;">
                      <ion-input #5 type="phone" [(ngModel)]="numeros[5]" (ionChange)="control(5)" style="padding-left: 4px !important; --background: #ececec; border: 2px solid #222 !important; border-radius: 5px !important; width: {{sizeInputOtp}} !important; height: {{sizeInputOtp}} !important;"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              </div>

              <div class="anima" *ngIf="isRecuperar" style="padding-top: {{padding}} !important;">

                     <ion-card-header>
                       <ion-row>
                         <ion-col style="text-align: center !important;">
                           Ingresa tu nueva contraseña
                         </ion-col>
                       </ion-row>
                     </ion-card-header>
                     <ion-card-content>
                       <ion-row>
                         <ion-col>
                             <input type="password" class="shadow" placeholder="Nueva contraseña" [(ngModel)]="pass" style="padding-left: 20px; background: #fff !important; box-shadow: 0px 0px 0px 0px; !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
                         </ion-col>
                       </ion-row>
                       <ion-row>
                         <ion-col>
                             <input type="password" class="shadow" placeholder="Vuelve a ingresar tu contraseña" [(ngModel)]="pass2" style="padding-left: 20px; background: #fff !important; box-shadow: 0px 0px 0px 0px; !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
                         </ion-col>
                       </ion-row>
                       <ion-row>
                       <ion-col style="text-align: center !important;">
                         <ion-button shape="round" color="color-base" (click)="goToCambiarContrasena()">
                            Guardar
                         </ion-button>
                       </ion-col>
                       </ion-row>
                     </ion-card-content>
                     </div>

     </ion-card>

</ion-content>
