<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar color="blanco" class="ion-text-center">
    <ion-title>
      <strong style="font-size: 15px !important;">EVENTOS</strong>
    </ion-title>
    <ion-item>
      <ion-searchbar style="--background: var(--ion-color-negro);color:white;" animated="true" [(ngModel)]="modelBuscar" placeholder="Buscar" (search)="buscar()" (ionClear)="cancelar()"></ion-searchbar>
      <ion-icon name="search-outline"  *ngIf="!isBusquedaVacia" (click)="buscar()" style="color: black;" slot="end"></ion-icon>
      <ion-icon name="close-circle-outline" *ngIf="isBusquedaVacia" (click)="cancelar()" style="color: black;" slot="end"></ion-icon>
      <ion-icon *ngIf="this.eventosOriginal.length > 0" name="options-outline"  (click)="filtrarEventos()" slot="end"></ion-icon>
     </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="tamanoinicio != 0" style="padding: 5px !important; background: #f4f3ef !important; padding-bottom: 5px !important; padding-left: 5px !important;">
      <ion-col class="text-right no-padding">
        <ion-button slot="end" fill="outline" shape="round" color="negro">
          {{tamanoinicio}} resultados
          <ion-icon name="checkmark-outline" color="color-base"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

     <ion-card *ngFor='let event of eventosToShow' (click)="verEvento(event.idEvento)"   >
       <ion-row class="head">
         <div>
           <h1 class="texto">
             {{event.aNombre}}
            </h1>
         </div>
       </ion-row>
     <div class="ion-text-center" style="margin: 0px; padding: 0px; width:100%; height:100%;">
         <img style="width:100%;" src="{{this.vars.BASE_URL+'/public/img/eventos/'+event.aImagen}}" />
       </div>
       <ion-row>
        <ion-col class="ion-text-center" style="margin:0px;padding:0px;">
          <div style="background:#2A9D8FB3; height:45px;">
            <ion-row>
              <ion-col size="2">
              <ion-icon name="calendar-outline" style="zoom: 2.0;"></ion-icon>
             </ion-col>
              <ion-col size="10">
                <div class="ion-text-wrap">
                  <h4 style="margin-top:2px;" class="texto">{{event.fFechaDia}}</h4>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center" style="margin:0px;padding:0px;">
          <div style="background:#2A9D8F; height:45px;">
            <ion-row>
              <ion-col size="2">
               <ion-icon name="clock-outline" style="zoom: 2.0;"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <div class="ion-text-wrap">
                  <h4 style="margin-top:2px;" class="texto">{{event.hHoraInicio}}</h4>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
     </ion-card>

     <ion-row *ngIf="tamanoinicio != 0" style="padding: 5px !important; background: #f4f3ef !important; padding-bottom: 5px !important; padding-left: 5px !important;">
       <ion-col class="ion-text-right ion-no-padding">
         <ion-button fill="outline" shape="round" color="negro">
           vistos {{tamanofinal}} de {{tamanoinicio}}
         </ion-button>
       </ion-col>
     </ion-row>

     <div *ngIf="scroll">
       <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
         <ion-infinite-scroll-content
           loadingSpinner="bubbles"
           loadingText="Cargando elementos">
         </ion-infinite-scroll-content>
       </ion-infinite-scroll>
     </div>

 </ion-content>
 <app-menu></app-menu>
