<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
  <ion-toolbar>
    <ion-searchbar style="--background: var(--ion-color-negro);color:white;" animated="true" [(ngModel)]="searchTerm" placeholder="Buscar" (search)="buscar('0')" (ionClear)="cancel()" (ionChange)="debounce()" debounce="500" (keypress)="buscarEnter($event)"></ion-searchbar>
    <ion-buttons  *ngIf="vars.isMobileBrowser" class="ion-no-padding ion-no-border" slot="end">
      <img [class.logo-mobile-style]="vars.isMobileBrowser" [class.logo-pc-style]="!vars.isMobileBrowser" src="assets/imgs/logo.svg" alt="">
    </ion-buttons>
    <ion-button *ngIf="!vars.isMobileBrowser" slot="end" fill="clear" (click)="buscar('0')">
      <ion-icon slot="icon-only" name="search-outline" color="negro"></ion-icon>
    </ion-button>
    <ion-button class="ion-no-padding ion-no-border" fill="clear" slot="end" (click)="goToCarrito()">
      <ion-icon slot="icon-only" name="cart-outline" color="negro"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <iframe id="redalweb" width="100%" height="100%" [src]="this.dom.bypassSecurityTrustResourceUrl('')" frameborder="0" allowfullscreen></iframe> -->

  <ion-list *ngIf="this.vars.sugerencias && arrScroll.length == 0">
    <ion-toolbar *ngFor="let item of this.vars.sugerencias" lines="none" style="padding-left: 27px !important;">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="buscar(item.aNombreLugar)">
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label (click)="buscar(item.aNombreLugar)">{{item.aNombreLugar}}</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="setSearch(item.aNombreLugar)">
          <ion-icon name="trending-up-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-list>

  <div *ngIf="vars.isBanners" style="background: #fff;">
    <ion-slides [options]="slideBannersOpts" pager="true">
      <ion-slide *ngFor="let item of vars.banners">
        <ion-card class="bordes" style="border-radius: 0px !important; width: 100% !important;">
          <ion-card-content class="bordes" *ngIf="item.aURL != null">
            <ion-img (click)="goToBanner(item.aURL)" src="{{vars.BASE_URL}}/public/img/banners/{{item.aImagen}}"></ion-img>
          </ion-card-content>
          <ion-card-content class="bordes" *ngIf="item.aURL == null && item.idLugar == null" >
            <ion-img src="{{vars.BASE_URL}}/public/img/banners/{{item.aImagen}}"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="separador"></div>

  <div [ngClass]="{'ion-padding': !vars.isMobileBrowser}">
    <ion-row>
      <ion-col *ngIf="!vars.isMobileBrowser">
        <img src="assets/imgs/IMG_0157.JPG" alt="">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col class="ion-text-center" style="padding-top: 20px; height: 70px; background-image: url('assets/imgs/symbol-02.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
              <ion-label color="verde" class="title">Redes alimentarias ecosolidarias</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="parrafo">
              Este sitio tiene como propósito facilitar el encuentro y los intercambios entre personas, iniciativas y redes que trabajan por una alimentación sana, accesible y cercana, vinculada con el patrimonio biocultural de las diferentes regiones de México.
            </p>
            <p class="parrafo">
              Durante la pandemia de Covid 19 han salido a la luz muchas condiciones preexistentes de vulnerabilidad en la población mexicana, que han agravado los efectos de la enfermedad. Una de ellas es la mala alimentación, que ha derivado en otras pandemias, como la obesidad en niños y adultos, la diabetes y la hipertensión.
            </p>
            <p class="parrafo">
              Con el objetivo de abordar y dar respuesta a esa compleja problemática se realizó con apoyo del Conacyt el proyecto Estrategias colaborativas para el fortalecimiento y articulación de prácticas agroalimentarias de las economías popular-social/solidarias, para enfrentar la crisis y poscrisis por Covid-19 en municipios del Centro-Sur-Sureste y Occidente de México.
            </p>
            <p class="parrafo">
              Esta plataforma es el producto central de ese proyecto, y fue creada con la participación de decenas de iniciativas agralimentarias, en diálogo con el equipo de investigación. Esperamos que con la colaboración entusiasta de productor@s, distribuidor@s, promotor@s y consumidor@s, esta herramienta cumpla con la misión de acercar a las personas entre sí, fomentando las buenas prácticas agroalimentarias y la solidaridad económica.
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="vars.isMobileBrowser">
      <ion-col>
        <img src="assets/imgs/IMG_0157.JPG" alt="">
      </ion-col>
    </ion-row>
  </div>

<div *ngIf="vars.ventasOportunas.length > 0">

  <div class="separador"></div>

  <ion-row style="padding-bottom: 50px; background: #fff;">
    <ion-col class="ion-text-center" style="padding-top: 20px; height: 70px; background-image: url('assets/imgs/symbol-02.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
        <ion-label color="verde" class="title">Ventas de oportunidad</ion-label>
    </ion-col>
  </ion-row>
</div>

  <!--diseño mobile -->

  <div style="padding: 20px; background: #fff !important;" *ngIf="(vars.ventasOportunas.length || trueques.length || donaciones.length) > 0 && vars.isMobileBrowser">
    <ion-slides [options]="slideVentasOportunasOpts" pager="true">
      <!-- ventas oportunas -->
      <ion-slide *ngFor="let item of vars.ventasOportunas">
        <ion-card class="bordes" style="border-radius: 10px !important; width: 100% !important;">
          <ion-card-content class="bordes">
            <ion-row>
              <ion-col>
                <img [class.iosImg]="this.vars.isIos" [class.adroidImg]="!this.vars.isIos" src="{{vars.BASE_URL}}/public/img/ventaoportunidad/{{item.aImagen}}" alt="">
              </ion-col>
            </ion-row>
            <div class="card">
              <ion-row class="bordes-venta">
                <ion-col class="bordes-venta ion-text-left">
                  <strong>
                    {{item.aNombreVenta}}
                  </strong>
                </ion-col>
              </ion-row>
              <ion-row class="bordes-venta-descripcion">
                <ion-col size="1">
                  <ion-icon color="menu-icon" name="caret-forward-outline"></ion-icon>
                </ion-col>
                <ion-col size="11" class="borde-bottom ion-text-left">
                  {{item.aDescripcionVenta}}
                </ion-col>
              </ion-row>

              <div style="margin-bottom: 29px !important;margin-top: -24px;">
                <strong>
                  Promoción ofertada por:
                </strong>
                <p (click)="goToIniciativa(item.idLugar)" style="text-decoration: underline;text-decoration-style:solid; color: #ff742d !important; font-weight: bold;">
                  Ver {{item.aNombreLugar}}
                </p>
                <p (click)="goToDetalleProducto(item.idProducto)" style="text-decoration: underline;text-decoration-style:solid; color: #81B03F !important; font-weight: bold;">
                  Ver producto
                </p>
                <div *ngIf="item.fFechaHoraFin != null">
                  <strong>
                    Esta oferta termina el:
                  </strong>
                  <p>
                  {{item.fFechaHoraFin}}
                  </p>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <!-- trueques
      <ion-slide *ngFor="let item of trueques">
        <ion-card class="bordes" style="border-radius: 10px !important; width: 100% !important;">
          <ion-card-content class="bordes">
            <ion-row>
              <ion-col>
                <img [class.iosImg]="this.vars.isIos" [class.adroidImg]="!this.vars.isIos" src="{{this.vars.BASE_URL}}/public/img/productos/{{item.aImagen}}" alt="">
              </ion-col>
            </ion-row>
            <div class="card">
              <ion-row class="bordes-venta">
                <ion-col class="bordes-venta ion-text-left">
                  <strong>
                    {{item.aNombreProducto}}
                  </strong>
                </ion-col>
              </ion-row>
              <ion-row class="bordes-venta-descripcion">
                <ion-col size="1">
                  <ion-icon color="menu-icon" name="caret-forward-outline"></ion-icon>
                </ion-col>
                <ion-col size="11" class="borde-bottom ion-text-left">
                  <p [innerHTML]="item.aDescripcionProducto"></p>
                </ion-col>
              </ion-row>

              <div style="margin-bottom: 29px !important;margin-top: -24px;">
                <strong>
                  Trueque ofertado por:
                </strong>
                <p (click)="goToIniciativa(item.idLugar)" style="text-decoration: underline;text-decoration-style:solid; color: #ff742d !important; font-weight: bold;">
                  Ver {{item.aNombreLugar}}
                </p>
                <p (click)="goToDetalleProducto(item.idProducto)" style="text-decoration: underline;text-decoration-style:solid; color: #81B03F !important; font-weight: bold;">
                  Ver producto
                </p>
                <div *ngIf="item.trueque.length > 0">
                  <strong>
                    Recibo a cambió:
                  </strong>
                  <p *ngFor="let item of item.trueque">
                    - {{item.aEtiquetaTrueque}}
                  </p>
                </div>
                <div *ngIf="item.fFechaHoraFin != null">
                  <strong>
                    Este trueque termina el:
                  </strong>
                  <p>
                  {{item.fFechaHoraFin}}
                  </p>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      -->
      <!-- donaciones
      <ion-slide *ngFor="let item of donaciones">
        <ion-card class="bordes" style="border-radius: 10px !important; width: 100% !important;">
          <ion-card-content class="bordes">
            <ion-row>
              <ion-col>
                <img [class.iosImg]="this.vars.isIos" [class.adroidImg]="!this.vars.isIos" src="{{this.vars.BASE_URL}}/public/img/productos/{{item.aImagen}}" alt="">
              </ion-col>
            </ion-row>
            <div class="card">
              <ion-row class="bordes-venta">
                <ion-col class="bordes-venta ion-text-left">
                  <strong>
                    {{item.aNombreProducto}}
                  </strong>
                </ion-col>
              </ion-row>
              <ion-row class="bordes-venta-descripcion">
                <ion-col size="1">
                  <ion-icon color="menu-icon" name="caret-forward-outline"></ion-icon>
                </ion-col>
                <ion-col size="11" class="borde-bottom ion-text-left">
                  <p [innerHTML]="item.aDescripcionProducto"></p>
                </ion-col>
              </ion-row>

              <div style="margin-bottom: 29px !important;margin-top: -24px;">
                <strong>
                  Donación por:
                </strong>
                <p (click)="goToIniciativa(item.idLugar)" style="text-decoration: underline;text-decoration-style:solid; color: #ff742d !important; font-weight: bold;">
                  Ver {{item.aNombreLugar}}
                </p>
                <p (click)="goToDetalleProducto(item.idProducto)" style="text-decoration: underline;text-decoration-style:solid; color: #81B03F !important; font-weight: bold;">
                  Ver producto
                </p>
                <div *ngIf="item.fFechaHoraFin != null">
                  <strong>
                    Esta donación termina el:
                  </strong>
                  <p>
                  {{item.fFechaHoraFin}}
                  </p>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
-->
    </ion-slides>
  </div>

   <!--diseño web -->

  <div style="padding: 20px; background: #fff !important;" *ngIf="(vars.ventasOportunas.length || trueques.length || donaciones.length) > 0 && !vars.isMobileBrowser">
    <ion-slides [options]="slideVentasOportunasOpts" pager="true">
      <!-- ventas oportunas -->
      <ion-slide *ngFor="let item of vars.ventasOportunas">
        <ion-card class="bordes" style="width: 100% !important;">
          <ion-card-content class="bordes">
            <ion-row>
              <ion-col size="6" style="padding-right: 0px;">
                <img style="border-top-left-radius: 15px;" [class.browserPcImg]="!this.vars.isMobileBrowser" [class.iosImg]="this.vars.isIos" [class.adroidImg]="!this.vars.isIos" src="{{vars.BASE_URL}}/public/img/ventaoportunidad/{{item.aImagen}}" alt="">
              </ion-col>
              <ion-col size="6" style="padding-left: 0px;">
                <ion-content style="border-top: 15px solid var(--ion-color-verde); border-top-right-radius: 15px; border-bottom: 2px solid var(--ion-color-verde); border-right: 2px solid var(--ion-color-verde);">
                  <div style="height: 420px; width: 100%;">
                    <ion-row class="bordes-venta">
                      <ion-col class="bordes-venta ion-text-left">
                        <strong>
                          {{item.aNombreVenta}}
                        </strong>
                      </ion-col>
                    </ion-row>
                    <ion-row class="bordes-venta-descripcion">
                      <ion-col size="1">
                        <ion-icon color="menu-icon" name="caret-forward-outline"></ion-icon>
                      </ion-col>
                      <ion-col size="11" class="borde-bottom ion-text-left">
                        {{item.aDescripcionVenta}}
                      </ion-col>
                    </ion-row>

                    <div style="margin-left: 10px; text-align: left; margin-bottom: 29px !important;margin-top: -24px;">
                      <strong>
                        Promoción ofertada por:
                      </strong>
                      <p (click)="goToIniciativa(item.idLugar)" style="text-decoration: underline;text-decoration-style:solid; color: #ff742d !important; font-weight: bold;">
                        Ver {{item.aNombreLugar}}
                      </p>
                      <p (click)="goToDetalleProducto(item.idProducto)" style="text-decoration: underline;text-decoration-style:solid; color: #81B03F !important; font-weight: bold;">
                        Ver producto
                      </p>
                      <div *ngIf="item.fFechaHoraFin != null">
                        <strong>
                          Esta oferta termina el:
                        </strong>
                        <p>
                        {{item.fFechaHoraFin}}
                        </p>
                      </div>
                    </div>
                    <div>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <img style="height:220px; width: auto;" src="assets/imgs/logo.svg" alt="">
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                </ion-content>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <!-- trueques
      <ion-slide *ngFor="let item of trueques">
        <ion-card class="bordes" style="width: 100% !important;">
          <ion-card-content class="bordes">
            <ion-row>
              <ion-col size="6" style="padding-right: 0px;">
                <img style="border-top-left-radius: 15px;" [class.browserPcImg]="!this.vars.isMobileBrowser" [class.iosImg]="this.vars.isIos" [class.adroidImg]="!this.vars.isIos" src="{{this.vars.BASE_URL}}/public/img/productos/{{item.aImagen}}" alt="">
              </ion-col>
              <ion-col size="6" style="padding-left: 0px;">
                <ion-content style="border-top: 15px solid var(--ion-color-verde); border-top-right-radius: 15px; border-bottom: 2px solid var(--ion-color-verde); border-right: 2px solid var(--ion-color-verde);">
                  <div style="height: 420px; width: 100%;">
                    <ion-row class="bordes-venta">
                      <ion-col class="bordes-venta ion-text-left">
                        <strong>
                          {{item.aNombreProducto}}
                        </strong>
                      </ion-col>
                    </ion-row>
                    <ion-row class="bordes-venta-descripcion">
                      <ion-col size="1">
                        <ion-icon color="menu-icon" name="caret-forward-outline"></ion-icon>
                      </ion-col>
                      <ion-col size="11" class="borde-bottom ion-text-left">
                        <p [innerHTML]="item.aDescripcionProducto"></p>
                      </ion-col>
                    </ion-row>

                    <div style="margin-left: 10px; text-align: left; margin-bottom: 29px !important;margin-top: -24px;">
                      <strong>
                        Trueque ofertado por:
                      </strong>
                      <p (click)="goToIniciativa(item.idLugar)" style="text-decoration: underline;text-decoration-style:solid; color: #ff742d !important; font-weight: bold;">
                        Ver {{item.aNombreLugar}}
                      </p>
                      <p (click)="goToDetalleProducto(item.idProducto)" style="text-decoration: underline;text-decoration-style:solid; color: #81B03F !important; font-weight: bold;">
                        Ver producto
                      </p>
                      <div *ngIf="item.trueque.length > 0">
                        <strong>
                          Recibo a cambió:
                        </strong>
                        <p *ngFor="let item of item.trueque">
                          - {{item.aEtiquetaTrueque}}
                        </p>
                      </div>
                      <div *ngIf="item.fFechaHoraFin != null">
                        <strong>
                          Este trueque termina el:
                        </strong>
                        <p>
                        {{item.fFechaHoraFin}}
                        </p>
                      </div>

                    </div>
                    <div>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <img style="height:220px; width: auto;" src="assets/imgs/logo.svg" alt="">
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                </ion-content>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-slide>
       -->
      <!-- donaciones
      <ion-slide *ngFor="let item of donaciones">
        <ion-card class="bordes" style="width: 100% !important;">
          <ion-card-content class="bordes">
            <ion-row>
              <ion-col size="6" style="padding-right: 0px;">
                <img style="border-top-left-radius: 15px;" [class.browserPcImg]="!this.vars.isMobileBrowser" [class.iosImg]="this.vars.isIos" [class.adroidImg]="!this.vars.isIos" src="{{this.vars.BASE_URL}}/public/img/productos/{{item.aImagen}}" alt="" (click)="goToIniciativa(item.idLugar)">
              </ion-col>
              <ion-col size="6" style="padding-left: 0px;">
                <ion-content style="border-top: 15px solid var(--ion-color-verde); border-top-right-radius: 15px; border-bottom: 2px solid var(--ion-color-verde); border-right: 2px solid var(--ion-color-verde);">
                  <div style="height: 420px; width: 100%;">
                    <ion-row class="bordes-venta">
                      <ion-col class="bordes-venta ion-text-left">
                        <strong>
                          {{item.aNombreProducto}}
                        </strong>
                      </ion-col>
                    </ion-row>
                    <ion-row class="bordes-venta-descripcion">
                      <ion-col size="1">
                        <ion-icon color="menu-icon" name="caret-forward-outline"></ion-icon>
                      </ion-col>
                      <ion-col size="11" class="borde-bottom ion-text-left">
                        <p [innerHTML]="item.aDescripcionProducto"></p>
                      </ion-col>
                    </ion-row>

                    <div style="margin-left: 10px; text-align: left; margin-bottom: 29px !important;margin-top: -24px;" (click)="goToIniciativa(item.idLugar)" >
                      <strong>
                        Donación por:
                      </strong>
                      <p (click)="goToIniciativa(item.idLugar)" style="text-decoration: underline;text-decoration-style:solid; color: #ff742d !important; font-weight: bold;">
                        Ver {{item.aNombreLugar}}
                      </p>
                      <p (click)="goToDetalleProducto(item.idProducto)" style="text-decoration: underline;text-decoration-style:solid; color: #81B03F !important; font-weight: bold;">
                        Ver producto
                      </p>
                      <div *ngIf="item.fFechaHoraFin != null">
                        <strong>
                          Esta donación termina el:
                        </strong>
                        <p>
                        {{item.fFechaHoraFin}}
                        </p>
                      </div>
                    </div>
                    <div>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <img style="height:220px; width: auto;" src="assets/imgs/logo.svg" alt="">
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                </ion-content>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-slide>-->
    </ion-slides>
  </div>

  <div *ngIf="vars.isProductosHome">
    <div class="separador"></div>

    <div color="blanco">
      <ion-row>
        <ion-col class="ion-text-center" style="padding-top: 20px; height: 70px; background-image: url('assets/imgs/symbol-02.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
          <ion-label class="title" color="verde">
            Productos destacados
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="strong">
            NUESTROS PRODUCTOS
          </ion-label>
        </ion-col>
      </ion-row>

      <div class="separador"></div>

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of vars.productosHome" [size]="productoColSize">
            <ion-card (click)="goToDetalleProducto(item.idProducto)" style="padding: 0px;" class="shadow">
              <img src="{{vars.BASE_URL}}/public/img/productos/{{item.aImagenProducto}}" alt="" style="height: {{productoImgHeightSize}}; width: {{productoImgWidthSize}}; text-align: center;">
              <ion-row class="estilo" style="height: 80px;">
                <ion-col>
                  <ion-button class="ion-text-wrap" fill="clear" size="block">
                    <p style="color: #222;">{{item.aNombreProducto}}</p>
                    <ion-icon slot="end" name="arrow-forward-outline" color="color-base"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

<div *ngIf="vars.isIniciativasHome || vars.isProductoresHome">
  <div class="separador"></div>

  <div>
    <ion-row style="padding-left: {{padding}} !important;">
      <ion-col *ngIf="vars.isMobileBrowser" [size]="iniciativasColSize">
        <img src="assets/imgs/IMG_2975.JPG" alt="">
      </ion-col>
      <ion-col *ngIf="!vars.isMobileBrowser" style="background-image: url('assets/imgs/IMG_2975.JPG'); background-size: cover; background-repeat: no-repeat; background-position: center;" class="padding" [size]="iniciativasColSize">
      </ion-col>
      <ion-col *ngIf="vars.isIniciativasHome" class="padding" [size]="iniciativasColSize">
        <ion-row>
          <ion-col>
            <ion-label class="sub-title">AL POR MENOR</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="strong-2">Últimas iniciativas</ion-label>
          </ion-col>
        </ion-row>
        <div style="padding-bottom: 30px;" *ngFor="let item of vars.iniciativasHome">
          <ion-row (click)="goToIniciativa(item.idLugar)" class="card-iniciativa">
            <ion-col size="5" class="ion-no-padding">
              <img src="{{vars.BASE_URL}}/public/img/lugares/{{item.aImagen}}" alt="">
            </ion-col>
            <ion-col class="center-iniciativa-title" size="7">
              <ion-label>
                <strong>{{item.aNombreLugar}}</strong>
              </ion-label>
              <div style="height: 15px;"></div>
              <div class="item"></div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col *ngIf="vars.isProductoresHome" class="padding" [size]="iniciativasColSize">
        <ion-row>
          <ion-col>
            <ion-label class="sub-title">MAYOREO</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="strong-2">Productores nuevos</ion-label>
          </ion-col>
        </ion-row>
        <div style="padding-bottom: 30px;" *ngFor="let item of vars.productoresHome">
          <ion-row (click)="goToIniciativa(item.idLugar)" class="card-iniciativa">
            <ion-col size="5" class="ion-no-padding">
              <img src="{{vars.BASE_URL}}/public/img/lugares/{{item.aImagen}}" alt="">
            </ion-col>
            <ion-col class="center-iniciativa-title" size="7">
              <ion-label>
                <strong>{{item.aNombreLugar}}</strong>
              </ion-label>
              <div style="height: 15px;"></div>
              <div class="item"></div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>

  <div class="separador"></div>

  <div style="background: #F7F6F2 !important;">
    <ion-row class="padding">
      <ion-col class="padding">
        <img src="assets/imgs/IMG_0048.JPG" alt="">
      </ion-col>
      <ion-col class="padding">
        <ion-row>
          <ion-col style="padding-top: 20px; height: 70px; background-image: url('assets/imgs/symbol-02.png'); background-size: contain; background-repeat: no-repeat; background-position: left;">
            <ion-label color="verde" class="title">Beneficios</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="strong">
              NUESTRO INCENTIVO
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="parrafo-3">Buscamos generar una economía sustentable donde todos nos beneficiemos.</p>
          </ion-col>
        </ion-row>

        <ion-row style="padding-bottom: 25px;">
          <ion-col size="2">
            <img src="assets/imgs/symbol-48.png" alt="">
          </ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-label>
                <strong>Envíos económicos</strong>
              </ion-label>
            </ion-row>
            <ion-row style="padding-top: 10px;">
              <ion-label class="parrafo-2">
                Generamos empleo utilizando repartidores locales
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row style="padding-bottom: 25px;">
          <ion-col size="2">
            <img src="assets/imgs/symbol-49.png" alt="">
          </ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-label>
                <strong>Soporte al consumidor </strong>
              </ion-label>
            </ion-row>
            <ion-row style="padding-top: 10px;">
              <ion-label class="parrafo-2">
                Necesitas ayuda
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row style="padding-bottom: 25px;">
          <ion-col size="2">
            <img src="assets/imgs/symbol-50.png" alt="">
          </ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-label>
                <strong>Transacciones seguras </strong>
              </ion-label>
            </ion-row>
            <ion-row style="padding-top: 10px;">
              <ion-label class="parrafo-2">
                Contamos con los mejores niveles de seguridad
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding ion-text-right">
        <img class="hojas" src="assets/imgs/other-05.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <img class="logo" src="assets/imgs/logo.svg" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label class="strong-2">
          Redes Alimentarias Ecosolidarias
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="ion-no-padding" *ngFor="let item of [0,1,2,3,4]" size="small" fill="clear">
          <ion-icon slot="icon-only" color="amarillo-star" name="star"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center contenedor-texto">
        <ion-label class="parrafo-2">Con el objetivo de abordar y dar respuesta a esa compleja problemática se realizó con apoyo del Conacyt el proyecto Estrategias colaborativas para el fortalecimiento y articulación de prácticas agroalimentarias de las economías popular-social/solidarias, para enfrentar la crisis y poscrisis por Covid-19 en municipios del Centro-Sur-Sureste y Occidente de México.</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-top: 40px; padding-bottom: 180px; padding-left: 49%;">
        <div class="item-2"></div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!vars.isMobileBrowser">
      <ion-col class="ion-no-padding ion-text-left">
        <img class="tomates" src="assets/imgs/other-04.png" alt="">
      </ion-col>
    </ion-row>
  </div>

  <div class="separador"></div>

  <div>
      <ion-row style="padding-left: 100px; padding-right: 100px;">
        <ion-col class="ion-text-center logo-padding">
          <img class="escala efecto" src="assets/imgs/4.png" alt="">
        </ion-col>
        <ion-col class="ion-text-center logo-padding">
          <img class="escala efecto" src="assets/imgs/1.png" alt="">
        </ion-col>
        <ion-col class="ion-text-center logo-padding">
          <img class="escala efecto" src="assets/imgs/2.png" alt="">
        </ion-col>
        <ion-col class="ion-text-center logo-padding">
          <img class="escala efecto" src="assets/imgs/3.png" alt="">
        </ion-col>
        <ion-col class="ion-text-center logo-padding">
          <img class="escala efecto" src="assets/imgs/ecosur.jpg" alt="">
        </ion-col>
      </ion-row>
  </div>

  <div class="separador"></div>
  <app-redal-footer></app-redal-footer>

</ion-content>
<app-menu></app-menu>
