<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important; color: #222;">APLICAR</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #f4f3ef !important; border-radius: 8px !important;">

  <!-- filtar estados -->
  <ion-card *ngIf="estados.length > 1 && vars.idEstado == 0">
    <ion-card-header>
        Filtrar por Estado:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" *ngFor="let item of estados; let i = index">
          <ion-label>{{item.aNombreEstado}}</ion-label>
          <ion-checkbox [(ngModel)]="item.checked" [disabled]="ninguno==1 " (ionChange)="updateEstados(item,i)" color="color-base"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- filtar insignias -->
  <ion-card *ngIf="categoriasServicios.length > 1">
    <ion-card-header>
        Filtrar por Categoria:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" *ngFor="let item of categoriasServicios; let i = index">
          <ion-label>{{item.aNombreCategoriaServicio}}</ion-label>
          <ion-checkbox [(ngModel)]="item.checked" [disabled]="ninguno==1 "  (ionChange)="updateCategoriasServicios(item,i)" color="color-base"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- filtar insignias -->
  <ion-card *ngIf="insignias.length > 1">
    <ion-card-header>
        Filtrar por Insignias:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" *ngFor="let item of insignias; let i = index">
          <ion-label>{{item.aNombreInsignia}}</ion-label>
          <ion-checkbox [(ngModel)]="item.checked" [disabled]="ninguno==1 "  (ionChange)="updateInsignias(item,i)" color="color-base"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- filtar certificados -->
  <ion-card *ngIf="certificados.length > 1">
    <ion-card-header>
          Filtrar por Certificados:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none"  *ngFor="let item of certificados; let i = index">
          <ion-label>{{item.aNombreCertificado}}</ion-label>
          <ion-checkbox [(ngModel)]="item.checked" [disabled]="ninguno==1 "  (ionChange)="updateCertificados(item,i)" color="color-base"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- filtar caracteristicas -->
  <ion-card *ngIf="caract.length > 1">
    <ion-card-header>
        Filtrar por Características:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none"  *ngFor="let item of caract; let i = index">
          <ion-label>{{item.aNombreCaracteristica}}</ion-label>
          <ion-checkbox [(ngModel)]="item.checked" [disabled]="ninguno==1"  (ionChange)="updateCaracteristicas(item,i)" color="color-base"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- ordenar -->
 <ion-card class="shadow" *ngIf="ordenados.length > 1">
   <ion-card-header>
      Ordenar por:
   </ion-card-header>
   <ion-card-content>
     <ion-list>
       <ion-item lines="none" *ngFor="let ordenado of ordenados; let i = index">
         <ion-label>{{ordenado.name}}</ion-label>
         <ion-checkbox [(ngModel)]="ordenado.checked" [disabled]="ninguno==1 "  (ionChange)="updateOrdenamientos(ordenado,i)" color="color-base"></ion-checkbox>
       </ion-item>
     </ion-list>
   </ion-card-content>
 </ion-card>

</ion-content>
