<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
</ion-header>

<ion-content >

  <div class="myCard">
    <img src="assets/imgs/5.JPG" alt="" style="width: 100%; height: 400px; object-fit: cover;margin: 0px;padding: 0px;border: 0px;">
    <div class="myOverlay">
      <div class="center" style="text-align: center !important;">
        <p style=" color:#fff;font-size: 28px; font-weight: bold;">REDES ALIMENTARIAS ECOSOLIDARIAS</p>

        <p style=" color:#fff;font-size: 24px; font-weight: bold;"><a href=""  style="text-decoration: none;font-size: 24px; font-weight: bold;" class="ref"> Inicio</a> / Contacto</p>
      </div>
    </div>
  </div>
  <div class="separador"></div>
  <div>
    <ion-row>
      <ion-col class="ion-text-center" style="padding-top: 20px; height: 70px; background-image: url('assets/imgs/symbol-02.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
        <ion-label color="verde" class="title">Mantente en contacto</ion-label>
      </ion-col>
    </ion-row>
    <!-- <div class="myCard" style="height: auto; width:auto; text-align: center;">
    <img src="/public/frontend/template/images/icons/symbol-02.png" alt="" style="width: 80px; height: 100px; object-fit:contain;margin: 0px;padding: 0px;border: 0px;">
    <div class="myOverlay2">
    <div class="center" style="text-align: center !important;">
    <p style="font-size: 20px;">Mantente en contacto</p>
  </div>
</div>
</div> -->
<div  style="text-align: center !important; ">
  <p style="padding-top: -80px !important;font-size: 28px; font-weight: bold;" ><strong><strong>DEJANOS UN MENSAJE</strong></strong></p>
</div>
</div>

<form [formGroup]="contactForm" (ngSubmit)="onSubmitContact()">
  <div style="width: {{this.padreSize}}; margin:auto; padding:8px;">
    <ion-row>
      <ion-col [size] ="colSize">
        <ion-item  style="border: 1px solid {{colors[0]}};">
          <ion-input formControlName="aNombre" placeholder="Tu nombre completo"  (ionFocus)="setInputFocus(0)"
          (ionBlur)="unCheckFocus(0)"></ion-input>
        </ion-item>
        <small *ngIf="isSubmitted && this.contactForm.get('aNombre').errors" >Ingresa el nombre correctamente</small>
      </ion-col>
      <ion-col [size] ="colSize">
        <ion-item  style="border: 1px solid {{colors[1]}};">
          <ion-input formControlName="aEmail" placeholder="Tú Email*"  (ionFocus)="setInputFocus(1)"
          (ionBlur)="unCheckFocus(1)"></ion-input>
        </ion-item>
        <small *ngIf="isSubmitted && this.contactForm.get('aEmail').errors" >Ingresa el email correctamente</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size] ="colSize">
        <ion-item  style="border: 1px solid {{colors[2]}};">
          <ion-input formControlName="aDireccion" placeholder="Tú dirección*"  (ionFocus)="setInputFocus(2)"
          (ionBlur)="unCheckFocus(2)"></ion-input>
        </ion-item>
        <small *ngIf="isSubmitted && this.contactForm.get('aDireccion').errors" >Ingresa la dirección correctamente</small>
      </ion-col>
      <ion-col [size] ="colSize">
        <ion-item  style="border: 1px solid {{colors[3]}};">
          <ion-input formControlName="aTelefono" placeholder="Tú Teléfono*"  (ionFocus)="setInputFocus(3)"
          (ionBlur)="unCheckFocus(3)"></ion-input>
        </ion-item>
        <small *ngIf="isSubmitted && this.contactForm.get('aTelefono').errors" >Ingresa el teléfono correctamente</small>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 0px;">
      <ion-col size="12">
        <ion-item style="border: 1px solid {{colors[4]}};">
          <ion-textarea rows="13" formControlName="aMensaje" placeholder="Tu mensaje"  (ionFocus)="setInputFocus(4)"
          (ionBlur)="unCheckFocus(4)"></ion-textarea>
        </ion-item>
        <small *ngIf="isSubmitted && this.contactForm.get('aMensaje').errors" >Ingresa el mensaje correctamente</small>
      </ion-col>
    </ion-row>
  </div>
  <div style="width: 100%; height: auto; margin-top: 30px;">

    <ion-button
    type="submit"
    style=" margin: 0px !important;
    --border-radius: 0px !important;
    --background:#81b03f;
    position: absolute;
    left: 50%;
    transform: translate(-50%);">
    ENVIAR
  </ion-button>
</div>
</form>

<div class="separador"></div>

<ion-row>
  <ion-col [size]="colContacto">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-img style="height:30px; width:auto;" src="assets/imgs/icon-address.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>DIRECCIÓN</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>-</ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col [size]="colContacto">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-img style="height:30px; width:auto;" src="assets/imgs/icon-phone-03.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>TELÉFONO</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>-</ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col [size]="colContacto">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-img style="height:30px; width:auto;" src="assets/imgs/icon-mail-03.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>EMAIL</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>contacto@redesalimentariasecosolidarias.org.mx</ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col [size]="colContacto" >
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-img style="height:30px; width:auto;" src="assets/imgs/icon-web.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>WEBSITE</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>redesalimentariasecosolidarias.org.mx</ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

<div class="separador"></div>
<app-redal-footer></app-redal-footer>
</ion-content>
<app-menu></app-menu>
