.bordes{
  margin: 0px !important;
  padding: 0px !important;
  border: 0 !important;
  --box-shadow: 0 !important;
  border: none !important;
  --border-style: none !important;
  position: relative;
  text-align: center;
}

ion-item {
  --background:none;
  --background-activated:none;
  --background-activated-opacity:none;
  --background-focused:none;
  --background-focused-opacity:none;
  --background-hover:none;
  --background-hover-opacity:none;
  --border-color:none;
  --border-radius:none;
  --border-style:none;
  --border-width:none;
  --color:none;
  --color-activated:none;
  --color-focused:none;
  --color-hover:none;
  --highlight-color-focused:none;
  --highlight-color-invalid:none;
  --highlight-color-valid:none;
  --highlight-height:none;
  --inner-border-width:none;
  --inner-box-shadow:none;
}

ion-content {
  --background:#fff;
}


a {
  color:#fff
}

a:hover {
  color: rgb(129, 176, 63)
}
