<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-title>
      <strong style="font-size: 15px !important;">CARRITO</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.vars.isUserLoggedIn && this.vars.productos.length > 0">
    <ion-card style="padding: 0px !important;">
      <ion-card-header>
        {{this.vars.carrito.aNombreLugar}}
      </ion-card-header>
      <ion-card-content>
         <div *ngIf="isPedidoDomicilio">
           <ion-row>
             <ion-col size="10" style="padding-left: 15px; padding-top:10px;">
                <strong>Dirección de envío</strong>
             </ion-col>
             <ion-col size="2" style="text-align: left !important;" (click)="goToCrearDirecciones()">
              <ion-button fill="clear" (click)="goToCrearDirecciones()">
               <ion-icon slot="icon-only" mode="ios" name="add-circle-outline" style="zoom:1.3 !important;" (click)="goToCrearDirecciones()"></ion-icon>
              </ion-button>
             </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="11" *ngIf="this.vars.direcciones.length > 0" >
                <ion-select style="max-width: 100% !important;" [(ngModel)]="this.vars.carrito.idDireccion">
                  <ion-select-option *ngFor="let direccion of this.vars.direcciones" value="{{direccion.idDireccion}}">{{direccion.aDireccion}}</ion-select-option>
                </ion-select>

              </ion-col>
              <ion-col style="padding-left: 20px" *ngIf="this.vars.direcciones.length == 0">
                <p>Aún no cuentas con una dirección guardada, crea una nueva.</p>
              </ion-col>
           </ion-row>
         </div>
         <ion-row style="padding-left: 15px; padding-top:20px;">
           <strong>Forma de pago</strong>
         </ion-row>
           <ion-row>
             <ion-col>
              <ion-list>
              <ion-radio-group [(ngModel)]="this.idFormaPagoAux" name="radio2" (ionChange)="actualizarFormaPago()">
                <ion-item lines="none" *ngFor="let item of this.vars.formasPago">
                  <ion-label>{{item.aFormaPago}}</ion-label>
                  <ion-radio slot="start" name="radio2" color="naranja" value="{{item.idFormaPagoAux}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
              </ion-list>
             </ion-col>
           </ion-row>
           <ion-row style="padding-left: 15px; padding-top:20px;">
             <strong>Notas</strong>
           </ion-row>
           <ion-row style="padding-left: 15px; padding-top:20px;">
             <ion-col class="ion-no-padding">
                 <input type="text" class="shadow" placeholder="Añade una nota (Casa color azul y porton negro)" [(ngModel)]="this.vars.carrito.aObservacionPedido" style="padding-left: 20px; background: #fff !important; box-shadow: 0px 0px 0px 0px !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
             </ion-col>
           </ion-row>
      </ion-card-content>
    </ion-card>



    <ion-card style="padding: 0px !important;">
      <ion-card-header>
        Resumen
      </ion-card-header>
      <ion-card-content>
        <ion-row *ngFor="let item of this.vars.carrito.productos; let i = index;" (click)="goToDetalleProducto(item.idProducto)">
           <ion-col size="8">
             <ion-row>
               {{item.aNombreProducto}}
             </ion-row>
             <ion-row>
               ${{item.dPrecioUnitario}} x {{item.nCantidad}}
             </ion-row>
           </ion-col>
           <ion-col size="4">
             <img style="border-radius: 5px !important;" src="{{this.vars.BASE_URL}}/public/img/productos/{{item.aImagen}}" alt="">
          </ion-col>
         </ion-row>
      <ion-row>
        <ion-col style="text-align: right !important;">
          <ion-row>
            <ion-col style="text-align: right !important;">
             <p>SubTotal: ${{this.vars.carrito.dCostoPedido}}</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isPedidoDomicilio">
           <ion-col style="text-align: right !important;">
              <p>Costo de envío: $ {{this.costoenvio}}</p>
           </ion-col>
          </ion-row>
          <ion-row>
           <ion-col style="text-align: right !important;">
              <strong *ngIf="this.isPedidoDomicilio" >Total: ${{this.vars.carrito.dCostoPedido + this.costoenvio}}</strong>
              <strong *ngIf="!this.isPedidoDomicilio">Total: ${{this.vars.carrito.dCostoPedido}}</strong>
           </ion-col>
          </ion-row>
          <ion-row>
             <ion-col style="text-align: right !important;">
               <ion-button style="--border-radius: 20px !important; --background: #2d841a;"  (click)="goToSeguimientoPedido()">
                 Comprar
               </ion-button>
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: right !important;">
              <ion-button style="--border-radius: 20px !important; --background: #2d841a;" (click)="goToSeguirComprando()">
                 Añadir más productos
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- <ion-button (click)="testHttp()" > test http</ion-button> -->
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="this.vars.isUserLoggedIn && this.vars.productos.length == 0" style="height: 95% !important; background-image: url('{{fondo}}'); background-size:cover; background-repeat: no-repeat; background-position: center 150px;" [hidden]="!this.vars.isMobileBrowser">
    <ion-card-content>
      <ion-row>
        <ion-col style="text-align: center !important;">
        <strong>No hay productos en tu carrito.</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important;">
          <ion-button style="--border-radius: 20px !important;" color="color-base"  (click)="goToRoot()">
            Continuar comprando
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important;">
          <ion-button style="--border-radius: 20px !important;" color="color-base"  (click)="goToPedidos()">
            Ver pedidos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!this.vars.isUserLoggedIn" style="height: 95% !important; background-image: url('{{fondo}}'); background-size:cover; background-repeat: no-repeat; background-position:center 150px;" [hidden]="!this.vars.isMobileBrowser">
    <ion-card-content>
      <ion-row>
        <ion-col style="text-align: center !important;">
        <strong>Inicia sesión para ver tu carrito</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important;">
          <ion-button style="--border-radius: 20px !important;" color="color-base"  (click)="goToPedidos()">
            Iniciar sesión
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="this.vars.isUserLoggedIn && this.vars.productos.length == 0" style="height: 95% !important; background-image: url('{{fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center 150px;"  [hidden]="this.vars.isMobileBrowser">
    <ion-card-content>
      <ion-row>
        <ion-col style="text-align: center !important;">
        <strong>No hay productos en tu carrito</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important;">
          <ion-button style="--border-radius: 20px !important;" color="color-base"  (click)="goToRoot()">
            Continuar comprando
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important;">
          <ion-button style="--border-radius: 20px !important;" color="color-base"  (click)="goToPedidos()">
            Ver pedidos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!this.vars.isUserLoggedIn" style="height: 95% !important; background-image: url('{{fondo}}'); background-size: cover; background-repeat: no-repeat; background-position: center 150px;"  [hidden]="this.vars.isMobileBrowser">
    <ion-card-content>
      <ion-row>
        <ion-col style="text-align: center !important;">
        <strong>Inicia sesión para ver tu carrito</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center !important;">
          <ion-button style="--border-radius: 20px !important;" color="color-base"  (click)="goToPedidos()">
            Iniciar sesión
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
<app-menu></app-menu>
