<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="_goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
        <strong style="font-size: 15px !important;">INICIAR SESIÓN</strong>
    </ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content style="background: #fff !important;">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>¿Eres administrador de una iniciativa, investigador o prestador de servicios?</p>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="ion-text-left">
        <ion-button shape="round" (click)="_goToAdminSesion()" color="color-base">
          Si
        </ion-button>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        <p>¿Eres consumidor?</p>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col class="ion-text-left">
      <ion-button shape="round" (click)="_goToMiCuenta()" color="color-base">
        Si
      </ion-button>
    </ion-col>
  </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
