<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismissModal()">
      <ion-icon slot="icon-only" color="negro" name="close-circle-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #f4f3ef !important; border-radius: 8px !important;">
  <ion-card>
    <ion-card-header *ngIf="showNew" color="light" style="background-color: #06aca2">
      ¡¡Nueva notificación entrante!!
    </ion-card-header>
    <ion-card-content>
      <img *ngIf="showImg" src="{{image}}" />
      <ion-row>
        <p class="ion-text-justify" [innerHTML]="description">
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="color: #222 !important;" fill="clear">
              <ion-icon slot="icon-only" name='calendar-outline'></ion-icon>
              {{fecha}}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button style="color: #222 !important;" fill="clear">
              <ion-icon slot="icon-only" name='time-outline'></ion-icon>
              {{hora}}
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>
