<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button fill="clear" slot="end">
        <ion-icon  color="negro" slot="icon-only" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <strong style="color: #222; font-size: 15px !important;" >PRODUCTO</strong>
    <ion-buttons slot="end">
    <ion-button *ngIf="this.isProducto"  fill="clear" size="small" (click)="this.vars.compartirProducto(this.idProducto,this.producto.aImagen)">
      <ion-icon  slot="icon-only"  name="share-social"  color="color-base"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isProducto">
    <div class="animaProducto" style="width: 100% !important; text-align: center !important; align-items: center; justify-items: center;">
      <img src="{{this.vars.BASE_URL}}/public/img/productos/{{producto.aImagen}}"  style="height: 35vh"
      alt="">
    </div>
    <ion-card *ngIf="this.isNegocio"  style="padding-left: 15px; padding-top: 15px;">
    <ion-row>
      <ion-col class="ion-no-padding ion-text-right">
        <ion-button mode="ios" *ngIf="producto.lTrueque" size="small" shape="round" fill="outline" color="verde">
          Producto para trueque
        </ion-button>
        <ion-button mode="ios" *ngIf="producto.lDonacion" size="small" shape="round" fill="outline" color="verde">
          Producto de donación
        </ion-button>
        <ion-button mode="ios" *ngIf="producto.lVentaOportunidad" size="small" shape="round" fill="outline" color="verde">
          Producto en promoción
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="font-size: 14px !important; color:#222 !important;">
      <ion-col class="ion-text-left">
        <ion-row *ngIf="producto.calificacionPromedio != null && producto.calificacionPromedio != 0">
          <p style="font-size: 13px !important;">{{producto.cantidadCalificaciones}}</p>
            <ion-item lines="none">
              <ion-icon color="amarillo" *ngIf="producto.calificacionPromedio>=1" name="star"></ion-icon>
              <ion-icon color="amarillo" *ngIf="producto.calificacionPromedio>=2" name="star"></ion-icon>
              <ion-icon color="amarillo" *ngIf="producto.calificacionPromedio>=3" name="star"></ion-icon>
              <ion-icon color="amarillo" *ngIf="producto.calificacionPromedio>=4" name="star"></ion-icon>
              <ion-icon color="amarillo" *ngIf="producto.calificacionPromedio>=5" name="star"></ion-icon>
              <ion-icon style="color: #ececec !important;" *ngIf="producto.calificacionPromedio==0" name="star"></ion-icon>
              <ion-icon style="color: #ececec !important;" *ngIf="producto.calificacionPromedio<=1" name="star"></ion-icon>
              <ion-icon style="color: #ececec !important;" *ngIf="producto.calificacionPromedio<=2" name="star"></ion-icon>
              <ion-icon style="color: #ececec !important;" *ngIf="producto.calificacionPromedio<=3" name="star"></ion-icon>
              <ion-icon style="color: #ececec !important;" *ngIf="producto.calificacionPromedio<=4" name="star"></ion-icon>
            </ion-item>
        </ion-row>
        <strong>Producto ofrecido por: </strong>
        <p>
          <strong style="font-size: 15px;">{{this.negocio.aNombreLugar}}</strong>
        </p>
        <div *ngIf="producto.fFechaHoraFin != null && producto.lTrueque">
          <strong>
            Este trueque termina el:
          </strong>
          <p>
          {{producto.fFechaHoraFin}}
          </p>
        </div>
        <div *ngIf="producto.fFechaHoraFin != null && producto.lDonacion">
          <strong>
            Esta donación termina el:
          </strong>
          <p>
          {{producto.fFechaHoraFin}}
          </p>
        </div>
        <div *ngIf="producto.fFechaHoraFin != null && producto.lVentaOportunidad">
          <strong>
            Este oferta termina el:
          </strong>
          <p>
          {{producto.fFechaHoraFin}}
          </p>
        </div>
      </ion-col>
    </ion-row>
   <div style="text-align: right;">
     <ion-button mode="ios" fill="clear" (click)="verOfertador()"  style="text-align: center;color: #f90404; font-size: 18px !important;">Contactar</ion-button>
   </div>
    </ion-card>
    <ion-card *ngIf="this.producto.aNombreProductor,"  style="padding-left: 15px; padding-top: 15px;">
      <strong>Producto producido por: </strong>
<p> <strong style="font-size: 15px;">{{this.producto.aNombreProductor}}</strong></p>
 <div style="text-align: right;">
   <ion-button mode="ios" fill="clear" (click)="goToProductor()"  style="text-align: center;color: #f90404; font-size: 18px !important;">Contactar</ion-button>
 </div>
  </ion-card>
    <ion-card style="padding: 0px !important;">
      <ion-card-content>
        <ion-row *ngIf="this.producto.lTrueque">
          <strong>Producto disponible para trueque</strong>
        </ion-row>
        <ion-row style="padding-top: 15px;">
          {{producto.aNombreProducto}}
        </ion-row>
        <ion-row>
          <p style="text-align:left; color: #767676;" [innerHTML]="producto.aDescripcionProducto"></p>
        </ion-row>
        <ion-row *ngIf="!producto.lTrueque && !producto.lDonacion">
          <ion-col style="text-align: right;">
              <strong>Precio: ${{producto.dPrecioProducto}}</strong>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding" *ngIf="producto.aUnidadMedida != null">
          <ion-col class="ion-no-padding" style="text-align: right;">
              Por: {{producto.aUnidadMedida}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="this.producto.lTrueque" style="padding: 0px !important;">
      <ion-card-content>
        <ion-row>
          <strong>Productos que acepto a cambio</strong>
        </ion-row>
        <ion-row *ngFor="let item of this.producto.trueque">
          - {{item.aEtiquetaTrueque}}
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="producto.lEnviosDomicilio && producto.lTrueque != 1 && this.producto.lDonacion !=1">
      <ion-card-header>
        Tipo de envio
      </ion-card-header>
      <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-list >
                <ion-radio-group  [(ngModel)]="this.idAuxTipoPedido" (ionChange)="reasignar(1)">
                <ion-item lines="none" *ngFor="let item of this.producto.tipos_pedido">
                  <ion-label>{{item.aTipoPedido}}</ion-label>
                  <ion-radio color="menu-icon" [value]="item.aIdTipoPedido"></ion-radio>
                </ion-item>
              </ion-radio-group>
                </ion-list>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="producto.lPedidoAdelantadoActivo && producto.lTrueque != 1 && this.producto.lDonacion !=1">
      <ion-card-header>
        Tipo de pedido
      </ion-card-header>
      <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-radio-group   [(ngModel)]="this.idAuxTipoPedidoTiempo" (ionChange)="reasignar(2)">
                <ion-item lines="none" *ngFor="let item of this.producto.tipos_pedido_tiempo">
                  <ion-label>{{item.aTipoPedidoTiempo}}</ion-label>
                  <ion-radio color="menu-icon" [value]="item.aIdTipoPedidoTiempo"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
                <ion-row *ngIf="this.idTipoPedidoTiempo == 2">
                  <ion-col>
                    Fecha estimada de entrega: {{this.producto.fFechaEntregaAux}}
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="producto.caracteristicas.length > 0" style="padding: 0px !important;">
      <ion-card-header>
        Adicionales
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let item of producto.caracteristicas">
          <ion-row *ngIf="item.lActivo == 1" class="ion-text-wrap">
       <ion-col size='10' class="ion-text-wrap ion-text-center" style="text-align: left !important;">
         <ion-label class="ion-text-wrap">
           {{item.aCaracteristica}}
         </ion-label>
       </ion-col>
       <ion-col size='2' style="text-align: center !important;">
       <ion-toggle color="color-base" [(ngModel)]="item.isChecked"></ion-toggle>
       </ion-col>
         </ion-row>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card style="padding: 0px !important;" *ngIf="producto.lTrueque != 1 && this.producto.lDonacion !=1" >
      <ion-card-header>
        Notas
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col class="ion-no-padding">
              <input type="text" class="shadow" placeholder="(Opcional) Añade una nota" [(ngModel)]="observaciones" style="padding-left: 20px; background: #fff !important; box-shadow: 0px 0px 0px 0px !important; border: 1px solid #ececec !important; border-radius: 8px !important; width: 100% !important; height: 40px !important;">
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

      <ion-card *ngIf="this.producto.lTrueque!=1 && this.producto.lDonacion !=1" style="padding: 0px !important;">
        <ion-card-content>
          <ion-row class="bordes">
            <ion-col style="padding-top: 15px;" size='8'>
              <ion-row style="padding-left: 5px;">
                <strong>Total: $ {{total}}</strong>
              </ion-row>
            <ion-row>
              <ion-button  shape="round" style="--background: #2d841a;" (click)="agregar()">
                {{textoBoton}}
              </ion-button>
              <ion-button *ngIf="isUpdateProduct" shape="round" style="--background: #f90404;"  (click)="alertaConfirmarRemover('¿Estás seguro de remover el producto de tu carrito?');">
                Remover
              </ion-button>
              </ion-row>
            </ion-col>
            <ion-col size='4' class="bordes" style="text-align: right;">
             <ion-row class="bordes">
               <ion-col class="bordes" style="text-align: right;">
                 <ion-button class="bordes"   fill="clear" (click)="sumar()">
                    <ion-icon color="negro" slot="icon-only" size="large" name="chevron-up-circle"></ion-icon>
                 </ion-button>
               </ion-col>
             </ion-row>
             <ion-row class="bordes">
               <ion-col class="bordes" style="text-align: right; padding-right: 30px !important;">
             <strong>{{unidades}}</strong>
               </ion-col>
             </ion-row>
             <ion-row class="bordes">
                <ion-col class="bordes" style="text-align: right;">
                  <ion-button class="bordes"  fill="clear" (click)="restar()">
                     <ion-icon color="negro" slot="icon-only" size="large"  name="chevron-down-circle"></ion-icon>
                  </ion-button>
                </ion-col>
             </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
<app-menu></app-menu>
