
         ion-title {
          color: white;
          text-transform: uppercase;
        }

   .bordes{
     margin: 0px !important;
     padding: 0px !important;
   }

   .animaProducto{
     animation: slide 2.0s;
   }

   @keyframes slide {
     0% { transform: translateX(-100%) rotate(0deg); }
     100% { transform: translateX(-50%) rotate(0deg); }
     100% { transform: translateX(0%) rotate(0deg); }
   }