/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.modal-login .modal-wrapper {
  background: #00000054;
  --height:95%;
  --width:95%;
  --border-radius:15px;
  border: 0px;
  padding: 10px;
}

.modal-mapa-pc .modal-wrapper {
    background: #00000054;
    --height:80%;
    --width:50%;
    --border-radius:15px;
    border: 0px;
    padding: 10px;
  }
  .modal-mapa-mobile .modal-wrapper {
      background: #00000054;
      --height:70%;
      --width:90%;
      --border-radius:15px;
      border: 0px;
      padding: 10px;
    }

.modal-full {
  .modal-wrapper {
      position: absolute;
      bottom: 0;
      top:30px;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;

  }
}

.modal-medium .modal-wrapper {
  background: #00000054;
  --height:90%;
  --width:80%;
  --border-radius:15px;
  border: 0px;
  padding: 10px;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}


.profalert {

  background-color: #80000000;
  color: black; // text color for basic alerts
  button {
    color: black !important;
  }
  .alert-message {
    color: black; // text color for confirm alerts
  }
  .alert-wrapper {
    border-radius: 10px;
    border-bottom: 7px var(--ion-color-menu-color) solid;
    background-color: var(--ion-color-blanco);
  }

}

ion-loading.carga {
  .loading-wrapper {
    background: none;
    box-shadow: none;
  }
}

.bordes{
 margin: 0px !important;
 padding: 0px !important;
}

.logo-pc-style {
  height:70px;
  width:auto;
}

.logo-mobile-style {
  height:50px;
  width:auto;
}

hr {
  height: 3px;
  background: var(--ion-color-gris);
}

.menu-icon{
  width:25px !important;
  height:25px !important ;
}

.menu{
  margin: 0px; padding: 0px;
  text-align: start;
}

.splash-content{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.anm {
  animation: rotater 4.0s;
}

@keyframes rotater  {
0% {  transform : rotate(0deg) scale(0); }
100% {  transform : rotate(360deg) scale(1); }
}

.separador {
  height: 150px;
}


.myCard {
  position:relative;
}

.myOverlay {
  margin: 0px !important;
  padding: 0px !important;
  border: 0 !important;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 0.5;
  background: #313132;
  color: #fff;
  display: flex;
  align-items: center;
}

.myOverlay2 {
  margin: 0px !important;
  padding: 0px !important;
  border: 0 !important;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 0.5;
  color: rgb(129, 176, 63);
  display: flex;
  align-items: center;
}

.center{
  margin: 0px !important;
  padding: 0px !important;
  border: 0 !important;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  padding-top: 5px;
}

.subtitle {
  font-size: 0.9em;
  color: #666666;
  font-weight: bold;
}

.strong {
  font-size: 2.5em;
  font-weight: bold;
}

.parrafo {
  color: #666666;
  font-weight: bold;
  padding: 15px;
  text-align: justify;
}

.parrafo-2 {
  color: #666666;
  font-weight: bold;
}

.parrafo-3 {
  color: #A5A5A5;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 60px;
}
