<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar class="no-padding" style="padding-right: 10px;">
    <ion-searchbar style="--background:var(--ion-color-negro); color:white" [(ngModel)]="searchTerm" placeholder="Buscar" (search)="buscar()" (ionClear)="cancel()"></ion-searchbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="goBack()">
        <ion-icon color="negro"  slot="icon-only" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" >
    <ion-button (click)="buscar()"  fill="clear" size="small">
      <ion-icon color="negro" slot="icon-only" style="zoom:1.2 !important;" name="search-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isFRestaurants">

  <ion-card class="tab2 anima" *ngIf="productosBusqueda.length > 0">
   <ion-card-header>
     <strong>Resultados</strong>
   </ion-card-header>
   <ion-card-content>
     <ion-row class="shadow" style="border-radius: 15px;" *ngFor="let producto of productosBusqueda; let i = index;" (click)="goToDetalleProducto(producto.idProducto)">
       <ion-col size="8">
         <ion-row>
           {{producto.aNombreProducto}}
         </ion-row>
         <ion-row>
           <strong>${{producto.dPrecioProducto}}</strong>
         </ion-row>
       </ion-col>
       <ion-col size="4">
         <img style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;" src="{{this.vars.BASE_URL}}/public/img/productos/{{producto.aImagen}}" alt="">
       </ion-col>
       <br>
     </ion-row>
   </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of fRestaurant.productos; let i = index;">
        <ion-card-header>
          <ion-row>
            <ion-col size="2" class="ion-text-center">
                <img style="border-radius: 5px !important;" src="{{this.vars.BASE_URL}}/public/img/lugares/{{fRestaurant.aImagen}}" alt="sin logo">
            </ion-col>
            <ion-col size="10" style="padding-top: 20px;">
              <strong>{{item.aNombreCategoriaProducto}} en {{fRestaurant.aNombreLugar}}</strong>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let elemento of item.articulos; let i = index;">
            <ion-row *ngIf="!elemento.lTrueque && !elemento.lDonacion" class="shadow" style="border-radius: 15px;" (click)="goToDetalleProducto(elemento.idProducto)">
              <ion-col size="8">
                <ion-row>
                <!-- <ion-row *ngIf="elemento.lTrueque || elemento.lDonacion || elemento.lVentaOportunidad"> -->
                  <ion-col *ngIf="elemento.lVentaOportunidad" class="ion-no-padding ion-text-right">
                    <!-- <ion-button mode="ios" *ngIf="elemento.lTrueque" size="small" shape="round" fill="outline" color="verde">
                      Producto para trueque
                    </ion-button>
                    <ion-button mode="ios" *ngIf="elemento.lDonacion" size="small" shape="round" fill="outline" color="verde">
                      Producto de donación
                    </ion-button> -->
                    <ion-button mode="ios" *ngIf="elemento.lVentaOportunidad" size="small" shape="round" fill="outline" color="verde">
                      Producto en promoción
                    </ion-button>
                    <ion-button *ngIf="elemento.fFechaHoraFin < fFechaActual" mode="ios" size="small" shape="round" fill="outline" color="naranja">
                      Vencido
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  {{elemento.aNombreProducto}}
                </ion-row>
                <ion-row>
                  <strong>${{elemento.dPrecioProducto}}</strong>
                </ion-row>
              </ion-col>
              <ion-col size="4">
                <img style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;" src="{{this.vars.BASE_URL}}/public/img/productos/{{elemento.aImagen}}" alt="">
              </ion-col>
              <br>
            </ion-row>
          </div>
        </ion-card-content>
  </ion-card>
  </div>

</ion-content>
<app-menu></app-menu>
