ion-icon{
    color: #323332 !important;
  }

  ion-title {
    color: white;
    text-transform: uppercase;
  }

  .color {
    color: var(--ion-color-color-base);
  }

  .bordes{
    margin: 0px !important;
    padding: 0px !important;
  }

  .segment-title{
    font-size: 15px !important;
    color: var(--ion-color-base) !important;
    text-transform: uppercase;
  }

  .zoom{
    width: 10em !important;
    height: 10em !important;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .anima{
    animation: slide 1.0s;
  }

  @keyframes slide {
    0% { transform: translate(200px, 0px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
  }

  .horarios{
    padding-bottom: 30px;
    animation: downhorario 1.0s;
  }

  @keyframes downhorario {
      0% { transform: translate(0px, -10px) rotate(0deg); }
      100% { transform: translate(0px, 0px) rotate(0deg); }
  }

  .tab{
    animation: slide2 1.0s;
  }

  @keyframes slide2 {
    0% { transform: translate(200px, 0px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
  }

  .tab2{
    animation: slide3 1.0s;
  }

  @keyframes slide3 {
    0% { transform: translate(-200px, 0px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
  }

  .sobre {
    position: relative;
    display: inline-block;
  }

  .sobre button {
    position: absolute;
    top: calc(10%);
    left: calc(80%);
  }