// ion-button {
//   --background-hover-opacity: 100%;
//   --background-hover: var(--ion-color-menu-icon);
// }

ion-icon{
  color: white;
}

.color-footer{
  background-color: var(--ion-color-menu-color);
}

.efecto:hover {
  animation: movimi 0.8s;
}

ion-col{
  text-align: center !important;
}

#cart-btn {
  position: relative;
}

#cart-badge {
  position: absolute;
  top: 3px;
  right: 10px;
}

.color {
  color: var(--ion-color-menu-icon)
}

.color-border {
  border-top: 4px solid var(--ion-color-menu-icon);
}

.border-top-line-color{
  border-top: 4px solid var(--ion-color-menu-color);
}

.mov{
  color: var(--ion-color-menu-icon);
  animation: movimi 0.8s;
}

@keyframes movimi {
  0% { transform: translate(0px, 3px) }
  50% { transform: translate(0px, -3px) }
  100% { transform: translate(0px, 0px) }
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px !important;
}

.border-r{
  border-top-right-radius: 15px !important;
}

.border-l{
  border-top-left-radius: 15px !important;
}

.border-all{
  border: 0px!important;
  margin: 0px!important;
  padding: 0px!important;
  border-color: moccasin;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

.alerta-style{
  height: 30px;
  width: 30px;
  border-radius: 25%;
  background-color: var(--ion-color-rojo);
}

.alerta{
  position: absolute;
  display: inline-block;
  top: calc(-200%);
  left: calc(55%);
  animation: tos 3.5s infinite;
}

@keyframes tos {
  0%   { transform : rotate(0deg) scale(1); }
  30%  { transform: scaleX(-1) scale(.8); }
  60%  { transform : rotate(360deg) scale(.6); }
  100% { transform: translate3d(-110%,300%,0) scale3d(1,1,1) scale(.1);}
}
