<ion-footer>
  <ion-toolbar class="ion-no-border ion-no-padding">
    <ion-row class="border-all color-footer">
      <ion-col *ngIf="this.vars.statusMenu == 1 " class="efecto color-border border-l">
        <ion-button fill="clear" *ngIf="this.vars.isTabMenu" class="mov" (click)="goToHome(1)">
          <ion-icon slot="icon-only" name="home-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" *ngIf="!this.vars.isTabMenu" (click)="goToHome(1)">
          <ion-icon slot="icon-only" color="menu-icon" name="home-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="this.vars.statusMenu != 1 " class="efecto border-top-line-color border-l">
        <ion-button fill="clear" (click)="goToHome(1)">
          <ion-icon slot="icon-only" color="blanco" name="home-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col *ngIf="this.vars.statusMenu == 2 " class="efecto color-border">
        <div *ngIf="(this.vars.isUserLoggedIn && this.vars.pedidosPendientes != 0) || (this.vars.isUserLoggedIn && this.vars.pedidosPorCalificar != 0) &&
        (this.vars.pedidosPendientes + this.vars.pedidosPorCalificar) > 0">
        <ion-badge id="cart-badge" color="naranja" >{{this.vars.pedidosPendientes + this.vars.pedidosPorCalificar}}</ion-badge>
      </div>
      <ion-button fill="clear" *ngIf="this.vars.isTabMenu" class="mov" (click)="goToUsuario(2)">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" *ngIf="!this.vars.isTabMenu" (click)="goToUsuario(2)">
        <ion-icon slot="icon-only" color="menu-icon" name="person-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="this.vars.statusMenu != 2 " class="efecto border-top-line-color">
      <div *ngIf="(this.vars.isUserLoggedIn && this.vars.pedidosPendientes != 0) || (this.vars.isUserLoggedIn && this.vars.pedidosPorCalificar != 0) &&
      (this.vars.pedidosPendientes + this.vars.pedidosPorCalificar) > 0">
      <ion-badge id="cart-badge" color="naranja" >{{this.vars.pedidosPendientes + this.vars.pedidosPorCalificar}}</ion-badge>
    </div>
    <ion-button fill="clear" (click)="goToUsuario(2)">
      <ion-icon slot="icon-only" color="blanco" name="person-outline"></ion-icon>
    </ion-button>
  </ion-col>

  <ion-col *ngIf="this.vars.statusMenu == 3 " class="efecto color-border">
    <ion-button fill="clear" *ngIf="this.vars.isTabMenu" class="mov" (click)="goToEventos(3)">
      <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" *ngIf="!this.vars.isTabMenu" (click)="goToEventos(3)">
      <ion-icon slot="icon-only" color="menu-icon" name="calendar-outline" ></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col *ngIf="this.vars.statusMenu != 3 " class="efecto border-top-line-color">
    <ion-button fill="clear" (click)="goToEventos(3)">
      <ion-icon slot="icon-only" color="blanco" name="calendar-outline"></ion-icon>
    </ion-button>
  </ion-col>

  <ion-col *ngIf="this.vars.statusMenu == 4 " class="efecto color-border border-r">
  <div *ngIf="!this.location.ok && !vars.isNotificacion">
      <ion-badge id="cart-badge" color="naranja">1</ion-badge>
    </div>
    <ion-button fill="clear" *ngIf="this.vars.isTabMenu" class="mov" (click)="goToAjustes(4)">
      <ion-icon slot="icon-only" name="hammer-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" *ngIf="!this.vars.isTabMenu" (click)="goToAjustes(4)">
      <ion-icon slot="icon-only" color="menu-icon"  name="hammer-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col *ngIf="this.vars.statusMenu != 4 " class="efecto color-border border-top-line-color border-r">
    <div *ngIf="vars.isNotificacion" class="alerta alerta-style"><p style="padding-top: 13%; color: #fff; font-size: 18px !important;"><strong>1</strong></p></div>
    <div *ngIf="!this.location.ok && !vars.isNotificacion">
      <ion-badge id="cart-badge" color="naranja">1</ion-badge>
    </div>
    <ion-button fill="clear" (click)="goToAjustes(4)">
      <ion-icon slot="icon-only" color="blanco" name="hammer-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
</ion-toolbar>
</ion-footer>
