<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <strong style="font-size: 15px !important;">Pedidos</strong>
    </ion-title>
    <ion-buttons slot="end" *ngIf="this.vars.isPedidos" (click)="goToFiltro()">
    <ion-button fill="clear" size="small" >
      <ion-icon slot="icon-only" name="options" color="color-base"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row *ngIf="tamanoinicio != 0" style="background: #F8F9FAFF !important; padding-left: 5px !important;">
    <ion-col  class="ion-align-self-start" size="8">
   <div>{{tamanoinicio}} resultados</div>
    </ion-col>
  </ion-row>

<ion-card  class="shadow" *ngIf="this.vars.isPedidos" [hidden]="!this.vars.isMobileBrowser">
<ion-card-content *ngFor="let item of pedidosToShow" >

  <ion-row (click)="goToPedido(item)">
      <ion-col size="3">
        <img *ngIf="!item.aImagen"  style="border-radius: 15px !important;" src="/assets/icon/pedido.svg" alt="sin logo">
        <img *ngIf="item.aImagen"  style="border-radius: 15px !important;" src="{{this.vars.BASE_URL}}/public/img/lugares/{{item.aImagen}}" alt="sin logo">
      </ion-col>
      <ion-col size="9">
        <ion-row>
          {{item.aNombreLugar}}
        </ion-row>
        <ion-row class="info" *ngIf="item.fFechaHoraEntrega != null">
          Llegó el {{item.fFechaHoraEntrega}}
        </ion-row>
        <ion-row class="info" *ngIf="item.fFechaHoraEntrega == null">
          {{item.aObservacionPedido}}
        </ion-row>
        <ion-row class="info">
          {{ item.dTotal | currency }}
        </ion-row>
      </ion-col>
    </ion-row>
</ion-card-content>
</ion-card>
<ion-card  class="shadow" *ngIf="this.vars.isPedidos" [hidden]="this.vars.isMobileBrowser">
  <ion-card-content *ngFor="let item of pedidosToShow" >

    <ion-row class="ion-align-items-center" (click)="goToPedido(item)">
        <ion-col size="3">
          <img *ngIf="!item.aImagen"  style="border-radius: 15px !important; height: 200px;" src="/assets/icon/pedido.svg" alt="sin logo">
          <img *ngIf="item.aImagen"  style="border-radius: 15px !important; height: 200px;" src="{{this.vars.BASE_URL}}/public/img/lugares/{{item.aImagen}}" alt="sin logo">
        </ion-col>
        <ion-col size="9">
          <ion-row>
            {{item.aNombreLugar}}
          </ion-row>
          <ion-row class="info" *ngIf="item.fFechaHoraEntrega != null">
            Llegó el {{item.fFechaHoraEntrega}}
          </ion-row>
          <ion-row class="info" *ngIf="item.fFechaHoraEntrega == null">
            {{item.aObservacionPedido}}
          </ion-row>
          <ion-row class="info">
            {{ item.dTotal | currency }}
          </ion-row>
        </ion-col>
      </ion-row>
  </ion-card-content>
  </ion-card>

<ion-row *ngIf="tamanoinicio != 0" style="background: #F8F9FA!important; padding-bottom: 10px !important; padding-left: 5px !important;">
<ion-col  class="ion-align-self-start" size="8">
 <div>
  vistos {{tamanofinal}} de {{tamanoinicio}}
 </div>
</ion-col>
</ion-row>

<div *ngIf="scroll">
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando elementos">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>

<ion-card  class="shadow" *ngIf="!this.vars.isPedidos" style="height: 95% !important; background-image: url('assets/icon/centrado.svg'); background-size: cover; background-repeat: no-repeat; background-position: center center" [hidden]="!this.vars.isMobileBrowser">
<ion-card-content>
  <ion-row>
    <ion-col style="text-align: center !important;">
    <strong>No haz realizado ningun pedido.</strong>
    </ion-col>
  </ion-row>
</ion-card-content>
</ion-card>
<ion-card  class="shadow" *ngIf="!this.vars.isPedidos" style="height: 95% !important; background-image: url('assets/icon/centrado.svg'); background-size: 80% 80%; background-repeat: no-repeat; background-position: center center" [hidden]="this.vars.isMobileBrowser">
  <ion-card-content>
    <ion-row>
      <ion-col style="text-align: center !important;">
      <strong>No haz realizado ningun pedido.</strong>
      </ion-col>
    </ion-row>
  </ion-card-content>
  </ion-card>

</ion-content>
<app-menu></app-menu>
