<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title><strong style="font-size: 15px !important; color: #222;">COMPLETA TU PERFIL</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #f4f3ef !important; border-radius: 8px !important;">
    <ion-card>
      <ion-card-header>
        <strong>usuario</strong>
      </ion-card-header>
      <ion-card-content>
      <input type="text"   [(ngModel)]="usuario" style="border-radius: 8px !important; padding-left: 15px !important; height: 45px !important; box-shadow: none !important; border-style: none !important; background: #ececec !important; width: 100% !important; color: #222 !important; box-shadow: rgba(34, 33, 33, 0.15) 3.95px 3.95px 5.6px !important;" >
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <strong>Sexo</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
        <ion-radio-group [(ngModel)]="genero" name="genero">
          <ion-item lines="none">
            <ion-label>Hombre</ion-label>
            <ion-radio slot="end" name="genero" color="menu-icon" value="H"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Mujer</ion-label>
            <ion-radio slot="end" name="genero" color="menu-icon" value="M"></ion-radio>
          </ion-item>
        </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <strong>Fecha nacimiento</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="shadow" style="border-radius: 8px !important; background: #ececec !important; color: #222 !important; margin-bottom: 10px!important;">
        <ion-label style="color: #222 !important;">Ingresar</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fecha" color="menu-icon"></ion-datetime>
      </ion-item>
      <div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button shape="round" style="width: 100px !important;" color="color-base" (click)="completeUserProfile()">Guardar</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button shape="round" style="width: 100px !important;" color="color-base" (click)="close()">Volver</ion-button>
        </ion-col>
      </ion-row>
      </div>
      </ion-card-content>
    </ion-card>
</ion-content>
