<ion-header>
  <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-searchbar #searchInput animated="true" [(ngModel)]="searchTerm" placeholder="Buscar" (search)="buscar('0')" (ionClear)="cancel()" (ionChange)="debounce()" debounce="500" (keypress)="buscarEnter($event)" style="--background:var(--ion-color-negro) !important;--color:#ffffff;;--border-radius:5px;"></ion-searchbar>
    <ion-buttons slot="end">
    <ion-button  (click)="buscar('0')" fill="clear">
      <ion-icon slot="icon-only" color="negro" name="search"></ion-icon>
    </ion-button>
    <ion-button *ngIf="this.arrScrollaux.length > 0" (click)="goToFiltro()" fill="clear">
      <ion-icon slot="icon-only" color="negro" name="options"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="this.vars.sugerencias && arrScroll.length == 0">
    <ion-item *ngFor="let item of this.vars.sugerencias" lines="none" style="padding-left: 27px !important;">
      <ion-icon style="zoom:0.75 !important; color:#ada9a9 !important;" name="search" slot="start" (click)="buscar(item.aNombreLugar)"></ion-icon>
      <p (click)="buscar(item.aNombreLugar)">{{item.aNombreLugar}}</p>
      <ion-icon style="zoom:0.75 !important; color:#ada9a9 !important;" name="trending-up" slot="end" (click)="setSearch(item.aNombreLugar)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="tamanoinicio != 0" class="estilo-row">
    <ion-col class="ion-text-right ion-no-padding">
      <ion-button  fill="outline" shape="round" size="small" color="negro">
        {{tamanoinicio}}
        <ion-icon name="checkmark" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
<!-- Si es navegador movil -->
<ion-card *ngFor="let item of arrScroll" class="shadow"  [hidden]="!this.vars.isMobileBrowser">
  <ion-card-header>
    {{item.aNombreLugar}}
  </ion-card-header>

    <ion-card-content>
      <img class="redondeo" (click)="goToFRestaurant(item.idLugar)" src="{{this.vars.BASE_URL}}/public/img/lugares/{{item.aImagen}}" alt="imagen">
      <ion-row style="padding: 10px !important;">
      <ion-col size="2" class="ion-align-self-center" >
        <ion-row>
            <ion-icon color="color-base" size="large" name="navigate-circle"></ion-icon>
        </ion-row>
      <ion-row *ngIf="item.distancia1 != null && item.distancia1 != '0 m' && item.distancia1 != 'NaN m' " >
        <h3>{{item.distancia1}}</h3>
      </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          {{item.aDireccion}}
        </ion-row>
      </ion-col>
      </ion-row>
      <ion-row *ngIf="item.productos.length > 0">
        <ion-col>
          <ion-slides [options]="slideOpts" >
            <ion-slide *ngFor="let producto of item.productos;" style="padding-top:0px !important;" (click)="goToDetalleProducto(producto.idProducto,item)">
                  <ion-card class="card-slide">
                      <ion-card-content class="bordes">
                        <ion-row>
                          <ion-col size="5" class="start-border">
                               <ion-row style="text-align: left !important;">
                                 {{producto.aNombreProducto}}
                               </ion-row>
                               <ion-row>
                                 MX${{producto.dPrecioProducto}}
                               </ion-row>
                               <ion-row>
                                 <ion-button class="ver-button" >
                                   Ver
                                 </ion-button>
                               </ion-row>
                          </ion-col>
                          <ion-col size="7" class="second-border">
                            <img style="height: 105px; width: auto;" src="{{this.vars.BASE_URL}}/public/img/productos/{{producto.aImagen}}">
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                  </ion-card>
            </ion-slide>
            <ion-slide (click)="goToProductos(item.idLugar, item.productos)">
              <ion-card style="width: 70px !important;">
                  <ion-card-content class="bordes" class="ion-text-align-center">
                      <img style="height: 105px; width: auto;" src="{{this.vars.BASE_URL+'/public/img/subcategorias/mas.svg'}}" alt="imagen">
                  </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
    <!-- si es navegador web -->
    <!-- <ion-card *ngFor="let item of arrScroll" class="shadow" [hidden]="this.vars.isMobileBrowser">
      <ion-card-header class="ion-text-center" >
       <ion-label  style="font-size: 35px !important;"></ion-label>
       {{item.aNombreLugar}}
      </ion-card-header>

        <ion-card-content >
         <div class="ion-text-center redondeo">
           <img  class="ion-text-center redondeo" (click)="goToFRestaurant(item.idLugar)" src="{{this.vars.BASE_URL}}/public/img/lugares/{{item.aImagen}}" alt="imagen">
          </div>
          <ion-row style="padding: 10px !important;" >
            <ion-col size="2" >
              <ion-row class="ion-align-items-end">
                <ion-col>
                  <div style="text-align: right;">
                    <ion-icon  color="color-base" size="large" name="navigate-circle"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="item.distancia1 != null && item.distancia1 != '0 m' && item.distancia1 != 'NaN m' " >
              <h3>{{item.distancia1}}</h3>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                  <ion-col>
                      <div style="text-align:center !important; padding-right: 80px;">
                        {{item.aDireccion}}
                      </div>
                  </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.productos.length > 0">
            <ion-col>
              <ion-slides [options]="slideOpts">
                <ion-slide *ngFor="let producto of item.productos;" style="padding-top:0px !important;" (click)="goToDetalleProducto(producto.idProducto,item)">
                      <ion-card class="card-slide">
                          <ion-card-content class="bordes">
                            <ion-row>
                              <ion-col size="5" class="start-border">
                                   <ion-row style="text-align: left !important;">
                                     {{producto.aNombreProducto}}
                                   </ion-row>
                                   <ion-row>
                                     MX${{producto.dPrecioProducto}}
                                   </ion-row>
                                   <ion-row>
                                     <ion-button class="ver-button" >
                                       Ver
                                     </ion-button>
                                   </ion-row>
                              </ion-col>
                              <ion-col size="7" class="second-border">
                                <img style="height: 205px; width: auto;" src="{{this.vars.BASE_URL}}/public/img/productos/{{producto.aImagen}}">
                              </ion-col>
                            </ion-row>
                          </ion-card-content>
                      </ion-card>
                </ion-slide>
                <ion-slide (click)="goToProductos(item.idLugar, item.productos)">
                  <ion-card style="width: 70px !important;">
                      <ion-card-content class="bordes" class="ion-text-center">
                          <img style="height: 90px; width: auto;" src="{{this.vars.BASE_URL+'/public/img/subcategorias/mas.svg'}}" alt="imagen">
                      </ion-card-content>
                  </ion-card>
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card> -->
      <ion-card *ngFor="let item of arrScroll" class="shadow" [hidden]="this.vars.isMobileBrowser">
        <ion-card-header class="ion-text-center" >
         <ion-label  style="font-size: 35px !important;"></ion-label>
         {{item.aNombreLugar}}
        </ion-card-header>

          <ion-card-content >
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="6" >
                <div class="ion-text-center redondeo">
                  <img  class="ion-text-center redondeo" (click)="goToFRestaurant(item.idLugar)" src="{{this.vars.BASE_URL}}/public/img/lugares/{{item.aImagen}}" alt="imagen">
                 </div>
              </ion-col>
              <ion-col>
                <ion-row  >
                  <ion-col size="2" class="ion-align-self-center"  >
                    <ion-row class="ion-align-items-end ion-justify-content-center">
                      <ion-col class="ion-align-self-center">
                        <div style="text-align: right;">
                          <ion-icon  color="color-base" size="large" name="navigate-circle"></ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-end ion-justify-content-center" *ngIf="item.distancia1 != null && item.distancia1 != '0 m' && item.distancia1 != 'NaN m' " >
                    <h3>{{item.distancia1}}</h3>
                    </ion-row>
                  </ion-col>
                  <ion-col class="ion-align-self-center">
                  <div style="text-align:left !important; padding-right: 80px;">
                              {{item.aDireccion}}
                            </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="item.productos.length > 0">
              <ion-col>
                <ion-slides [options]="slideOpts">
                  <ion-slide *ngFor="let producto of item.productos;" style="padding-top:0px !important;" (click)="goToDetalleProducto(producto.idProducto,item)">
                        <ion-card class="card-slide">
                            <ion-card-content class="bordes">
                              <ion-row>
                                <ion-col size="5" class="start-border">
                                     <ion-row style="text-align: left !important;">
                                       {{producto.aNombreProducto}}
                                     </ion-row>
                                     <ion-row>
                                       MX${{producto.dPrecioProducto}}
                                     </ion-row>
                                     <ion-row>
                                       <ion-button class="ver-button" >
                                         Ver
                                       </ion-button>
                                     </ion-row>
                                </ion-col>
                                <ion-col size="7" class="second-border">
                                  <img style="height: 205px; width: auto;" src="{{this.vars.BASE_URL}}/public/img/productos/{{producto.aImagen}}">
                                </ion-col>
                              </ion-row>
                            </ion-card-content>
                        </ion-card>
                  </ion-slide>
                  <ion-slide (click)="goToProductos(item.idLugar, item.productos)">
                    <ion-card style="width: 70px !important;">
                        <ion-card-content class="bordes" class="ion-text-center">
                            <img style="height: 90px; width: auto;" src="{{this.vars.BASE_URL+'/public/img/subcategorias/mas.svg'}}" alt="imagen">
                        </ion-card-content>
                    </ion-card>
                  </ion-slide>
                </ion-slides>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>


      <ion-row *ngIf="tamanoinicio != 0" class="estilo-row">
        <ion-col class="ion-text-right ion-no-padding">
          <ion-button  fill="outline" shape="round" size="small" color="negro">
             {{tamanofinal}} de {{tamanoinicio}}
          </ion-button>
        </ion-col>
      </ion-row>

      <div *ngIf="scroll==true">
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando elementos">
        </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>

</ion-content>
<app-menu></app-menu>
