.estilo-row{
    padding: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
    --background: var(--ion-color-negro);
  }

 .font-android-searchbar {
    font-size: 25px !important;
 }

 .ver-button{
   --border-radius: 20px !important;
   padding-left: 15px;
   padding-right: 15px;
   --background: var(--ion-color-color-base);
 }

.card-slide{
  --background: #ececec;
  --border-left: 1px var(--ion-color-color-base) solid;
}

.second-border{
  padding: 0px !important;
  margin: 0px !important;
}

.start-border{
  padding-bottom: 0px !important;
}