<ion-header>
  <app-redal-toolbar></app-redal-toolbar>
</ion-header>

<ion-content>
  <div padding id="map3" style="width:100%; height:100%;"></div>
  <app-redal-footer></app-redal-footer>
</ion-content>
<app-menu></app-menu>
