.video-title{
  background: var(--ion-color-color-base) !important;
  margin:0px  !important;
  padding: 0px  !important;
  border: 0px!important;
}

.no-border{
  margin:0px  !important;
  padding: 0px  !important;
  border: 0px!important;
}

.texto{
  color: var(--ion-color-blanco) !important;
}
