<ion-header>
    <app-redal-toolbar menuSelection="other"></app-redal-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="negro" name="caret-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
     <ion-title>
       <strong style="font-size: 15px !important;">VIDEOS</strong>
     </ion-title>
     <ion-buttons slot="end">
       <ion-button *ngIf="vars.idEstado == 0" (click)="goToFiltro()" fill="clear">
         <ion-icon slot="icon-only" color="negro" name="options"></ion-icon>
       </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="tamanoinicio != 0" style="padding: 5px !important; background: #fff !important; padding-bottom: 5px !important; padding-left: 5px !important;">
      <ion-col class="ion-text-right ion-no-padding">
        <ion-button fill="outline" shape="round" color="negro">
          {{tamanoinicio}} resultados
          <ion-icon slot="end" name="checkmark-outline" color="color-base"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let video of videosToShow" size="{{gridSize}}">
        <ion-card *ngIf="video.videoSatinizer" class="shadow">
          <ion-card-title style="height: 50px;" class="video-title ion-text-wrap">
          <p style="text-align: center !important;font-size: 20px !important; border: 0px!important;" class="texto"> {{video.aNombre}}</p>
          </ion-card-title>
      <ion-card-content class="no-border" >
        <ion-row class="no-border">
          <iframe  class="no-border" id="playerid" width="100%" height="240" [src]="video.videoSatinizer" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen  scrolling="no" ></iframe>
        </ion-row>
      </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-row *ngIf="tamanoinicio != 0" style="padding: 5px !important; background: #fff !important; padding-bottom: 5px !important; padding-left: 5px !important;">
  <ion-col class="ion-text-right ion-no-padding">
    <ion-button slot="end" fill="outline" shape="round" color="negro">
      vistos {{tamanofinal}} de {{tamanoinicio}}
    </ion-button>
  </ion-col>
</ion-row>

<div *ngIf="scroll">
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando elementos">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

</ion-content>
<app-menu></app-menu>
